{% extends "Tetxts.html" %}{% block content %}
<p>Мы одержимы подсчетом калорий. Хотя, если вы не считаете калории, скорее всего, вы становитесь веганом или придерживаетесь палеодиеты. Мы следуем моде, ищем быстрых результатов и достигаем крайностей. Очень хорошо проходить планы по снижению веса (например) для достижения цели, но если у нас впоследствии не будет привычек здорового образа жизни, нам будет очень трудно поддерживать себя.
<br>
Это правда, что самые устойчивые, разумные и функциональные привычки образа жизни не всегда привлекательны, но они работают. Вот 10 привычек, которые сделают вашу жизнь немного здоровее. Хотел бы я, чтобы ты сказал мне, что уже сделал их все!<br />
Кстати, я не стал добавлять «заниматься физическими упражнениями», потому что это кажется мне очень очевидным. Я хочу, чтобы вы уделили внимание некоторым аспектам, которые можно упустить из виду. Тем не менее, тренируйтесь чаще!
<br></p>
<br><h2>Не бойтесь бежать</h2>
<p><br>
Кто-то скажет, что бег скучен, неестественен, слишком утомителен для тела и вреден для здоровья. Напомню, что люди бегают на длинные дистанции веками. В начале нашего существования мы гонялись за газелями, пока не довели их до полного истощения. На самом деле нет более доступной формы упражнений.
<br>
Это правда, что бег — не лучший способ сжечь жир или натренировать сердечно-сосудистую систему. Бег сам по себе не способствует наращиванию мышечной массы, но если мы включим его в тренировочную программу, то сможем извлечь из него наибольшую пользу.
<br></p>
<br><h2>практиковать внимательность</h2>
<p><br>
Да, медитировать и заниматься йогой. Я знаю, что большинство людей устали слушать о пользе, которую приносит осознанность, но это правда, что это основное противоядие от ритма жизни, который мы ведем сегодня. Конечно, это не чудо, но несколько минут в день могут сделать гораздо больше, чем просто снять стресс. Это вернет вам контроль над вашим терпением, эмоциональным благополучием и лучшей концентрацией внимания.
<br></p>
<br><h2>Ходить</h2>
<p><br>
Ходьба — это то, что почти каждый из нас может делать, и очень немногие делают это в повседневной жизни. Для самых неопытных это первый шаг (?) к улучшению физического здоровья; В случае с теми, кто тренируется регулярно, это послужит методом восстановления. Вы можете использовать свои прогулки как форму медитации или как необходимую передышку, чтобы избавиться от сидячего образа жизни.
<br>
Кроме того, нам всем нужен солнечный свет, поэтому это хорошее время, чтобы подумать или заняться чем-то, что свяжет вас с семьей и друзьями. Если вы хотите подняться на новый уровень, отправляйтесь в поход в горы и сделайте из этого тренировку.
<br></p>
<br><h2>Пить воду</h2>
<p><br>
Мы очень тяжелые, да, но наше тело не работает должным образом, когда мы обезвожены. Употребление большего количества воды (и только воды) помогает от всего, и от головных болей, и от запоров. Кроме того, мы склонны потреблять гораздо больше ненужных калорий, когда мы не пьем достаточно воды. Это кажется невероятным, но обычно мы путаем голод с жаждой.
<br>
Пейте воду, не поддавайтесь искушению добавлять в свой организм жидкие калории, которые только сделают вас толстыми. Логично, что все мы время от времени употребляем алкогольные напитки, но это не должно стать привычкой.
<br></p>
<br><h2>Делайте тренировки с отягощениями</h2>
<p><br>
Тренировки с отягощениями очень важны. Это увеличивает ваш метаболизм и плотность костей, улучшает осанку, дает вам полный диапазон движений, и вы можете быть всесторонним спортсменом.
<br>
Вы можете довести силовые тренировки до крайности, когда они оттолкнут вас от здоровых привычек, но большинство людей знают, каковы пределы, и не раздвигают их. Мой совет — ввести в свои тренировочные программы такие паттерны, как приседания, тяги, толчки, тяги и т. д.
<br></p>
<br><h2>Передвигайтесь на велосипеде или пешком</h2>
<p><br>
Угадай, что. Когда вы идете пешком или едете на велосипеде по велосипедной дорожке, нет напряженного движения. Кроме того, вы получаете такие преимущества, как внимание к своему окружению, ежедневные физические упражнения, отсутствие транспортных расходов... Есть ли какие-либо недостатки у этого способа передвижения?
<br>
Таким образом, мы обязуемся жить в соответствии со здоровыми ценностями, которые выходят за рамки одночасовой тренировки. Возможно, это одна из самых важных привычек, которую вы должны начать перенимать.
<br></p>
<br><h2>Иметь активную и прибыльную профессию</h2>
<p><br>
Я знаю, как тяжело иметь активную профессию, которая заставляет двигаться весь день. Обычным делом является сидячая работа, на которой мы сидим или стоим по много часов подряд. Поход в спортзал на час — отличный первый шаг, но он не может «прикрыть» жизнь, полную малоподвижного образа жизни.
<br>
Если работа составляет большую часть нашей жизни, мы должны выбрать ту, которая мотивирует нас и поддерживает активность.
<br></p>
<br><h2>Исключите добавленный сахар</h2>
<p><br>
В западной диете сахар должен быть повсюду и добавляться во все подряд. (Ультра)обработанные продукты полны сахара, и это ад для вашей талии и ума. Вот почему Всемирная организация здравоохранения (ВОЗ) теперь рекомендует потреблять всего 5% или меньше ваших ежедневных калорий в виде добавленных сахаров.
<br>
Полное их устранение заставляет людей есть гораздо больше натуральных и свежих продуктов. Это, как правило, создает новые и здоровые привычки в еде. Это очень простое и легкое изменение, если вы хорошо спланируете.
<br></p>
<br><h2>Иметь график ночного отдыха</h2>
<p><br>
Адекватный отдых регулирует наши гормоны, омолаживает организм, улучшает память и укрепляет нашу иммунную систему. В противном случае мы чувствуем себя вялыми, капризными и подвергаемся повышенному риску депрессии, инсульта, сердечных заболеваний и диабета.
<br>
Кроме того, если вы хорошо выспались, у вас гораздо больше шансов сделать правильный выбор питания и оставаться активным в течение дня. Специалисты рекомендуют спать от 7 до 10 часов в сутки. Чтобы достичь этого удовлетворительно, вы можете:
<br>
- Ложитесь спать на час раньше каждую ночь.
- Регулярно создавайте ритуал релаксации примерно за 30–60 минут до сна.
- Оставьте телефон и телевизор за пределами спальни. Если вам нужен будильник, возьмите классический будильник.
- Если вы не можете заснуть примерно через 30 минут в постели, встаньте и сделайте что-нибудь, что заставляет вас чувствовать усталость.
<br></p>
<br><h2>Окружите себя людьми и окружающей средой, которые заботятся о здоровье</h2>
<p><br>
Без сомнения, последнего добиться труднее всего, но зато и наиболее заметно. Мы социальные существа, склонные принимать обычаи окружающих нас групп. Если вы окружаете себя людьми, которые ведут малоподвижный образ жизни, едят фаст-фуд и не занимаются спортом, скорее всего, вы такие же, как они.<br />
Тем не менее, не все ваше окружение должно быть таким. Как только вы начинаете заниматься спортом, вы начинаете встречать людей, которые имеют ту же цель или мышление, что и вы. Ищите тех, кто хочет вести здоровый образ жизни и делитесь с ними своим временем.</p>{% endblock %}