{% extends "Tetxts.html" %}{% block content %}
<p>Если бы мы знали, как научиться не болеть, наша жизнь определенно бы стала лучше. И хотя единственно правильного ответа не существуют, последние научные данные могут подсказать, что нужно делать для того, чтобы иммунитет был крепче.
<br></p>
<br><h2>1. Пейте больше воды</h2>
<p><br>
Взрослый человек примерно на 60-70% состоит из воды. При этом живительная влага — самый простой и эффективный способ укрепить иммунную систему. Достаточное увлажнение организма (которое можно распознать по светло-желтому оттенку мочи) означает, что кровь своевременно насыщается кислородом, токсины выводятся, а жизненно важные органы и мышцы функционируют наилучшим образом.
<br></p>
<br><h4>Какую минеральную воду можно пить беременным: столовая или лечебная, c газом или без?</h4>
<p><br>
Какая минералка пойдёт на пользу во время беременности: выбираем эффективную для питьевого режима будущей маме.
<br></p>
<br><h2>2. Принимайте витамин С</h2>
<p><br>
Помимо способности бороться с вирусами, этот витамин может предупредить развитие многих заболеваний. Доподлинно известно, что он играет важнейшую роль для роста и развития тканей организма, здоровья сердца и костей, зубов и хрящей.
<br>
Витамин С можно найти во многих фруктах и овощах или в качестве витаминной добавки.
<br></p>
<br><h2>3. Обогатите рацион цинком</h2>
<p><br>
Этом минерал так же важен, как и витамин С, если речь идет о росте и поддержании ресурсов клеток и укреплении иммунитета. Включение цинка в рацион увеличит способность организма противостоять инфекциям.
<br>
Найти его можно в семенах и орехах, мясной продукции, цельных злаках.
<br></p>
<br><h2>4. Ешьте больше чеснока</h2>
<p><br>
Специалисты WebMD называют эту ароматную специю «суперзвездой, повышающей иммунитет». А мы недавно рассказывали об удивительных свойствах чеснока​.​ Помимо того, что он добавляет блюдам пикантные ноты вкуса, он еще помогает бороться с токсинами, эффективно противостоит бактериям и вирусам, помогает избежать инфицирования. Но полезнее всего чеснок в свежем виде — при термической обработке уменьшается содержанием в нем природного антибиотика — аллицина.
<br></p>
<br><h2>5. Готовьте теплые напитки для повышения иммунитета</h2>
<p><br>
Откажитесь от пустых калорий — коктейлей и газировки из магазина, чрезмерного количества чая и кофе. Вместо всего этого готовьте полезные напитки, укрепляющие иммунитет. Это могут быть настой шиповника, чай с лимоном, настой бузины или ромашки. Отлично себя зарекомендовал и костный бульон. Благодаря содержанию аминокислот — аргинина, глутамина и глицина, он укрепляет иммунные функции организма.
<br></p>
<br><h2>6. Занимайтесь фитнесом не меньше 150 минут в неделю</h2>
<p><br>
Помимо того, что физическая нагрузка улучшает настроение и снижает стресс, упражнения являются ключом к активной жизни без болезней.
<br>
Специалисты <strong><em>*Centers</em></strong><em> </em><strong><em>for</em></strong><em> </em><strong><em>Disease</em></strong><em> </em><strong><em>Control</em></strong><em> </em><strong><em>and</em></strong><em> </em><em>Prevention</em><em> рассказывают: найдены убедительные данные, что фитнес снижает риск возникновения многих хронических заболеваний, при условии достаточной и регулярной нагрузки. Они рекомендуют 150 минут в неделю отводить кардио-нагрузке средней интенсивности и дополнительно два дня в неделю — силовым упражнениям.
<br>
Новое исследование, опубликованное в </em><strong><em>Journal</em></strong><em> </em><strong><em>of</em></strong><em> </em><strong><em>the</em></strong><em> </em><strong><em>American</em></strong><em> </em><strong><em>Medical</em></strong><em> </em><strong><em>Association</em>*,</strong> показало, что хотя 10 000 шагов в день являются отличной целью, все преимущества для здоровья можно получить при меньших значениях, а именно — 7500 шагов.
<br></p>
<br><h2>7. Избегайте обработанного мяса</h2>
<p><br>
И налегайте на качественный белок. Он имеет решающее значение в поддержании ресурсов иммунной системы.
<br>
Так, в одном исследовании с участием грызунов выяснилось, что мыши, которые употребляли только 2% белка каждый день, чаще и тяжелее болели гриппом по сравнению с теми, которые употребляли рекомендуемую норму — то есть 18% белка. Но как только мышей начинали кормить правильно, они выздоравливали.
<br>
По мнению специалистов <strong><em>*Harvard</em></strong><em> </em><strong><em>T</em>*.</strong><strong><em>*H</em>*.</strong> <strong><em>*Chan</em></strong><em> </em><strong><em>School</em></strong><em> </em><strong><em>of</em></strong><em> </em><strong><em>Public</em></strong><em> </em><em>Health</em>*, оптимальными источниками белка для человека являются бобовые культуры, орехи и семечки, птица (курица, индейка, утка) и морепродукты. Красное мясо рекомендовано употреблять в ограниченном количестве, а от обработанного — и вовсе отказаться.
<br></p>
<br><h2>8. Начните высыпаться</h2>
<p><br>
Организм человека восстанавливается во сне, вот почему достаточный ночной сон — необходимое условие для нормальной работы иммунитета. Согласно обзору, опубликованному в <strong><em>*Pflugers</em></strong><em> </em><strong><em>Archiv</em></strong><em> </em><strong><em>European</em></strong><em> </em><strong><em>Journal</em></strong><em> </em><strong><em>of</em></strong><em> </em><em>Physiology</em><em>, во время сна организм регулирует выработку ключевых иммунных клеток и молекул, поэтому недосыпание — самый простой путь к заражению респираторно-вирусными заболеваниями.
<br>
Эти данные подтвердило исследование 2017 года, результаты которого обнародовало издание </em><em>Behavioral Sleep Medicin.</em>* Здоровые молодые люди, страдающие от бессонницы, были больше восприимчивы к гриппу, чем те, у кого не было проблем со сном. При этом ситуация не менялась даже после вакцинации.
<br></p>
<br><h2>9. Ходите в баню или сауну</h2>
<p><br>
Когда человек даже кратковременно подвергает себя воздействию высоких температур, «пропаривает» тело, это укрепляет его иммунитет. А дополнительные банные процедуры, как использование веника или специальных благовоний, распитие целебных чаев — приносит еще больше пользы.
<br></p>
<br><h2>10. Занимайтесь любовью</h2>
<p><br>
Занятия любовью с партнером (а не просто интим «для здоровья») — это естественный способ повысить иммунитет. По признанию специалистов WebMD, игры в постели не только сближают партнеров и приносят удовольствие, но и укрепляют здоровье.
<br>
А на уровне физиологии они положительно влияют на выработку антител, снижают вероятность наступления сердечного приступа, нормализуют высокое артериальное давление.
<br></p>
<br><h2>11. Мойте руки чаще, еще чаще</h2>
<p><br>
Лучшими друзьями человека в сезон простуд являются проточная вода и мыло. Тщательное мытье рук, которое подразумевает обработку каждого сантиметра кожи и длительное намыливание, является эффективной мерой профилактики инфекций.
<br></p>
<br><h2>12. Подумайте о повышении витамина D в организме</h2>
<p><br>
Почему «солнечный витамин» играет такую важную роль, мы уже писали в другом материале. Уточним только, что без его достаточного количества, иммунная защита организма будет существенно ослаблена.
<br></p>
<br><h2>13. Оставайтесь на связи с друзьями и близкими</h2>
<p><br>
Социальные контакты, даже при помощи звонков и видеосвязи, поддерживают здоровье нашей иммунной системы. Об этом говорит исследование 2016 года, проведенное специалистами <strong>University of Virginia</strong>.
<br>
Приятное общение укрепляет иммунитет, в то время как отказ от общения наоборот ослабляет его.
<br></p>
<br><h2>14. Поддерживайте здоровый вес</h2>
<p><br>
И постарайтесь избавиться от лишних килограммов, если они у вас есть. Избыток жира усиливает воспалительные процессы в организме, подрывает здоровье иммунной системы. Такие данные представило исследование 2010 года, опубликованное в <strong>Journal of Clinical Endocrinology Metabolism</strong>.
<br>
При этом даже потеря 10 лишних фунтов может помочь людям, страдающим от ожирения, поддержать свою иммунную систему.
<br></p>
<br><h2>15. Чаще дышите свежим воздухом</h2>
<p><br>
И регулярно проветривайте свой дом. Воздух на улице всегда чище, чем в помещении, даже если вы используете устройства для его контроля.
<br>
Старайтесь дышать свежим воздухом. Даже приоткрытое вовремя окно может улучшить воздух в помещении и тем самым дать преимущества вашей иммунной системе.</p>{% endblock %}