{% extends "Tetxts.html" %}{% block content %}
<p><br>
Трудно переоценить важность витаминов и минералов, ведь их дефицит неизбежно приводит к серьезным проблемам со здоровьем, негативно сказывается на внешности и эмоционально-психологическом состоянии, а также ощутимо снижает качество жизни. На первый взгляд это парадоксально, так как сами по себе они не участвуют в жизненно важных процессах и не имеют пищевой или энергетической ценности. Однако в биохимических реакциях и всех обменных процессах, протекающих в организме, витамины и минералы выступают в роли катализаторов и органических посредников.  
<br></p>
<br><h2>Последствия недостатка витаминов</h2>
<p><br>
Нехватка витаминов может привести к:
<br>
- к порокам развития и даже гибели плода во время беременности;
- отклонениям в развитии детей и подростков;
- преждевременному старению;
- гормональным расстройствам;
- нарушению работы сердечно-сосудистой системы;
- нарушениям зрения;
- угнетению интеллектуальных способностей, включая снижение памяти и внимания;
- заболеваниям органов ЖКТ;
- заболеваниям опорно-двигательного аппарата;
- стоматологическим проблемам.
<br>
Перечень приведенных возможных негативных последствий далеко не полный, и у каждого они могут проявиться по-своему. При этом избыточное потребление витаминов и минералов еще более опасно для человека, чем их дефицит. Максимально важную роль витамины и минералы в организме человека играют в критически важные периоды, среди которых:
<br>
- этап внутриутробного развития;
- ранний, подростковый и пожилой возраст;
- беременность, период полового созревания и менопауза;
- восстановление после перенесенных заболеваний, травм;
- период стрессов и повышенных нагрузок.
<br>
Основная сложность состоит в том, что витамины и минералы не вырабатываются в организме, а поступают из вне, поэтому беспечно полагаться на мудрость природы и ее способность гармонизировать все процессы жизнедеятельности. Важно придерживаться здорового питания и при необходимости принимать аптечные добавки.
<br></p>
<br><h2>Что такое витамины?</h2>
<p><br>
Витаминами принято называть соединения органического происхождения, которые выполняют свои функции, распадаясь в ходе химических реакций. На сегодняшний день известно свыше 20 витаминов, которые условно делятся на две группы водо- и жирорастворимые. Водорастворимые витамины – растворяющиеся в водной среде. К ним относятся С, В1, В2, PP, В5, В6, В9, В 12, фолиевая кислота, биотин. Сохраняются в организме не более суток, для поддержания нормальных жизненных функций требуется их постоянное восполнение. 
<br>
Жирорастворимые витамины — растворяются только под действием липидов. К ним относятся А, Д, Е, К. Медленно всасываются в кровь, накапливаются в жировой ткани. Обе группы крайне важны для человека, так как они все помогают нормальной работе иммунной системы, поддерживают высшую нервную деятельность, ускоряют метаболизм и в целом укрепляют организм. 
<br>
- Витамин А, равно как и бета-каротин отвечают за остроту зрения, эластичность кожи. Обладает дезинфицирующим эффектом, восстанавливает слизистые оболочки и способствует регенерации тканей в целом. Участвует в процессе обновления клеток, благодаря чему обеспечивает замедление процессов увядания организма. Мощный иммуномодулятор. Его максимальная концентрация в томатах, моркови, молочных продуктах и рафинированных маслах. 
- Витамин D необходим для здорового функционирования нервной системы. Является самым эффективным природным антидепрессантом. Помогает справляться с психоэмоциональными нагрузками. Под воздействием солнечного света депонируется под кожей. В продуктах высоко его содержание в яичном желтке, красной рыбе, жирных сортах мяса, сливочном масле и сыре.
- Витамин Е активно участвует в поддержании репродуктивных функций организма, нормализует обменные процессы. Стимулирует выработку коллагена, за счет чего тело дольше остается молодым. Содержится в орехах, облепиховом масле, грубых крупах, бобовых, особенно богаты им соя и нут. 
- Витамин К участвует в процессе кроветворения, незаменим для формирования хорошего иммунитета. Защищает кости от процессов разрушения. С пищей можно получить из ростков пшеницы, овсяных отрубей, злаков и листовой зелени. 
- Витамин С – самый главный борец с инфекциями, укрепляет защитные ресурсы организма, помогает восстанавливаться после болезней. Лучший антиоксидант, принимает участие в работе органов внутренней секреции. Способствует выработке коллагена, усвоению железа и фолиевой кислоты. Особенно богаты им цитрусовые, ягоды, перец, субпродукты.
- Витамин B1<br />
     Поддерживает работу всех жизненно-важных систем организма, стабилизирует сердце, улучшает пищеварение. Ускоряет обмен веществ, благодаря чему незаменим для снижения веса. Содержится в отрубях, злаках, крупах, семенах льна, орехах, жирных сортах мяса.
- Витамин B2<br />
    Положительно влияет на зрение, повышает эластичность кожи, способствует усвоению белка. Им богаты дрожжи, субпродукты, молоко, все виды капусты.
- Витамин B3 сдерживает выработку холестерина, положительно влияет на выработку ферментов поджелудочной железой, придает энергии и сил, а также поддерживает баланс нервной системы. Высоко его содержание в бобовых культурах, диетическом мясе, рыбе, орехах. 
- Витамин B5 стимулирует всю биохимию организма, включая выработку гормонов и синтеза важных веществ. Можно получить из субпродуктов, семян льна, орехов, яиц. 
- Витамин B6 незаменим для здоровья кожи, волос, ногтей. Активно стимулируют работу коры больших полушарий, помогают справляться со стрессом. Их содержание высоко в дрожжах, хлебобулочных изделиях, молочных продуктах и крупах. 
- Витамин B9 напрямую связан с органами кроветворения, нервной системы, поддерживает фертильность и здоровое пищеварение. Незаменим на ранних сроках беременности и часто используется при лечении бесплодия. Находится в савойской капусте, сыре, икре лососевых рыб, зелени, бобовых культурах. 
- Витамин B12 отвечает за синтез нуклеиновых кислот, поддерживает молодость и здоровье кожи, ускоряет детокс. НЕ содержится в растительной пище, поэтому крайне рекомендован в виде дополнительного препарат вегетарианцам. С пищей поступает в организм из морепродуктов, мяса, молока, сыра, творога и яиц. 
<br></p>
<br><h2>Что такое минералы?</h2>
<p><br>
Минералами в современной науке принято называть ионы химических элементов, выполняющих жизненно важные функции в человеческом организме. Основная их часть перечислена в таблице Менделеева и поступает с пищей. Минералы настолько значимы для протекания обменных процессов и всех функций тела человека, что даже минимальное отклонение от нормы их потребления незамедлительно сказывается на состоянии здоровья, эмоциональном фоне и самочувствии. 
<br>
Без достаточного количества минералов, невозможно полноценное формирование скелета, нейронных связей, кислотно-щелочной и водный баланс, нарушается работа эндокринной и нервной системы, угнетается мышечная активность и сердечно-сосудистая система. Каждый из микроэлементов отвечает за свою функцию. 
<br>
Так, кальций и фтор отвечают за здоровье зубов и костей. Железо обеспечивает кровь гемоглобином. Магний способствует здоровой психике и помогает справляться со стрессом, улучшает состояние мышц. Хром помогает контролировать аппетит и препятствует набору избыточной массы тела. Цинк незаменим для кожи и заживления ран. Селен признан эффективным средством для поддержания иммунитета, а ценность йода для щитовидной железы очевидна даже далеким от медицины. 
<br></p>
<br><h2>Сколько витаминов и минералов нужно человеку?</h2>
<p><br>
Иногда потребность в тех или иных нутриентах возрастает и получить достаточное количество из продуктов питания становится затруднительным. В таких случаях обычно назначают дополнительный прием медицинских препаратов.
<br></p>
<br><h2>Симптомы дефицита витаминов и минералов</h2>
<p><br>
Значение витаминов и минералов красноречивее всего характеризуют последствия их недостаточного или чрезмерно потребления.  Если минералы и витамины, необходимые для здоровья, присутствуют в организме в недостаточном или избыточном количестве, это моментально влечет за собой негативные последствия. Так, недостаток витамина А чреват появлением дерматита, экземы, сыпи и раздражения неясной этиологии. Снижается острота зрения. Недостаток витаминов группы В негативно сказывается на нервной системе, приводит к раздражительности и упадку сил. 
<br>
При дефиците меди отмечаются сложности в интеллектуальной деятельности, снижение памяти и внимания, а у детей даже возможна задержка развития. Низкое содержание железа чревато слабостью и анемией, а магний напомнит о себе болью в мышцах и синдромом беспокойных ног. Без достаточного потребления кальция и фтора придется тратить немалые суммы на посещение стоматолога, а вероятность остеопороза возрастет в разы. Доказана взаимосвязь дефицита селена и развитие онкологических заболеваний, а низкое содержание в пище молибдена не замедлит сказаться частыми головными болями. 
<br></p>
<br><h2>Аптечные витамины и минералы: как влияют на организм человека и способны ли заменить натуральные?</h2>
<p><br>
Важно получить ответ на три базовых вопроса, покупая синтетические витамины и минералы: как влияют на организм, имеют ли побочные эффекты, как долго следует принимать. Так, будучи медицинским препаратом любой витаминно-минеральный комплекс всегда имеет ограничения, будь то возможность аллергической реакции, беременность, детский возраст или индивидуальная непереносимость. То, что для одного пациента окажется благом и решит его проблемы, ситуацию другого только усугубит.<br />
Именно по этой причине самостоятельно принимать витамины и минералы нельзя. Правильно подобрать состав препарата, рассчитать его дозировку и длительность курса может только врач, с учетом анамнеза и общего состояния пациента. Биохимический анализ крови с развернутой формулой в данном вопросе обязателен. Самостоятельно можно только максимально сбалансировать питание, разнообразив рацион за счет полезных продуктов растительного и животного происхождения.</p>{% endblock %}