{% extends "Tetxts.html" %}{% block content %}
<p>Инфаркты и инсульты по-прежнему остаются основной причиной смертности, причем поражают нередко внешне абсолютно здоровых людей в самом активном возрасте. В чем наши главные ошибки? Что надо изменить в поведении, чтобы жить дольше и дольше оставаться бодрыми и активными? На вопросы "Российской газеты" ответил доктор медицинских наук, главный кардиолог Центральной дирекции здравоохранения РЖД, руководитель Центра сердечно-сосудистой патологии Заур Шугушев. Профессор назвал основные факторы, которые приводят к болезням сердца и сосудов, и главные правила, соблюдение которых поможет сохранить здоровье сердца.
<br></p>
<br><h2>Почему возникает инфаркт?</h2>
<p><br>
Все органы и ткани нашего организма получают питание с помощью обширной сосудистой сети. Сердце, как и любой другой орган, снабжается кровью с помощью сосудов - коронарных артерий. Когда в просвете коронарной артерии появляется атеросклеротическая бляшка, скорость кровотока снижается, к сердечной мышце поступает недостаточно кислорода, а человек может испытывать боль за грудиной при физической нагрузке. В случае внезапной закупорки одной из артерий, обеспечивающих кровью сердце, развивается инфаркт миокарда.
<br></p>
<br><h2>Как избежать сердечно-сосудистых заболеваний?</h2>
<p><br>
Профессор Шугушев сформулировал семь основных правил.
<br></p>
<br><h3>1. Отказаться от курения</h3>
<p><br>
Установлено, что вещества, содержащиеся в сигаретном дыме, играют решающую роль в повреждении эндотелия (это клетки, выстилающие внутреннюю поверхность сосудов). Эндотелий обладает противовоспалительными, антитромботическими и вазомоторными свойствами, он регулирует и поддерживает сосудистый тонус и гемостаз (состояние крови). Курение влияет на все эти важные свойства, и возникающая вследствие этого эндотелиальная дисфункция является первым этапом атерогенного процесса.
<br>
Помимо влияния на эндотелий, сигаретный дым ускоряет образование кровяных сгустков - тромбов, что также пагубно влияет на нашу сердечно-сосудистую систему. Причем пассивное курение также отрицательно влияет на эндотелий сосудов. Однако через год после того, как человек прекратил курить, функция внутренней оболочки сосудов у него восстанавливается. Помимо этого, курение может способствовать развитию сахарного диабета второго типа, а также увеличивает артериальное давление и способствует развитию артериальной гипертензии.
<br>
Но даже у заядлых курильщиков, бросивших курить, наблюдался меньший риск развития сердечно-сосудистых заболеваний в течение пяти лет по сравнению с теми, кто продолжал курить.
<br>
На сегодняшний день существуют различные методы для облегчения отказа от курения: никотиновые пластыри, жвачки, спреи, а также методы психологической помощи. Однако необходимо понимать, что сам процесс курения - еще и повод и способ социального взаимодействия между людьми. Так что зачастую, чтобы избавиться от пагубной привычки, необходимо поменять окружение или найти новые темы для общения.
<br></p>
<br><h3>2. Всеми силами бороться со стрессом</h3>
<p><br>
Невероятно высокий уровень стресса - бич современности. Человек должен быть успешен, красив, богат - такие стандарты нам диктует общество. Однако не всегда нам удается соответствовать ожиданиям, успешно действовать в условиях многозадачности, быстро принимать верные решения. Находясь в условиях непрерывной напряженной работы, наш организм постепенно истощается и больше не может противостоять стрессу.
<br>
Многочисленные исследования подтверждают: между стрессом и развитием сердечно-сосудистых заболеваний есть тесная взаимосвязь. Помимо негативного влияния на сердце и сосуды, длительный стресс может способствовать и расстройству сна, быть причиной проблем с пищеварением, низкой работоспособности, постоянной тревожности, апатии. Если вовремя не принять меры, такое состояние может перейти в депрессию, требующую специального лечения.
<br>
Как же избежать стресса? Ответы нам всем давно известны: наладить режим сна и отдыха, больше гулять и заниматься спортом, придерживаться здорового питания, постараться по возможности не нервничать на работе, сократить употребление алкоголя или вовсе отказаться от него.
<br></p>
<br><h3>3. Следить за уровнем глюкозы и холестерина в крови</h3>
<p><br>
Активно способствуют развитию сердечно-сосудистых заболеваний сахарный диабет или нарушение толерантности к глюкозе (так называемый предиабет), гиперхолестеринемия, а также артериальная гипертензия. Поэтому очень важно периодически проводить обследование организма, направленное на выявление этих заболеваний.
<br></p>
<br><h3>4. Сократить потребление алкоголя</h3>
<p><br>
В последнее время появился ряд исследований, которые выявили некоторую пользу от умеренного потребления алкоголя. Однако при большом ежедневном употреблении алкоголя организм получает больше вреда, чем пользы.
<br></p>
<br><h3>5. Любителям кофе - оценить риски</h3>
<p><br>
В последние десятилетия во всем мире кофе пьют все больше и больше. Сегодня очень многие начинают утро с чашечки ароматного напитка. К сожалению, следуя веяниям моды, мы позабыли о культуре потребления кофе и обычно выпиваем бодрящий напиток в больших количествах, не думая о том, какое влияние кофеин может оказывать на наш организм.
<br>
Между тем, количество выпиваемого кофе - ключевой момент. Некоторые исследования говорят о том, что умеренное потребление кофе связано с более низким риском развития ишемической болезни сердца по сравнению с обильным потреблением кофе, которое этот риск повышает. Также было обнаружено, что умеренное потребление кофе снижает риск фибрилляции предсердий, возможно, благодаря его выраженным противовоспалительным компонентам.
<br>
Наконец, итоговый вывод - умеренное потребление кофе снижает риск смерти от сердечно-сосудистых заболеваний, тогда как потребление его в больших количествах наносит вред здоровью.
<br>
Однако большим минусом этих исследований является тот факт, что в настоящее время нет единого мнения относительно того, сколько именно кофе допустимо выпивать. Обычно специалисты рекомендуют примерно одну-две чашки в день, но все же надо учитывать индивидуальные особенности организма.
<br></p>
<br><h3>6. Физические нагрузки для здорового сердца</h3>
<p><br>
Наше сердце - мышечный орган, который можно тренировать, как и любую другую мышцу в организме. Однако очень важно делать это правильно, чтобы не навредить.
<br>
Наиболее простое и эффективное упражнение - ходьба (как обычная, так и скандинавская). Благодаря ежедневным прогулкам сердце начинает работать интенсивнее, а движения рук при ходьбе увеличивают вентиляцию легких и насыщение крови кислородом.
<br>
Бег также является простым и доступным способом тренировки сердечной мышцы. Однако для бега есть свои ограничения - людям с лишним весом, проблемами с суставами и позвоночником такой вид физической нагрузки может быть противопоказан.
<br>
Идеальный для укрепления сердца вид активности - плавание, когда задействованы практически все группы мышц. Этот вид физической нагрузки практически не имеет противопоказаний.
<br>
Очень хорошо на сердце влияют аэробные тренировки - езда на велосипеде и велотренажере; катание на лыжах; различные виды аэробики; катание на коньках и роликовых коньках; баскетбол и другие спортивные игры; спортивная ходьба; танцы; занятия на беговой дорожке, степпере или эллипсоиде.
<br>
Физические нагрузки не только укрепляют сердечную мышцу, они помогают снизить и поддерживать на нормальном уровне вес тела, что также хорошо сказывается на здоровье сердца.
<br></p>
<br><h3>7. Правильное питание</h3>
<p><br>
Для здоровья сердца важно получать достаточное количество белка, как животного (нежирное мясо, птица, рыба), так и растительного (бобовые) происхождения. Рекомендуется есть больше продуктов, содержащих полиненасыщенные жирные кислоты, которые защищают сосудистую стенку от холестерина. Также нужно следить за тем, чтобы ежедневно употреблять в пищу клетчатку, которая содержится в хлебе и крупах, овощах и фруктах, а еще - следить за количеством потребляемого сахара и соли и при необходимости уменьшить его.
<br>
"Подведем итоги: сердечно-сосудистые заболевания уже долгое время являются основной причиной смертности в нашей стране (как и в мире), и каждый из нас, в основном, знает, что делать, чтобы снизить риски возникновения данной патологии: необходимо наладить peжим тpyдa и oтдыxa, исключить пcиxичecкoе пepeнaпpяжeние и курение, вести активный образ жизни, уменьшить yпoтpeбление cпиpтных нaпитков, пpaвильнoe питaться и контролировать мaccу своего тела. В случае, если у вас уже есть какое-либо заболевание - артериальная гипертония, сахарный диабет, дислипидемия - необходимо своевременно проходить медицинский осмотр, отслеживать показатели крови, а также обязательно выполнять все рекомендации врача", - заключил Заур Шугушев.</p>{% endblock %}