<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <link rel="stylesheet" href="static\css\style.css">
    </head>
<body>
    <h1>Статьи для здоровья</h1>
    <section class="content">
        <div class="titname">
            <h2>Текущие публицкации пользователей</h2>
        </div>
        {% for i in a %}
        <div class="info-box">
            <a href="{{ url_for('get_health_file', filename=i) }}">{{ i }}
                
            </a>
        </div>
        {% endfor %}

    </section>
</body>
</html>