{% extends "Tetxts.html" %}{% block content %}
<p>Что такое финансовое подушка, для чего она нужна. Рассказываем, какой размер денежного резерва должен быть, на что можно потратить свои накопления, как самостоятельно сформировать финансовую подушку.
<br></p>
<br><h2>Введение</h2>
<p><br>
Умение откладывать деньги и формировать подушку безопасности — признак финансово грамотного человека. Этот полезный навык можно освоить в любом возрасте. Только так можно обезопасить себя и свою семью с материальной стороны. Финансовая подушка позволит продержаться на плаву какое-то время, пока все проблемы не будут решены. С ее помощью можно избежать финансового обременения в виде долгов и кредитов.
<br></p>
<br><h2>Что такое финансовая подушка</h2>
<p><br>
Финансовая подушка безопасности — это бюджетный резервный фонд конкретного человека или семьи. Средства этого фонда формируются за счет личных накоплений. Используются они только при непредвиденных обстоятельствах. 
<br>
Создание финансовой подушки — одна из основных стратегий денежного планирования. Обеспечить себя таким резервом нужно по следующим причинам:
<br>
- Потеря дохода. Увольнение с работы, перевод на низкооплачиваемую должность, потеря основного источника прибыли может стать серьезным финансовым испытанием. В таких случаев подушка безопасности поможет продержаться какое-то время и дать возможность спокойно решить все проблемы
- Непредвиденные траты. Это может быть внеплановая операция, длительное лечение, вынужденный переезд, ремонт машины. Нужно быть финансово готовым к таким неприятным ситуациям, и в этом помогут сбережения
- Сохранение психологического комфорта. При наличии энной суммы в свободном доступе человек испытывает чувство спокойствия и удовлетворения
- Финансовая независимость. Наличие резерва дает возможность самостоятельно решать свои проблемы. Для этого не нужно прибегать к помощи родственников, долгам и кредитам
<br>
Важно понимать, что к финансовой подушке не имеет никакого отношения недвижимость, в которой живешь, автомобиль, украшения, антиквариат, криптовалюта, облигации. Это недостаточно ликвидные активы, и они не смогут быстро выручить в сложной жизненной ситуации. 
<br>
Основной смысл создания финансовой подушки — иметь всегда под рукой средства, которые можно потратить в критической ситуации. Поэтому накопления должны быть только в виде денег.
<br>
Для финансовой подушки характерные такие критерии:
<br>
- Неприкосновенность. Средства предназначены только для решения проблем, от которых зависит здоровье и жизнь
- Восполнимость. При наступлении критического момента деньги тратятся в нужном размере. Потраченную сумму нужно восполнить до первоначального размера
<br>
При соблюдении этих правил можно финансово обезопасить себя и свою семью на случай форс-мажорных ситуаций. 
<br></p>
<br><h2>На что можно использовать свои накопление</h2>
<p><br>
Финансовая подушка нужна для ведения привычного образа жизни в трудные времена. Сэкономленные деньги можно потратить в таких ситуациях:
<br>
- Несчастный случай, травма, незапланированная операция
- Тяжелая болезнь, из-за которой снижается работоспособность или вовсе теряется работа
- Затянувшиеся поиски работодателя при смене рабочего места или сокращении
- ДТП, в результате которого нужен ремонт или покупка нового авто
- Длительная временная нетрудоспособность в связи с уходом за маленьким ребенком или больным родственником
- Стихийные бедствия и чрезвычайные происшествия (затопление квартиры, пожар)
- Вынужденный незапланированный переезд
- Потеря кормильца
<br>
Тратить резервный фонд можно только на решение серьезных задач. Он позволит избежать долгов и кредитов, и позволит справиться с проблемой самостоятельно.
<br></p>
<br><h2>На что не стоит использовать свои накопления</h2>
<p><br>
Крупная сумма, которая находится всегда под рукой — это всегда большой соблазн. Но в этом вопросе нужно проявить стойкость, и просто забыть о существовании своей кубышки.
<br>
Если проигнорировать этот совет и брать из резервного фонда деньги “в долг”, то очень скоро может выясниться, что подушка заметно уменьшилась в размерах. И когда средства действительно понадобятся в критической ситуации, их уже не будет.
<br>
Новый гаджет, модный свитшот, подарок для друга на день рождения, поездка на курорт и подобные траты — не повод трогать накопления. Они предназначены для иной цели.
<br></p>
<br><h2>Каким должен быть размер накоплений</h2>
<p><br>
Не существует строгого правила расчета финансовой подушки. Ее размер индивидуален. Кому-то вполне достаточно и 20 тыс рублей в месяц, а другим будет и 100 тыс рублей недостаточно. По этой причине в расчет берется привычный доход человека или семьи за месяц.
<br>
Размер денежного резерва может быть в пределах дохода за 3-12 месяцев. Во многом он зависит от количества иждивенцев в семье и долговых обязательств. Ориентир можно выбрать для себя самостоятельно:
<br>
- 3-6 месяцев. Подходит для семьи без детей и иждивенцев. Этого срока хватит при наличии регулярного дохода, собственного жилья и отсутствия крупных кредитов и прочих обязательств
- 6-9 месяцев. Вариант для семьи с детьми или неработающими взрослыми. А также при нестабильном доходе, съемном жилье
- 9-12 месяцев. Для многодетных семей с несовершеннолетними детьми, предпринимателей, фрилансеров, при плавающем доходе, наличии кредитов
<br>
При расчете финансовой подушки нужно проанализировать свои траты за месяц. Каждый день нужно записывать все свои доходы и расходы, чтобы точно определить размер бюджета. Полученную сумму расходов нужно умножить на необходимое количество месяцев.
<br>
Разберем на примере семьи из трех человек: папы, мамы и сына школьного возраста. Оба родителя работают, и их общий доход в месяц составляет 100 тыс рублей. Среди постоянных трат семьи — коммунальные услуги, продукты питания, услуги связи, абонементы в спортзал, школьное питание, детская спортивная секция. Также нужно учесть и иные траты: лекарства, одежду, развлечения, карманные расходы.
<br>
Для подсчета расходов можно составить список трат:
<br>
  Продукты питания - 30 000 руб.
  Коммунальные услуги - 6 000 руб.
  Мобильная связь, интернет - 2 000 руб.
  Школьное питание и карманные расходы сына - 4 000 руб.
  Абонементы в спортзал - 6 000 руб.
  Детская спортивная секция - 2 000 руб.
  Непредвиденные расходы - 7 000 руб.
  Итого - 57 000 руб.
<br>
Из расчета на 6 месяцев финансовая подушка этой семьи должна составлять 342 тыс рублей. Эта сумма может быть уменьшена за счет исключения лишних трат. Так, в трудные времена можно временно отказаться от посещения тренажерного зала и спортивных секций. Тем самым можно сэкономить 8 тыс рублей в месяц.
<br>
Важно. При формировании резерва нужно следовать простому правилу — чем менее стабильный доход, тем большего размера должна быть финансовая подушка. При отсутствии кредитов, наличии собственного жилья и хотя бы одного стабильного пассивного источника дохода, размер подушки может быть не слишком большим.
<br>
Стоит регулярно пересматривать размер своих накоплений. Со временем расходы могут незаметно вырасти. На их размер может влиять инфляция, смена работы, переезд в другой город, рождение ребенка и другие обстоятельства. Так может выясниться, что размер подушки уже не удовлетворяет актуальным потребностям. 
<br>
Рекомендуется делать перерасчет 1-2 раза в год. Если окажется, что накоплений не хватает на нужное число месяцев, придется пополнить свою кубышку или сократить расходы.
<br></p>
<br><h2>Как сформировать подушку</h2>
<p><br>
Иметь резервный фонд должен каждый. При этом уровень дохода не имеет значения. Сформировать финансовую подушку под силу даже тем, кто получает скромный доход. 
<br></p>
<br><h4>Шаг 1. Поставить финансовую цель.</h4>
<p><br>
Ни одно дело не сможет быстро продвигаться без четкой цели. Поэтому необходимо составить для себя четкий финансовый план. Например, за год нужно собрать 200 тыс рублей — резерв на несколько месяцев. Мотивация сработает еще эффективнее, если обозначить осязаемую цель — покупку мебели, поездку на модный курорт.
<br>
Каждый месяц нужно откладывать примерно по 17 тыс рублей. Это реальная задача даже для средней зарплаты в крупных городах. Однако если экономия начинает менять привычный уровень жизни в худшую сторону, можно немного снизить планку.
<br></p>
<br><h4>Шаг 2. Проанализировать доходы и расходы.</h4>
<p><br>
Нужно подсчитать всю свою прибыль за месяц, включая зарплату, подработку, доход от сдачи в аренду жилья, начисленные проценты по вкладам, социальные пособия, неофициальный доход и другие источники. Точно так же следует поступить и с расходами. Нужно учесть все категории ежемесячных трат, даже покупку традиционного кофе во время обеденного перерыва.
<br>
Для большего удобства данные рекомендуется ввести в Excel-таблицу. Также можно использовать специальные предложения. Так будет легче проанализировать все свои доходы и траты.
<br></p>
<br><h4>Шаг 3. Уменьшить расходы.</h4>
<p><br>
Теперь настал черед для планирования расходов. Только эта стратегия позволит собрать деньги, необходимые для создания резерва, даже в сложных финансовых условиях.
<br>
Многие регулярные траты остаются просто незамеченными. Чашка латте и перекус, заказ роллов на дом, встречи с друзьями в уютном кафе — все это в итоге может составить ощутимую статью расходов в месяц.
<br>
Нужно промониторить свои расходы и подкорректировать их. Например, перейти на более дешевый тариф мобильной связи или сократить походы в кафе. Если работа находится недалеко от дома, стоит отказаться от транспорта и пройти несколько остановок пешком — польза будет и для здоровья, и для кошелька. При наличии кредита нужно поискать более выгодный вариант в других банках и рефинансировать его. Сэкономленные деньги пойдут на формирование финансовой подушки.
<br></p>
<br><h4>Шаг 4. Копить деньги.</h4>
<p><br>
Нужно приучить себя каждый месяц откладывать минимум 20% от всех доходов. За пару лет можно сэкономить сумму, которая станет подспорьем в трудные времена. Если сразу не получается столько откладывать, можно начать с 10%, постепенно увеличивая эту цифру.
<br>
Накопления должны быть неприкосновенны. Используют их только в экстренных ситуациях. Эти деньги никому нельзя одалживать, в том числе и самому себе.
<br>
Важно. Резервные средства нужно правильно хранить. Оптимальными являются два варианта: дома в конверте и на депозитном счету в банке. Главное условие финансовой подушки — деньги должны быть в свободном доступе. Поэтому нужно выбирать вклад с возможностью снятия и пополнения. Накопления лучше всего хранить в разной валюте: долларах, евро, рублях.
<br></p>
<br><h4>Шаг 5. Продолжать копить.</h4>
<p><br>
Подушка безопасности не должна быть единственной целью. Сформировав минимальный резерв, можно смело переходить к более масштабным задачам. Например, создать капитал, с помощью которого можно обеспечить спокойную и комфортную жизнь на пенсии. Сэкономленные деньги можно инвестировать для получения пассивной прибыли.
<br></p>
<br><h2>Вывод</h2>
<p><br>
Для формирования финансовой подушки потребуется время. Собрать ее можно только благодаря дисциплине. В большинстве случаев размер резерва соответствует 3-6 месяцам прожиточного минимума для конкретного человека или семьи. Каждый сам выбирает для себя величину подушки исходя из личных потребностей. Главное условие — резервная сумма должна быть неприкосновенной и всегда быть под рукой.</p>{% endblock %}