{% extends "Tetxts.html" %}{% block content %}
<p>Мы все ошибаемся. И в топе самых болезненных ошибок у каждого есть та, что связана с деньгами. Неразумная переплата, потерянные вложения и упущенная выгода — болезненный урок, которого можно было избежать.
<br></p>
<br><h2>Как делать не надо: основные финансовые ошибки</h2>
<p><br></p>
<br><h3>Ошибка №1. Покупать неликвидные или дешевеющие активы в кредит</h3>
<p><br>
Кредит разумно брать только в том случае, если вы получаете выгоду от вложенных кредитных средств, которая превышает переплату по процентам. Покупая в ипотеку квартиру в хорошем перспективном районе, вы можете ожидать, что её стоимость со временем вырастет, и вложение окупится — брать кредит в этом случае разумно. Покупая в кредит гаджеты или бытовую технику, вы просто переплачиваете — это никогда не окупится. 
<br>
Также неразумно покупать в кредит неликвидные товары, которые потом будет сложно продать, или открывать бизнес с непредсказуемой окупаемостью. Это не только невыгодно, но и опасно. Если вы не сможете выплачивать кредит, у вас не будет возможности продать купленный актив и погасить долг. 
<br></p>
<br><h3>Ошибка №2. Покупать новые товары, когда можно купить б/у</h3>
<p><br>
Речь в первую очередь об автомобилях и дорогом оборудовании. Покупая машину в автосалоне, вы теряете деньги, просто выезжая за ворота, — из новой она превращается в б/у и дешевеет минимум на 5-10%. Это очень неудачная инвестиция. 
<br>
Разумнее взять автомобиль с небольшим пробегом. Вы не заметите разницы, но сможете сэкономить. То же самое можно сказать об оборудовании, например, лазерном станке, мини-экскаваторе или газонокосилке. 
<br></p>
<br><h3>Ошибка №3. Переплачивать за бренд</h3>
<p><br>
Иногда бренд — это гарантия качества. В других случаях — просто название. Нужно уметь отличать одно от другого. Разумно доплатить за качественную вещь, которая прослужит дольше, будет надёжнее и безопаснее. Неразумно переплачивать просто за название, имея под рукой недорогие аналоги того же качества. 
<br>
<em>Иногда</em> <em>человек</em> <em>платит только за эмоции, и это нормально. Если вы с детства мечтали купить машину с нулевым пробегом или иметь в гардеробе легендарную сумочку «Биркин», то тут речь уже не о деньгах. Учитывать психологический фактор — это не</em> <em>ошибка финансового планирования__, а наилучшая стратегия, которая</em> <em>помогает</em> <em>достигать баланса между материальным и нематериальным. Главное, не увлекаться и уметь отличать мечты от минутных капризов.</em> 
<br></p>
<br><h3>Ошибка №4. Стесняться спрашивать про скидку</h3>
<p><br>
Персональная скидка — сверхбыстрый способ получить выгоду. Многие продавцы закладывают скидку в стоимость товара, чтобы иметь диапазон для торга и выглядеть сговорчивее в глазах покупателя. На основе таких первоначальных завышений работают бонусные программы и системы выплаты кешбэка. Даже в интернет-магазинах встречаются кнопки «хочу скидку», но большинство покупателей почему-то игнорируют такую возможность. 
<br>
Соглашаясь на первую цену, мы всегда переплачиваем около 1-5%. Представьте, сколько можно было бы накопить к пенсии, если не упускать возможности. 
<br></p>
<br><h3>Ошибка №5. Рисковать там, где можно застраховаться</h3>
<p><br>
Страховка жизни, здоровья и имущества — это защита от финансовой катастрофы. Да, приходится регулярно платить за страховой полис, но это предсказуемая трата, которую легко вписать в бюджет. Отказываясь от страховки, вы повышаете риск значительно ухудшить финансовое положение:
<br>
- остаться без денег в случае болезни или потери работы;
- навсегда потерять актив без компенсации затрат;
- иметь кредит, который не можете выплатить. 
<br>
Отсутствие сбережений на «чёрный день» тоже расценивается, как пренебрежение страховкой. Вместо того чтобы подстраховать самого себя, откладывая небольшую сумму от дохода, вы идёте на риск и тратите всё без остатка. 
<br></p>
<br><h3>Ошибка №6. Платить за то, что можешь сделать сам, и делать всё самому, когда нужно делегировать</h3>
<p><br>
Запутались? На самом деле всё просто: <strong>всегда считайте стоимость своего времени</strong>. Сэкономить 500 рублей, потратив 5 минут — неплохо. Потратить целый день ради 2000 рублей — уже сомнительно. Всё лето выращивать 100 кг картофеля, который продают на рынке по 50 рублей за кг — допустимо только ради удовольствия.
<br>
Например, регулярно платить за доставку товаров с маркетплейса, хотя их можно забирать по пути с работы, — неразумно. Вы заплатите больше, чем успеете заработать за потраченное время. Но так же неразумно тратить 2 дня на сборку кухни. Ведь за это время вы наверняка сможете заработать больше, чем заплатите профессиональному сборщику. Да и справится он в разы быстрее, а ещё даст гарантию — это тоже страховка, о которой мы говорили в предыдущем пункте. 
<br></p>
<br><h3>Ошибка №7. Неаккуратно использовать кредиты и кредитные карты</h3>
<p><br>
Хотя в России хорошая кредитная история не имеет такого критического значения, как, скажем, в США, она всё равно играет немаловажную роль в жизни каждого. Если вы платите только минимальные суммы по кредитам и нарушаете сроки платежей, то не только увеличиваете свои расходы на обслуживание займов, но и снижаете вероятность получения выгодных условий кредитования в будущем, т.е. переплачиваете сейчас и будете переплачивать потом. 
<br></p>
<br><h3>Ошибка №8. Не использовать налоговые льготы</h3>
<p><br>
У каждого работающего гражданина есть право на возврат подоходного налога с определённых категорий трат. Например, возврат можно получить с расходов на: 
<br>
- лечение и покупку лекарств;
- оплату спортзала;
- покупку ДМС или страховки жизни и здоровья;
- покупку недвижимости и проценты по ипотеке;
- образование (своё или ребёнка);
- благотворительность;
- пополнение индивидуального инвестиционного счёта (ИИС).
<br>
Если не лениться собирать документы и ежегодно подавать декларацию можно рассчитывать на «тринадцатую зарплату», о которой все так мечтают. А если лениться, то можно ежегодно терять 13% от годового дохода. 
<br></p>
<br><h3>Ошибка №9. Забывать про подписки</h3>
<p><br>
Не отслеживать и не отменять ненужные подписки на сервисы и приложения — то же самое, что регулярно и намеренно выкидывать деньги в мусорное ведро. Небольшие платежи по 29, 99, 169 рублей выглядят незначительно, поэтому мы ленимся идти и отказываться от услуги сразу после очередного списания. Мы говорим «отменю потом» и забываем об этом до следующего списания. 
<br>
Признавайтесь, у кого в квитанции за КУ есть платёж за радиоточку, которой не существует? Который год вы за неё платите? 
<br>
<em>За всю жизнь на ненужных подписках можно потерять миллионы рублей. Всего 100 рублей в месяц — это 18 271 рублей за 10 лет и 58 609 рублей за 20 лет на вкладе под 8% с учётом капитализации процентов.</em> 
<br></p>
<br><h3>Ошибка №10. Не вести учёт финансов</h3>
<p><br>
Если учёт расходов и доходов не ведётся, вы не знаете, куда уходят деньги, не видите решений для улучшения финансового положения, не можете рассчитать кредитную нагрузку и риски. Без финансового плана деньги тратятся спонтанно — вероятность совершить одну из ошибок увеличивается. 
<br>
Обязательно записывайте расходы за текущий месяц и составляйте план на следующий. 
<br>
<strong>Все эти</strong> <strong>ошибки</strong> <strong>возникают из-за отсутствия</strong> <strong>финансовой грамотности</strong> <strong>и безответственности. Учитесь</strong> <strong>управлению</strong> <strong>денежными</strong> <strong>потоками и самоконтролю. Это важные навыки, без которых невозможен финансовый успех.</strong> 
<br></p>
<br><h2>Как избежать распространённых финансовых ошибок</h2>
<p><br>
- Тщательно оценивайте активы перед покупкой, особенно, если покупаете в кредит. Избегайте неликвидных и дешевеющих активов.
- Рассмотрите вариант покупки б/у товаров, если это экономически обосновано и не вредит вашей репутации. 
- Не переплачивайте за бренд, выбирайте альтернативные варианты с хорошим соотношением цены и качества.
- Не стесняйтесь запросить скидку при покупке, особенно при крупной.
- Пользуйтесь кешбэком, бонусами и программами лояльности — только так можно купить товар по справедливой цене.
- Всегда страхуйте крупные риски, не экономьте на этом.
- Не тратьте деньги на услуги, которые легко можете сделать самостоятельно.
- Умейте делегировать задачи, когда это выгодно.
- Осторожно используйте кредиты и кредитные карты. Не берите больше, чем сможете отдать, и не позволяйте просрочек.
- Изучите вопрос о налоговых льготах и не ленитесь их использовать.
- Ведите учёт всех ваших подписок и регулярных платежей, чтобы избежать лишних расходов.
- Ведите подробный учёт личных финансов, включая доходы, расходы и инвестиции. Ставьте краткосрочные и долгосрочные финансовые цели.
- Создайте фонд экстренных расходов для неожиданных ситуаций.</p>{% endblock %}