{% extends "Tetxts.html" %}{% block content %}
<p>Финансовая грамотность для детей необходима каждой семье. Но научиться распоряжаться деньгами и планировать свой бюджет за один день не получится, эти важные навыки формируются годами.
<br></p>
<br><h2>Почему важно учить детей финансовой грамотности</h2>
<p><br>
Считается, что грамотное финансовое поведение прежде всего необходимо взрослым, чтобы вести семейный бюджет и не попадаться на уловки аферистов. Но азам обращения с финансами нужно обучаться с детства.
<br>
- <strong>Чтобы уметь пользоваться пластиковой картой</strong>
<br>
Уже с шести лет ребенок вправе получить банковскую карту. Она привязана к родительской, и её функционал сильно ограничен, например, по ней нельзя оформить кредит или оплатить покупку в интернете.
<br>
По оценкам <a href="https://www.kommersant.ru/doc/6366554">“Коммерсантъ”</a>, в конце 2023 года на руках у юных россиян в возрасте от 6 до 13 лет было 5-6 млн банковских карт.
<br>
Учитывая, что, по данным <a href="https://rosstat.gov.ru/compendium/document/13284">Росстата</a>, всего в стране около 14,9 млн детей от 6 до 13 лет, собственная банковская карта есть у каждого третьего младшеклассника.
<br>
- <strong>Чтобы не стать жертвой обмана</strong>
<br>
Публикация фото карты в интернете или передача пин-кода незнакомцу могут закончиться потерей денег. Причём, если с карты младшеклассников родители могут успеть предотвратить списание, то после 14 лет подростки получают другие карты, по которым взрослые не могут отследить движение средств. Учитывая все риски, школьники сами должны хотя бы на базовом уровне понимать, как защитить себя от мошенников.
<br>
- <strong>Чтобы случайно не лишить семью накоплений</strong>
<br>
Ребёнок может раздать крупные суммы друзьям. В 2022 году на всю страну <a href="https://www.ntv.ru/novosti/2701619/">прогремела</a> история 11-летней московской школьницы, подарившей ребятам со двора 2 млн рублей, которые нашла в сейфе родителей. 
<br>
Неприятные случаи происходят и с родительскими счетами. Так, 10-летний мальчик из Коми <a href="https://ria.ru/20241030/komi-1980862790.html">перевёл</a> со счёта отца полмиллиона рублей мошенникам, которые убедили ребенка в том, что он выиграл в конкурсе. В Хакасии школьник нашёл на родительском телефоне приложение для покупки игр и <a href="https://19.xn--b1aew.xn--p1ai/news/item/45659821/">установил</a> платные обновления на 145 тысяч рублей. 
<br>
Конечно, можно прятать банковские карты, ставить блокировку на телефоны и компьютеры, но крайне важно вести просветительскую работу, чтобы желания войти в родительский онлайн-банк в принципе не возникало.
<br>
<img alt="финансовая грамотность для детей" src="https://credistory.ru/blog/images/13-2.jpg" />
<br></p>
<br><h2>С какого возраста начинать обучение финансовой грамотности</h2>
<p><br>
Центробанк <a href="https://cbr.ru/press/event/?id2060">предлагает</a> учить обращаться с деньгами уже с дошкольного возраста. Конечно, про инвестирование и рынок акций с детсадовцами говорить сложно, но уже в 5-6 лет мальчики и девочки в состоянии понять азы экономии и принципы планирования покупок.
<br></p>
<br><h2>Основные принципы финансового воспитания детей</h2>
<p><br>
- <strong>Право на личные покупки.</strong> Только самостоятельно распоряжаясь деньгами, можно научиться рационально тратить и копить.
- <strong>Обсуждение семейного бюджета вместе с ребёнком</strong>. Важно, чтобы ребёнок понимал, из чего состоят семейные доходы, расходы, как родители копят на отпуск и формируют подушку безопасности.
- <strong>Собственный пример.</strong> Родители должны показывать на себе, как рационально потратить зарплату.
<br></p>
<br><h2>Как объяснить детям ценность денег</h2>
<p><br>
Чтобы сформировать правильное отношение к деньгам, важно показать, что деньги  — это плата за время и усилия, которые родители потратили на работе.
<br>
Например, можно посчитать, сколько дней придётся работать маме, чтобы купить в магазине самую красивую куклу.
<br>
С 14 лет подростки могут устраиваться на работу. Даже подработки на 1-2 месяца бывает достаточно, чтобы понять, с какими усилиями приходится зарабатывать.
<br></p>
<br><h2>Практические советы по обучению детей управлению деньгами</h2>
<p><br>
- <strong>Разрешить ошибаться.</strong> Глупые покупки совершают и взрослые. Когда финансовое поведение только формируется, можно в одночасье спустить все свои сбережения на пустяки. Но это тоже важный опыт.
- <strong>Проявлять твёрдость.</strong> Если ребёнок сразу потратил все свои финансы, не стоит ему тут же перечислять новый транш. Он должен дождаться следующей даты выплаты карманных денег, понять, что в этот период он ничего не может себе купить. Чтобы не оставлять ребёнка на длительный срок без средств, можно давать ему небольшие суммы раз в 2-3 дня. 
- <strong>Дать стимулы.</strong> Одни родители доплачивают за пятёрки в школе, другие — за помощь по дому. Можно выбрать любой сценарий, главное, чтобы ребёнок понимал, что у него есть возможность увеличить свой личный бюджет за счёт стараний.
<br></p>
<br><h2>Карманные деньги и их роль в финансовом воспитании</h2>
<p><br>
Чтобы личные финансы пошли на пользу, важно соблюдать три условия:
<br>
- <strong>Чёткие правила на долгий срок.</strong> Нужно заранее договариваться, для каких целей могут использоваться карманные средства  — только на развлечения или на “что-то существенное”, например, на перекус в школе. Менять каждый месяц правила нельзя.
- <strong>Регулярность.</strong> Желание жить в условиях материальной стабильности естественно в любом возрасте. Если несколько купюр или перевод на карту ребёнок получает “по случаю”, то он может сразу полностью всё потратить или ничего вообще не покупать. Когда родители дают фиксированную сумму раз в неделю или ежемесячно, ребенок учится планировать свои расходы.
- <strong>Неприкосновенность.</strong> Даже если в семье непростая финансовая ситуация, родители не должны опустошать детскую копилку, чтобы не лишать ребёнка мотивации к сбережениям.
<br></p>
<br><h2>Финансовые игры и другие методы обучения детей</h2>
<p><br>
В последние годы популярность набрали финансовые настольные игры. В их основе лежит разбор различных инструментов, многие из которых в силу возраста ещё нельзя протестировать в реальной жизни.
<br>
Так, с помощью игр даже младшеклассникам можно объяснить, что такое инвестиции, хотя настоящие акции они смогут покупать только после совершеннолетия.
<br>
Игры помогают разобраться, что такое кредитная история или финансовый потенциал, также можно отработать различные сценарии, например, понять, что такое банкротство и как его избежать.
<br></p>
<br><h3>Другие полезные инструменты:</h3>
<p><br>
- <strong>Финансовые</strong> <strong>дневники.</strong> Конечно, вся аналитика есть в банковском приложении, но если у ребёнка ограничено время пользования телефоном или он хорошо воспринимает информацию, записывая её на бумаге, то финансовый дневник будет ему удобен.
- <strong>Тематические мультфильмы</strong>. Прививать разумное финансовое поведение в раннем возрасте помогают мультфильмы, кино и сериалы. Для обучения лучше всего использовать современный контент, ведь герои там платят телефонами и совершают покупки в интернете. Фильмы, показывающие, как пользоваться чековыми книжками, вряд ли будут полезны.
- <strong>Тематические книги</strong>. Знания и навыки, необходимые для управления личными финансами, можно почерпнуть из книг. Для малышей это издания с поучительными сказками, а для старшеклассников — подробные описания, как работают разные финансовые инструменты.
<br></p>
<br><h2>Ошибки, которых стоит избегать при обучении детей финансовой грамотности</h2>
<p><br>
- <strong>Экономия без трат</strong>. Нередко обучение финансовой грамотности сводится к тому, что родители учат ребёнка исключительно экономии, запрещая ему вообще что-либо покупать.
- <strong>Чувство вины</strong>. Объясняя ценность финансов, родители рискуют перестараться и внушить ребенку чувство вины за свои желания, ведь он хочет красивую игрушку, из-за которой мама сильно устаёт на работе. При таком подходе ребёнок постарается минимизировать свои желания, но обращаться с деньгами так и не научится.
- <strong>Слишком большая ответственность</strong>. Младшеклассник может с карманных денег покупать себе сладости, ученик средней школы в силах оплачивать перекусы в столовой, а старшеклассник может закупить канцтовары к учебному году. Но даже на самого ответственного подростка нельзя полностью переложить покупку всей одежды, обуви и техники. Ключевые траты, влияющие на обеспечение ребенка необходимым, должны контролировать родители.
<br></p>
<br><h2>Вопрос-ответ</h2>
<p><br>
1. <strong>Что делать, если</strong> <strong>ребёнок</strong> <strong>не хочет учиться</strong> <strong>финансовой грамотности</strong><strong>?</strong> 
<br>
Не обязательно использовать этот термин. Можно просто говорить с ребёнком о финансах, тратах, давать ему карманные деньги и обсуждать семейный бюджет. Это и будет обучение.
<br>
2. <strong>Почему</strong> <strong>финансовой грамотности</strong> <strong>не учат в школе?</strong>
<br>
Такие уроки школы проводят в формате факультативов или классных часов. Но если в уроках могут рассказать о том, как устроен финансовый рынок, то рационально сберегать и тратить можно научиться только дома.
<br>
3. <strong>До какого возраста обучать</strong> <strong>ребёнка финансовой грамотности</strong><strong>?</strong>
<br>
Навыки разумного обращения с деньгами важно развивать на протяжении всей жизни. Ребёнок должен знать, что меняются законы, появляются новые финансовые инструменты, и, чтобы не запутаться и сохранить материальное благополучие, важно уметь ими пользоваться.</p>{% endblock %}