{% extends "Tetxts.html" %}{% block content %}
<p>бутерброд — идеальный вариант завтрака.
<br>
От каш и яичниц я быстро устаю, но с бутербродами такого не случается — ведь их легко разнообразить. Можно выбрать из нескольких видов хлеба или взять лаваш или лепешку. А начинку часто можно собрать из того, что уже есть в холодильнике.
<br>
Поделюсь рецептами горячих бутербродов — от самых простых до слегка замороченных. Но все готовятся максимум за 15 минут.
<br></p>
<br><h4>Самые простые 👌</h4>
<p><br>
1. С ветчиной, помидором и сыром
2. Гриль-чиз
3. С яйцом в середине
4. С хумусом, моцареллой и овощами
5. С тунцом
<br></p>
<br><h4>Чуть посложнее ✍️</h4>
<p><br>
1. Со скрэмблом
2. С бальзамическим соусом
3. «Рубленый» бутерброд с бурратой и прошутто
4. С сыром халуми
<br></p>
<br><h4>Настроение «шеф-повар» 🔪</h4>
<p><br>
1. С беконом, грецким орехом и медом
2. Круассан с беконом
3. С омлетом, ветчиной и сыром
<br></p>
<br><h2>Как я готовлю бутерброды</h2>
<p><br>
Чтобы блюдо было вкусным и питательным, я обычно добавляю в бутерброды намазку, овощи и белок.
<br>
В качестве намазок использую творожный сыр, хумус или соусы, например карри, барбекю или чипотле — пряный майонезный соус с копченым перцем.
<br>
Мне нравится добавлять в бутерброды салат, потому что он сочный и приятно хрустит, и помидоры, потому что это мой любимый овощ.
<br>
Для меня любой бутерброд становится вкуснее, если хлеб поджарить. Это можно сделать на сковороде с маслом или без, в тостере, запечь в духовке. 
<br></p>
<br><h2>Бутерброд с ветчиной, помидором и сыром</h2>
<p><br>
Классика в мире бутербродов. Возьмите любой хлеб, любимую ветчину или колбаску и хорошо плавящийся сыр, <a href="https://www.ozon.ru/product/president-syr-chedder-plavlenyy-lomtiki-40-150-g-144576590/">например чеддер</a>, гауду, «российский» или «костромской».
<br>
<strong>Шаг 1.</strong> Разогрейте духовку до 180 °C. Батон нарежьте ломтиками, ветчину кубиками, а помидор кружками. Сыр натрите на терке и смешайте с майонезом.
<br>
<strong>Шаг 2.</strong> Выложите на хлеб начинку в следующем порядке: ветчина, помидор, майонез с сыром.
<br>
<strong>Шаг 3.</strong> Выложите бутерброды на противень, застеленный бумагой для выпечки. Уберите в духовку на 3—5 минут. За это время хлеб поджарится, а сыр растает.
<br>
<strong>Шаг 4.</strong> Дайте готовым бутербродам остыть 2—3 минуты и подавайте.
<br></p>
<br><h2>Гриль-чиз</h2>
<p><br>
Жареный сэндвич с плавленым сыром, который отлично подойдет для перекуса. Для приготовления гриль-чиза можно взять <a href="https://www.perekrestok.ru/cat/243/p/hleb-hlebnyj-dom-tostovyj-psenicnyj-350g-4050647">тостовый хлеб</a>, бриошь или чиабатту.
<br>
Сыр для сэндвича можно использовать одного или нескольких видов. Выбирайте те, что хорошо плавятся: чеддер, бри, гауду, грюйер. Масло заранее достаньте из холодильника — так будет удобнее смазывать им хлеб.
<br>
<strong>Шаг 1.</strong> Поставьте сковороду разогреваться на средний огонь. Кусковой сыр натрите на терке. Сливочным маслом смажьте оба куска хлеба с одной стороны.
<br>
<strong>Шаг 2.</strong> Кусочек хлеба положите маслом вниз на горячую сковороду. Сверху на хлеб положите сыр. Я положила сначала ломтик чеддера, затем тертую гауду, затем снова чеддер.
<br>
<strong>Шаг 3.</strong> Вторым кусочком хлеба накройте сэндвич так, чтобы сверху оказалась сторона с маслом.
<br>
<strong>Шаг 4.</strong> Обжаривайте сэндвич с двух сторон по 2—3 минуты до золотистой корочки. Если хлеб поджарился, а сыр еще не растаял, накройте сковороду крышкой, убавьте огонь и оставьте сэндвич на 1—2 минуты.
<br>
<strong>Шаг 5.</strong> Готовый гриль-чиз разрежьте на треугольники и подавайте.
<br></p>
<br><h2>Бутерброд с яйцом в середине</h2>
<p><br>
Для такого бутерброда удобнее всего использовать тостовый хлеб. Также пригодится круглая форма для вырезания печенья — чтобы проделать отверстие в середине хлеба.
<br>
Если у вас нет такой формы, можно вырезать отверстие по кружке.
<br>
<strong>Шаг 1.</strong> Разогрейте духовку до 200 °C. Застелите противень бумагой для выпечки. Сыр натрите на терке.
<br>
<strong>Шаг 2.</strong> Проделайте в середине куска хлеба дырку. Выложите колбасу на хлеб так, чтобы ее закрыть.
<br>
<strong>Шаг 3.</strong> Выложите поверх колбасы сырое яйцо, посолите и поперчите. Посыпьте тертым сыром.
<br>
<strong>Шаг 4.</strong> Запекайте бутерброд в духовке 12—15 минут, пока яйцо не запечется. Готовый бутерброд остудите 1—2 минуты и подавайте.
<br></p>
<br><h2>Сэндвич с хумусом, моцареллой и овощами</h2>
<p><br>
Вегетарианский вариант бутерброда для завтрака. С овощами и <a href="https://vkusvill.ru/goods/khumus-s-vyalenymi-pomidorami-21408.html">хумусом</a> хорошо сочетается бездрожжевой хлеб — <a href="https://vkusvill.ru/goods/tartin-pshenichno-rzhanoy-polovinka-32931.html">тартин на пшеничной и ржаной муке.</a>
<br>
Можно взять моцареллу в шариках или кусковую или заменить сыр на тофу — тогда сэндвич получится веганским.
<br>
<strong>Шаг 1.</strong> Хлеб поджарьте на сковороде или в тостере.
<br>
<strong>Шаг 2.</strong> Огурец и помидор нарежьте на кружочки, красный лук — на тонкие кольца. Шарики моцареллы разрежьте пополам. Если используете кусковой сыр, нарежьте его на ломтики.
<br>
<strong>Шаг 3.</strong> Смажьте оба кусочка хлеба хумусом и соберите бутерброд. Я выложила начинку в таком порядке: красный лук, салат, огурец, помидор, моцарелла. Накройте сэндвич вторым кусочком хлеба.
<br>
<strong>Шаг 4.</strong> Разрежьте сэндвич на половинки и подавайте.
<br></p>
<br><h2>Сэндвич с тунцом</h2>
<p><br>
Для этого сэндвича подойдет белый или цельнозерновой хлеб. Я взяла белый тостовый.
<br>
Бутерброд получается очень сочным благодаря соусу и сельдерею. Если не любите этот овощ — можно его не добавлять.
<br>
<strong>Шаг 1.</strong> Поджарьте хлеб на сковороде или в тостере.
<br>
<strong>Шаг 2.</strong> Помидор нарежьте круглыми дольками, красный лук и сельдерей — мелкими кубиками. Укроп нашинкуйте.
<br>
<strong>Шаг 3.</strong> Тунец переложите в миску, разомните его вилкой. Добавьте к тунцу овощи, сок лимона, йогурт, соль, перец, мед, горчицу. Перемешайте до однородности.
<br>
<strong>Шаг 4.</strong> Переложите начинку на хлеб, накройте сэндвич вторым ломтиком. Подавайте.
<br></p>
<br><h2>Бутерброд со скрэмблом</h2>
<p><br>
Скрэмбл — другое название для яичницы-болтуньи. Я взяла для этого бутерброда тостовый хлеб, но можно взять тартин или батон.
<br>
Можно добавить в скрэмбл колбасу, ветчину или бекон, чтобы сделать бутерброд сытнее.
<br>
<strong>Шаг 1.</strong> Хлеб поджарьте на сковороде или в тостере.
<br>
<strong>Шаг 2.</strong> Яйца разбейте в миску, посолите и поперчите. Перемешайте вилкой до однородности.
<br>
<strong>Шаг 3.</strong> Сливочное масло растопите на сковороде. Влейте яичную смесь.
<br>
<strong>Шаг 4.</strong> Готовьте массу на среднем огне 5—10 секунд. Когда увидите, что яйца начали схватываться, начните мешать их круговыми движениями лопаткой. Технику перемешивания можно <a href="https://www.youtube.com/watch?vLUUWip4Cmjg&amp;ab_channel%D0%92%D1%81%D0%B5%D0%B3%D0%B4%D0%B0%D0%92%D0%BA%D1%83%D1%81%D0%BD%D0%BE%21">посмотреть на «Ютубе».</a>
<br>
Продолжайте мешать 1—2 минуты. Скрэмбл будет постепенно густеть: нужно поймать момент, когда он будет еще немного влажным.
<br>
<strong>Шаг 5.</strong> Выключите огонь и дайте скрэмблу дойти до готовности еще 1—2 минуты.
<br>
<strong>Шаг 6.</strong> Положите яйца на тост. Украсьте его сыром, черри и зеленым луком. Подавайте.
<br></p>
<br><h2>Сэндвич с бальзамическим соусом</h2>
<p><br>
Сэндвич с нотками Италии, которые бутерброду <a href="https://www.ozon.ru/product/sous-balzamicheskiy-filippo-berio-klassicheskiy-250-g-148610026/?asbNTHmV%252Bzrzu81Qbencd1vFrFlU5H4Ts4JYdhGPJu2Gxw%253D&amp;asb2t7ur1fYnlVll9dWEpHVMa7s_CwtBO8MyMVD0veEzg1q2X6XEKFcASjhOr8FNRfOv4Kvhy4IGcsFlmc_4rPQPug&amp;avtc1&amp;avte2&amp;avts1712749732&amp;keywords%D0%B1%D0%B0%D0%BB%D1%8C%D0%B7%D0%B0%D0%BC%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B9+%D1%81%D0%BE%D1%83%D1%81">придает бальзамический соус</a> и <a href="https://www.perekrestok.ru/cat/103/p/priprava-kotanyi-italanskie-travy-14g-3385945">характерные для итальянской кухни травы</a> — розмарин, базилик, орегано, тимьян. Можно взять их по отдельности или использовать любую смесь, в которой они есть.
<br>
<a href="https://www.perekrestok.ru/cat/783/p/vetcina-varenaa-indilajt-kampana-iz-grudki-indejki-120g-4154477">Ветчину из индейки</a> можно заменить на обычную. Из хлеба рекомендую присмотреться к чиабатте, багету или круассану.
<br>
<strong>Шаг 1.</strong> Разогрейте духовку до 180 °C. Застелите противень бумагой для выпечки. В середине багета сделайте горизонтальный надрез, чтобы раскрыть его как книжку. Сыр натрите на терке.
<br>
<strong>Шаг 2.</strong> Сыр выложите на одну сторону багета. Уберите хлеб в духовку и выпекайте 10 минут. Хлеб должен прогреться, а сыр — расплавиться.
<br>
Не прорезайте багет до конца — так сэндвич будет удобнее есть
<br>
<strong>Шаг 3.</strong> Помидор нарежьте кубиками и смешайте с бальзамическим соусом. Добавьте соль, перец, приправу.
<br>
<strong>Шаг 4.</strong> Смажьте творожным сыром другую половину разогретого хлеба. Сверху выложите ветчину, затем — помидоры и салат. Закройте сэндвич и подавайте.
<br></p>
<br><h2>«Рубленый» бутерброд с бурратой и прошутто</h2>
<p><br>
Этот бутерброд получается сочным за счет бурраты — это сыр-мешочек из моцареллы, внутри которого нежный, почти жидкий сыр страчателла. Если не можете найти буррату, ее можно заменить на страчателлу или моцареллу.
<br>
<a href="https://www.perekrestok.ru/cat/136/p/prosutto-iz-svininy-cortador-syrovalenoe-kategoria-b-80g-4043172">Прошутто</a> — итальянская разновидность вяленого мяса: она придаст бутерброду солоноватый мясной вкус. Вместо прошутто можно взять салями. Еще понадобится <a href="https://www.ozon.ru/product/uksus-balzamicheskiy-ponti-kachestvo-modeny-500-ml-257049353/?advertn4hqyvpP4U_GF1jV96Axym68jyj-uxRoBx_ZQf1WsMq_ywrsmtU4gmEX0mFZT4x0rRY024EQE_itJcayDQtRSX37wYE-WkyyAkU7VwRDhnYIGs25HqyhMydpjw-tjQM6Of4tAzWW8JAPWHL8N9_xnuqByRfEtxDeO-aaF6vYLeL-fGvbdE9RGnGDA-42I_UyNa9N3SmSmyKR1_9k1NKgSjnhbxryaKi1wUlBNZP5w7IN_XwY60EYPezBxEdKJh_3YgYiWCS6lv0q9VFN5Egg7oxgGyUob4QoW81JoHVMzV3ZXmN1rBcSr_jJKC8ZLFVW7xhaxGc&amp;avtc1&amp;avte2&amp;avts1713859307&amp;keywords%D0%A3%D0%BA%D1%81%D1%83%D1%81">бальзамический уксус</a>, который производят из виноградного сусла: у него особый вкус, который не заменить другим видом уксуса.
<br>
К такой начинке подойдет любой белый хлеб. Я выбрала пористую чиабатту.
<br>
<strong>Шаг 1.</strong> Чиабатту разрежьте вдоль на 2 половинки. Поджарьте хлеб с обеих сторон на сковороде до золотистой корочки.
<br>
<strong>Шаг 2.</strong> На разделочную доску выложите буррату. Разорвите ее вилкой на 2 части, сверху положите черри, шпинат, прошутто, добавьте бальзамический уксус, масло, соль и перец. Ножом измельчите продукты в единую массу.
<br>
Такой формат сэндвичей в соцсетях называют «рублеными». В каждом укусе такого бутерброда будут одинаковые кусочки начинки
<br>
<strong>Шаг 3.</strong> Выложите начинку на половинки чиабатты.
<br>
<strong>Шаг 4.</strong> Подавайте бутерброды.
<br></p>
<br><h2>Сэндвич с сыром халуми</h2>
<p><br>
<a href="https://www.perekrestok.ru/cat/122/p/syr-polutverdyj-hallumi-iz-korovego-moloka-50-market-collection-200g-3958445">Халуми</a> — плотный кипрский сыр, который практически не плавится, поэтому его можно жарить на гриле или на сковороде. Он хорошо сочетается с мясом и рыбой.
<br>
В этом сэндвиче мне нравится использовать <a href="https://spb.vkusvill.ru/goods/sous-chipotle-68587.html">пряный соус чипотле.</a> Его можно заменить на майонез с паприкой и перцем чили.
<br>
Для этого бутерброда подойдет багет, чиабатта или любой другой белый хлеб. Если хочется разнообразить вкус бутерброда, можно добавить в него маринованный красный лук или оливки.
<br>
<strong>Шаг 1.</strong> Разрежьте чиабатту вдоль на две половинки. Поджарьте хлеб на сковороде с двух сторон.
<br>
<strong>Шаг 2.</strong> Помидор и огурец нарежьте круглыми дольками, а болгарский перец — полосками. Сыр нарежьте кусочками толщиной 7—10 мм. Хлеб смажьте соусом чипотле.
<br>
<strong>Шаг 3.</strong> Выложите сыр на раскаленную сковороду и на среднем огне обжарьте до появления золотистой корочки с обеих сторон. Посолите и поперчите.
<br>
<strong>Шаг 4.</strong> На одну часть чиабатты выложите салат, помидор, огурец, халуми. Накройте второй булочкой и подавайте.
<br></p>
<br><h2>Бутерброд с беконом, грецким орехом и медом</h2>
<p><br>
Необычный вариант бутерброда, для которого бекон обжаривают вместе с медом и грецким орехом.
<br>
Если вы любите сыр с белой плесенью, например бри, можно использовать его вместо творожного сыра, слегка обжарив на сковороде.
<br>
<strong>Шаг 1.</strong> Хлеб поджарьте на сковороде или в тостере. Грецкий орех мелко нарежьте.
<br>
<strong>Шаг 2.</strong> Бекон пожарьте на сковороде. Когда он будет готов, выложите его из сковороды и немного обжарьте грецкий орех с медом.
<br>
<strong>Шаг 3.</strong> Бекон мелко нарежьте и верните в сковороду с медом и орехами. Перемешайте.
<br>
<strong>Шаг 4.</strong> Смажьте хлеб творожным сыром. Выложите на тартин бекон, мед и орехи. Подавайте.
<br></p>
<br><h2>Круассан с беконом</h2>
<p><br>
Для этого рецепта понадобится готовый круассан. Я обычно покупаю их в пекарне у дома или в отделе выпечки в «Магните» или «Перекрестке».
<br>
Берите широкую сковороду, в которой поместятся обе половинки круассана. Сыр выбирайте тот, что хорошо плавится: гауду, чеддер, «костромской», «российский».
<br>
<strong>Шаг 1.</strong> Поставьте сковороду разогреваться на средний огонь. Сыр натрите на терке. Круассан разрежьте вдоль на две части.
<br>
<strong>Шаг 2.</strong> Выложите сыр на горячую сковороду. Когда он растает, положите на него две половинки круассана. Выключите огонь и подождите 1—2 минуты, чтобы дать сырной корочке приклеиться к круассану. Снимите выпечку с сыром со сковородки.
<br>
Когда сыр расплавится и начнет поджариваться, можно класть в него круассан
<br>
Кладите половинки круассана симметрично, чтобы можно было собрать его в ровный бутерброд
<br>
<strong>Шаг 3.</strong> Обжарьте на сковороде бекон и яйцо.
<br>
<strong>Шаг 4.</strong> Смажьте обе стороны круассана соусом барбекю. На одну сторону положите бекон, затем — яйцо.
<br>
<strong>Шаг 5.</strong> Закройте сэндвич второй половинкой круассана. Подавайте.
<br>
Настроение «шеф-повар»
<br></p>
<br><h2>Сэндвич с омлетом, ветчиной и сыром</h2>
<p><br>
Чтобы приготовить этот сэндвич, понадобится немного ловкости и сковорода, в которую поместятся 2 кусочка тостового хлеба.
<br>
Берите сыр, который хорошо плавится: гауду, чеддер, «костромской», «российский». Можно потереть его на терке или положить целые ломтики.
<br>
<strong>Шаг 1.</strong> Яйца перемешайте с молоком до однородности. Посолите и поперчите.
<br>
<strong>Шаг 2.</strong> Разогрейте сковороду на среднем огне. Добавьте в нее сливочное масло. Когда масло растопится, влейте яичную смесь. Положите в нее хлеб.
<br>
<strong>Шаг 3.</strong> Жарьте омлет на среднем огне. Когда смесь застынет, переверните омлет вместе с хлебом. Для этого удобно использовать длинную лопатку.
<br>
<strong>Шаг 4.</strong> Когда омлет поджарится с другой стороны, подогните лопаткой края омлета внутрь хлеба. Должен получиться прямоугольник.
<br>
<strong>Шаг 5.</strong> На одну из сторон выложите начинку в таком порядке: тертый сыр, плавленый сыр, ветчина, тертый сыр, плавленый сыр. Сложите бутерброд пополам, убавьте огонь.
<br>
<strong>Шаг 6.</strong> Обжаривайте сэндвич на слабом огне 1—2 минуты — пока не подрумянится хлеб и не расплавится сыр.
<br>
<strong>Шаг 7.</strong> Разрежьте сэндвич на треугольники и подавайте.</p>{% endblock %}