{% extends "Tetxts.html" %}{% block content %}
<p>Компот — простой напиток из фруктов и ягод.
<br>
Делать его можно как из сухофруктов, так и из свежего и замороженного сырья. Часто компот готовят из свежих и сезонных продуктов: так проще и дешевле. Но ничто не мешает готовить его круглый год.
<br>
Все напитки нужно употребить сразу или в течение пары дней: для длительного хранения и консервации они не подойдут, потому что в них недостаточно сахара.
<br></p>
<br><h4>Какие компоты сварим</h4>
<p><br>
1. Из сухофруктов
2. Из свежей клубники с базиликом
3. Из замороженной вишни
<br></p>
<br><h2>Прежде чем готовить</h2>
<p><br>
В любом компоте всего несколько основных ингредиентов: фрукты, ягоды или их смесь, вода и сахар. Соотношение фруктов и ягод может быть любым. Обычно напиток варят не четко по граммам, а на глаз. Так же добавляют и сахар — по вкусу, но немного: все-таки это не варенье.
<br>
<strong>Компот из сухофруктов</strong> готовят на основе специальной смеси. Обычные чернослив и курага из магазинов не подойдут: они сделают компот мутным. Лучше купить готовую смесь на рынке или <a href="https://www.ozon.ru/product/kompotnaya-smes-iz-suhofruktov-1kg-1384790254/">на маркетплейсе</a> или высушить сухофрукты самостоятельно. Желательно, чтобы сухофрукты были разными: так вкус получится богаче.
<br>
Я нашла компотную смесь в ближайшем супермаркете. В ней — абрикос и алыча с косточкой, яблоко, изюм и груша. Есть варианты с вишней, черносливом и другими продуктами. Иногда к сухофруктам добавляют безопасный консервант — оксид серы Е220, чтобы продлить их срок хранения .
<br>
Сухофрукты всегда предварительно хорошо промывают горячей водой, чтобы удалить пыль, травинки и прочий мусор. Затем быстро доводят до кипения и долго томят на небольшом огне: так лучше раскрывается аромат.
<br>
<strong>Компот из свежих фруктов и ягод</strong> хорош в сезон и в том случае, если у вас есть неограниченный доступ к сырью, например со своей дачи. Понадобятся спелые продукты. Их лучше готовить сразу, но можно и заморозить. Для этого их нужно перебрать, удалить испорченные, червивые и прочие негодные. Затем хорошо промыть, немного просушить и заморозить в контейнерах. Из таких заготовок можно варить компоты всю зиму.
<br>
Хорошие компоты получаются из клубники, вишни, черешни, черной смородины, крыжовника, черники, ежевики, малины и других ягод. С ними сочетаются яблоки, груши, сливы, абрикос, апельсин. Каждый раз можно делать разный набор фруктов и ягод — из того, что есть. Допустим, от трех до пяти видов ягод и один-два фрукта. Можно добавлять курагу или сушеные яблоки для вкуса.
<br>
Важно, чтобы фрукты и ягоды были крепкими и не раскисали в компоте, иначе он получится мутным. Это не влияет на вкус, только на эстетику. Напиток можно процедить, а на его основе <a href="https://journal.tinkoff.ru/recept-russia/">сварить кисель.</a>
<br>
<strong>Компот из замороженного сырья</strong> — самый простой вариант. Я буду варить из вишни, но подойдет и любой другой фрукт или ягода. Предварительно размораживать их не нужно — только залить водой и закипятить.
<br>
Для любого компота сырье всегда заливают холодной водой, чтобы при варке весь вкус и аромат ушли в жидкость. Вареные фрукты и ягоды теряют цвет, вкус, упругость и аромат, поэтому не всем они приходятся по душе.
<br>
<strong>Из инвентаря</strong> понадобится только сотейник или кастрюля. Если вы не едите фрукты и ягоды в компоте, то еще сито.
<br></p>
<br><h2>Компот из сухофруктов</h2>
<p><br>
Пожалуй, самый известный еще с советских времен компот — из сухофруктов. Его до сих пор варят в детских садах.
<br>
<strong>Сложность:</strong> легко 👌<br />
<strong>Время приготовления:</strong> 1 час 40 минут, из них активной работы — 5 минут
<br>
<strong>Шаг 1.</strong> Промойте сухофрукты в горячей воде.
<br>
<strong>Шаг 2.</strong> Сухофрукты залейте водой и добавьте сахар. Доведите до кипения и томите под крышкой на небольшом огне. Я оставила сотейник на минимальной мощности плиты на полтора часа. Можно оставить и дольше, тогда сухофрукты больше размокнут и компот станет еще ароматнее.
<br>
<strong>Шаг 3.</strong> Процедите компот. Пейте теплым или холодным. Сухофрукты можно выкинуть или съесть.
<br>
За полтора часа томления фрукты разбухли. Учитывайте это, когда будете выбирать посуду для варки
<br>
3 порции компота из сухофруктов обойдутся в 71 ₽.
<br></p>
<br><h2>Компот из свежей клубники с базиликом</h2>
<p><br>
Это сезонный напиток: лучше и дешевле готовить его с мая по июль — в сезон клубники. Но ягоду можно заменить и замороженной. Особый оттенок вкуса и аромат напитку придаст веточка базилика. Если вам не нравится эта трава, просто не кладите ее или замените, например, мятой.
<br>
<strong>Сложность:</strong> легко 👌<br />
<strong>Время приготовления:</strong> 20 минут
<br>
<strong>Шаг 1.</strong> Клубнику промойте в холодной воде. Удалите плодоножку. Разрежьте крупные ягоды пополам, но не мельчите.
<br>
<strong>Шаг 2.</strong> Ягоды положите в сотейник, залейте водой, засыпьте сахаром и добавьте веточку базилика, лучше со стеблем: так получится ароматнее. Доведите до кипения, прокипятите пару минут. Можно накрыть компот крышкой на 5 минут, чтобы он настоялся.
<br>
<strong>Шаг 3.</strong> Процедите ягоды по желанию. Клубника, особенно замороженная, сильно размокает: это нравится не всем. Пейте компот теплым или холодным.
<br>
Некоторые ягоды попались крупные — их лучше разрезать: так они точно поместятся в сотейник
<br>
4 порции компота из свежей клубники с базиликом обойдутся в 363 ₽.
<br></p>
<br><h2>Компот из замороженной вишни</h2>
<p><br>
Приготовим компот из замороженной вишни без косточки. Подойдут и другие замороженные фрукты и ягоды.
<br>
<strong>Сложность:</strong> легко 👌<br />
<strong>Время приготовления:</strong> 15 минут
<br>
Иногда я варю такой компот: здесь слива с косточкой, крыжовник, виноград, черноплодная рябина и клубника
<br>
<strong>Шаг 1.</strong> Вишню положите в сотейник, залейте водой, засыпьте сахаром. Доведите до кипения, прокипятите пару минут и оставьте на 10 минут под крышкой настояться.
<br>
<strong>Шаг 2.</strong> Пейте компот теплым или холодным. Вишня — плотная ягода, она остается такой даже после варки, поэтому обычно вишню едят.
<br>
4 порции компота из замороженной вишни обойдутся в 193 ₽.</p>{% endblock %}