{% extends "Tetxts.html" %}{% block content %}
<br><h2>Прежде чем готовить</h2>
<p><br>
<strong>Макароны.</strong> От пасты зависит время приготовления всех блюд в подборке. На подготовку ингредиентов уходит около пяти минут, остальное время варится гарнир.
<br>
Для основы можно выбрать любую форму пасты, которая вам по душе. Чуть быстрее и удобнее получается с небольшими орзо, рожками, ракушками, перьями, бабочками: они легко помещаются в сотейник вместе с остальными ингредиентами.
<br>
Со спагетти, лингвини и другими длинными видами чуть сложнее: они могут не поместиться в сковороду, тогда их придется добавлять в соус по частям и постепенно подгибать сухие концы.
<br>
Если спагетти не влезают в сковороду целиком, просто подождите 10—20 секунд, когда паста размокнет с одной стороны, и подогните сухие концы
<br>
<strong>Сыр.</strong> Готовое блюдо я посыпаю тертым пармезаном. Его можно заменить другими твердыми сырами, например гойей или грюйером. Если и их не нашлось, берите полутвердые сорта вроде голландского, тильзитера, гауды
<br>
<strong>Вода.</strong> В каждом рецепте вместе с соусом в пасту нужно добавлять воду. Вскипятите ее перед готовкой.
<br>
Макароны впитают часть жидкости из соуса, немного воды выпарится. В идеале соус должен почти полностью покрывать гарнир в начале варки, постепенно выпариваться и загустевать ближе к концу. Если жидкости в сковороде остается слишком мало, а паста еще не сварилась, подлейте 100—150 мл горячей воды.
<br>
<strong>Инвентарь.</strong> Для всех пяти рецептов понадобится терка для сыра, сотейник с крышкой, глубокая сковорода или кастрюля с толстым дном.
<br>
Во время готовки жидкость должна почти полностью покрывать пасту. Если ваша сковорода выглядит так, но макароны еще не готовы, подлейте немного горячей воды
<br></p>
<br><h2>С мясным фаршем в томатном соусе</h2>
<p><br>
Вариант похож на пасту болоньезе. Мои дети обожают это блюдо и, кажется, готовы есть только его.
<br>
Из макарон я выбрала спагетти. Фарш у меня говяжий, но можно брать и другой, например смесь говяжьего и свиного или куриный. Соус я взяла <a href="https://vkusvill.ru/goods/sous-tomatnyy-s-italyanskimi-travami-62854.html">с итальянскими травами.</a> Если такого не нашлось, добавьте к обычному томатному соусу сушеный базилик и орегано.
<br>
<strong>Шаг 1.</strong> Лук нарежьте мелким кубиком. Чеснок мелко нарубите. Пармезан натрите на мелкой терке.
<br>
<strong>Шаг 2.</strong> Разогрейте сотейник или сковороду, влейте оливковое масло. Лук, чеснок и говяжий фарш обжаривайте около 5 минут до золотистости. Фарш постоянно помешивайте и разбивайте лопаткой на небольшие кусочки.
<br>
На этом этапе не обязательно полностью готовить мясо: оно дойдет в соусе вместе с макаронами.
<br>
<strong>Шаг 3.</strong> Томатный соус и воду влейте к фаршу и овощам, хорошо перемешайте. Добавьте пасту и перемешайте все ингредиенты. Убавьте огонь до среднего. Накройте крышкой и готовьте столько, сколько указано на упаковке макарон. Периодически помешивайте и доливайте горячую воду, если паста впитала почти всю жидкость.
<br>
<strong>Шаг 4.</strong> Выложите готовую пасту на тарелку, посыпьте пармезаном, украсьте базиликом и подавайте. По желанию блюдо можно сбрызнуть оливковым маслом и посыпать свежемолотым черным перцем.
<br></p>
<br><h2>С куриными колбасками в остром томатном соусе</h2>
<p><br>
Для этой пасты я выбрала <a href="https://www.ozon.ru/product/makarony-federici-penne-rigate-perya-riflenye-23-iz-tverdyh-sortov-pshenitsy-500-g-135507648/">пенне.</a> Соус предлагаю использовать острый — <a href="https://vkusvill.ru/goods/sous-tomatnyy-arrabiata-28938.html">«Аррабиата».</a> Или возьмите другой томатный. А если хочется сделать блюдо пикантным, но под рукой только обычный соус, добавьте к нему свежий или сушеный острый перец и удвойте количество чеснока.
<br>
Чтобы сбалансировать остроту, я приготовила пасту с нейтральными <a href="https://vkusvill.ru/goods/kolbaski-myunkhenskie-ves-36531.html">куриными колбасками.</a> Но подойдут и другие — свиные, говяжьи, острые или копченые.
<br>
Перец я взяла рамиро: он менее водянистый и более яркий, чем простой сладкий. Но можно использовать и его.
<br>
<strong>Шаг 1.</strong> Колбаски нарежьте наискосок кружочками толщиной примерно 1 см, лук — полукольцами. У перца удалите семена и нарежьте длинными ломтиками. Чеснок мелко нарубите. Сыр натрите на мелкой терке.
<br>
<strong>Шаг 2.</strong> Начните разогревать сотейник или глубокую сковороду на сильном огне. Добавьте оливковое масло, колбаски и нарезанные овощи. Обжаривайте 2—3 минуты до золотистости, помешивая.
<br>
<strong>Шаг 3.</strong> Пасту добавьте к колбаскам и овощам, влейте томатный соус и воду. Посолите, поперчите, добавьте сахар и хорошо перемешайте. Доведите до кипения и убавьте огонь до среднего. Накройте крышкой и готовьте столько, сколько указано на упаковке макарон. Периодически помешивайте и доливайте в сотейник горячую воду, если жидкости осталось слишком мало.
<br>
<strong>Шаг 4.</strong> Готовую пасту разложите по тарелкам, украсьте базиликом и тертым сыром и подавайте.
<br></p>
<br><h2>С лососем и шпинатом в сливочном соусе</h2>
<p><br>
Для этой пасты я взяла <a href="https://vkusvill.ru/goods/pasta-orzo-38792.html">орзо</a> — внешне эти макароны похожи на рис. Они быстро готовятся, а текстура блюда получается однородной.
<br>
Рыба подойдет любая красная: форель, нерка, горбуша. Я использовала замороженные <a href="https://vkusvill.ru/goods/medalony-iz-semgi-zam-200-g-37747.html">медальоны из семги</a> — их нужно предварительно разморозить.
<br>
Шпинат у меня тоже был замороженный, его можно быстро разморозить в микроволновке или просто выложить из морозилки за полчаса до начала готовки.
<br>
<strong>Шаг 1.</strong> Чеснок мелко нарубите. Семгу нарежьте небольшими кусочками. Пармезан натрите на мелкой терке.
<br>
<strong>Шаг 2.</strong> Начните разогревать сковороду на среднем огне, влейте в нее немного оливкового масла. Чеснок и шпинат обжаривайте около минуты — из зелени выйдет лишняя влага, а чеснок подрумянится.
<br>
<strong>Шаг 3.</strong> Добавьте в сковороду пасту, перемешайте. Сразу влейте сливки и воду, выложите половину творожного сыра, соль, сахар и перец.
<br>
Перемешайте еще раз, накройте крышкой, убавьте огонь до среднего. Готовьте столько времени, сколько указано на упаковке макарон, периодически помешивая.
<br>
<strong>Шаг 4.</strong> За 2—3 минуты до готовности пасты добавьте в сковороду кусочки рыбы. Аккуратно перемешайте, чтобы не раскрошить семгу. Если паста впитала слишком много жидкости, долейте воды и 1—2 ст. л. сливок.
<br>
<strong>Шаг 5.</strong> Готовую пасту разложите по тарелкам. Украсьте тертым пармезаном и свежим базиликом, сбрызните оливковым маслом, по вкусу поперчите и подавайте.
<br></p>
<br><h2>Со сладким перцем и сыром фета в томатном соусе</h2>
<p><br>
Ароматная и яркая паста по мотивам греческой кухни. Для этого варианта я выбрала <a href="https://www.ozon.ru/product/makarony-federici-penne-rigate-perya-riflenye-23-iz-tverdyh-sortov-pshenitsy-500-g-135507648/">пенне.</a> Перец взяла сорта рамиро, но подойдет и обычный сладкий. Оливки у меня без косточки — так удобнее есть.
<br>
Томатный соус использовала <a href="https://vkusvill.ru/goods/sous-tomatnyy-s-italyanskimi-travami-62854.html">с итальянскими травами.</a> Если такого не нашлось, берите обычный томатный и добавьте в него сушеный базилик и орегано.
<br>
<strong>Шаг 1.</strong> Чеснок мелко нарубите, оливки разрежьте пополам. Лук нарежьте полукольцами или небольшими перьями. У перца удалите семена, нарежьте кружочками по диагонали. Пармезан натрите на мелкой терке.
<br>
<strong>Шаг 2.</strong> Сотейник или сковороду разогрейте, добавьте оливковое масло. Лук, перец и чеснок обжаривайте 2 минуты до золотистости.
<br>
<strong>Шаг 3.</strong> Оливки добавьте в сковороду к овощам, перемешайте. Всыпьте пасту, добавьте томатный соус и горячую воду. Еще раз перемешайте. Убавьте огонь до среднего, накройте крышкой. Готовьте столько времени, сколько указано на упаковке макарон. Периодически помешивайте и подливайте воду, если гарнир впитает слишком много жидкости.
<br>
<strong>Шаг 4.</strong> Отложите немного феты для украшения. Остальной сыр покрошите в сотейник с готовыми макаронами. Перемешайте.
<br>
<strong>Шаг 5.</strong> Готовую пасту разложите по тарелкам. Сверху покрошите оставшуюся фету, посыпьте тертым пармезаном, украсьте блюдо базиликом и подавайте. По желанию можно сбрызнуть пасту оливковым маслом и посыпать свежемолотым черным перцем.
<br></p>
<br><h2>С грибами в сливочном соусе</h2>
<p><br>
Нежная сливочная паста для любителей грибов. Для этого варианта я взяла орзо, но отлично подойдут <a href="https://www.ozon.ru/product/makarony-la-molisana-fettuccine-lapsha-yaichnaya-v-gnezdah-204-250-g-135507672/">феттучини</a> или <a href="https://www.ozon.ru/product/makaronnye-izdeliya-iz-tverdyh-sortov-pshenitsy-lingvine-7-pasta-makarony-italiya-500-g-306944233/">лингвини:</a> чаще всего грибные соусы подают именно с такими пастами.
<br>
Грибы у меня шампиньоны, но с белыми будет еще вкуснее. Можно взять вешенки, но они не такие ароматные.
<br>
<strong>Шаг 1.</strong> Лук нарежьте мелкими кубиками. Грибы — небольшими кусочками. Пармезан натрите на мелкой терке.
<br>
<strong>Шаг 2.</strong> Разогрейте сотейник или сковороду, влейте оливковое масло. Лук и грибы обжаривайте на сильном, но не максимальном огне 4—5 минут до золотистости, периодически помешивая.
<br>
<strong>Шаг 3.</strong> Пасту добавьте к луку и грибам, влейте сливки и воду. Добавьте соль, сахар, перец, перемешайте до однородности соуса, накройте крышкой, убавьте огонь до среднего. Готовьте столько времени, сколько указано на упаковке макарон, периодически помешивая. Если паста впитала почти всю жидкость — долейте немного горячей воды и 1—2 ст. л. сливок.
<br>
<strong>Шаг 4.</strong> Готовую пасту выложите на тарелку. Посыпьте пармезаном и подавайте. Можно сбрызнуть блюдо оливковым маслом и посыпать свежемолотым черным перцем.</p>{% endblock %}