{% extends "Tetxts.html" %}{% block content %}
<p>Куличи на Пасху — это святое.
<br>
Мне всегда казалось, что испечь кулич очень сложно. Но в прошлом году я попробовала — и все получилось с первого раза.
<br>
В этой статье поделюсь шестью проверенными рецептами куличей. Приготовление займет не очень много времени, а по вкусу они будут лучше магазинных.
<br></p>
<br><h2>Что нужно знать о куличах</h2>
<p><br>
Считается, что кулич — это пасхальный хлеб, который напоминает о воскресении Христовом. Обычно для кулича готовят кислое тесто на закваске. Он может быть с изюмом или цукатами и специями: мускатным орехом, ванилью, кардамоном. Верхушку украшают глазурью или сахарной пудрой.
<br>
Если хочется поэкспериментировать со вкусом, можно добавить в тесто цедру апельсина, лимона или орехи. Или обойтись без добавок — это никак не повлияет на процесс.
<br>
Для выпекания нужны специальные формы — круглые и высокие. Можно купить многоразовые силиконовые, я обычно <a href="https://www.ozon.ru/product/forma-dlya-vypechki-top-decor-20-sht-778831850/">использую бумажные формы.</a> Еще для приготовления и украшения куличей понадобится миксер и силиконовая лопатка.
<br>
Готовый кулич украшают глазурью. Можно купить <a href="https://www.ozon.ru/product/dekor-dlya-vypechki-s-pudov-saharnaya-glazur-belaya-3-sht-po-100-g-168316674/">готовую сухую смесь</a> — ее достаточно развести водой или молоком. Пакетик стоит примерно 60 ₽, его хватит на один большой и один маленький кулич. Более замороченный вариант — приготовить глазурь самостоятельно из яичного белка и сахарной пудры. Такая глазурь получается плотнее порошковой. Подробный рецепт будет в конце статьи.
<br></p>
<br><h2>Творожный кулич</h2>
<p><br>
Это несложный рецепт кулича без дрожжей. Подойдет, если нужно приготовить угощение быстро.
<br>
Тесто получается нежным и воздушным, поэтому кулич еще называют пушистым. Лимонная цедра придает выпечке цитрусовый аромат.
<br>
Все ингредиенты нужно заранее достать из холодильника — они должны быть комнатной температуры.
<br>
Из инвентаря понадобится ручной или планетарный миксер с насадкой-крюком.
<br>
<strong>Сложность:</strong> легко 👌<br />
<strong>Время приготовления:</strong> 2 часа, из них активной работы — 1 час 20 минут
<br>
Творог нужен именно в брикете — зернистый не подойдет
<br>
<strong>Шаг 1.</strong> Начните разогревать духовку до 180 °C.
<br>
<strong>Шаг 2.</strong> Яйца в глубокой миске слегка взбейте миксером.
<br>
<strong>Шаг 3.</strong> Продолжая взбивать яйца, добавьте сахар в два-три этапа. Взбивайте до тех пор, пока масса не увеличится в объеме и не побелеет.
<br>
Яично-сахарная смесь после взбивания
<br>
<strong>Шаг 4.</strong> Растопите 60 г сливочного масла, я делаю это в микроволновке. Добавьте в яично-сахарную смесь. Взбивайте, пока масса не станет похожа на слегка густой крем.
<br>
<strong>Шаг 5.</strong> Добавьте в смесь часть творога. Взбейте миксером. Продолжайте добавлять творог небольшими порциями и взбивать смесь до однородности.
<br>
После взбивания в смеси останутся маленькие зернышки творога — это нормально
<br>
<strong>Шаг 6.</strong> Добавьте цедру лимона или апельсина, щепотку соли, ванилина и соду. Хорошо перемешайте миксером.
<br>
<strong>Шаг 7.</strong> Добавьте в смесь изюм. Перемешайте до однородности.
<br>
<strong>Шаг 8.</strong> Всыпьте в смесь половину просеянной муки, разрыхлитель, перемешайте до однородности. Добавьте оставшуюся муку и перемешайте.
<br>
<strong>Шаг 9.</strong> Возьмите формы для куличей и наполните их тестом чуть больше, чем наполовину. Лопаткой выровняйте верхушки куличей.
<br>
При выпекании тесто поднимется, поэтому оно не должно занимать больше половины формы
<br>
<strong>Шаг 10.</strong> Выпекайте куличи 40—50 минут при 180 °C до золотистой корочки. Точное время зависит от особенностей духовки. Готовность можно проверить зубочисткой. Если на ней не остается теста, кулич готов.
<br>
<strong>Шаг 11.</strong> Достаньте куличи из духовки и остудите, прежде чем украшать, иначе глазурь потечет.
<br>
<strong>Шаг 12.</strong> Остывшие куличи смажьте глазурью и украсьте посыпкой.
<br>
У готового кулича должна быть золотистая корочка сверху
<br>
1 средний или 2—3 маленьких пушистых кулича обойдутся в 367 ₽.
<br></p>
<br><h2>Мраморный кулич</h2>
<p><br>
Простой рецепт кулича с необычным узором. Он получается благодаря миксу из шоколадного и пшеничного теста.
<br>
<a href="https://www.ozon.ru/product/belyy-shokolad-v-kaplyah-konditerskiy-250-gr-arubio-278724171/">Шоколад для глазури</a> я взяла в каплях — его проще растапливать. Но подойдет и обычный в плитке. У меня белый и темный шоколад, но можно брать и молочный.
<br>
Заранее достаньте все ингредиенты из холодильника: они должны быть комнатной температуры.
<br>
Я буду замешивать тесто в планетарном миксере, если у вас его нет, можно сделать это руками. Технологию <a href="https://youtu.be/6doCNR9g8G4?t62">можно посмотреть в этом видео.</a>
<br>
<strong>Сложность:</strong> легко 👌<br />
<strong>Время приготовления:</strong> 2 часа 30 минут, из них активной работы — 30 минут
<br>
<strong>Шаг 1.</strong> Сливочное масло для обоих видов теста растопите в микроволновке.
<br>
<strong>Шаг 2.</strong> Изюм для обоих видов теста залейте кипятком и оставьте на 5 минут. После обсушите бумажным полотенцем.
<br>
<strong>Шаг 3.</strong> Приготовьте белое тесто. Сахар, муку, дрожжи, соль перемешайте венчиком в отдельной миске.
<br>
<strong>Шаг 4.</strong> В емкости для планетарного миксера насадкой-венчиком перемешайте яйца, молоко комнатной температуры и растопленное сливочное масло.
<br>
<strong>Шаг 5.</strong> В емкость с жидкими ингредиентами добавьте сухие. Месите тесто руками или в планетарном миксере с насадкой-крюком. Сначала замешивайте 5 минут на минимальной скорости, а затем еще 5 минут — на средней.
<br>
<strong>Шаг 6.</strong> В готовое тесто добавьте изюм. Перемешивайте на средней скорости 2—3 минуты. Переложите тесто в миску, накройте пищевой пленкой, отставьте.
<br>
Готовое тесто мягкое, маслянистое, хорошо отстает от рук
<br>
<strong>Шаг 7.</strong> Приготовьте шоколадное тесто. Сахар, муку, какао, соль, дрожжи, ванильный сахар смешайте в отдельной миске.
<br>
<strong>Шаг 8.</strong> Яйца, растопленное сливочное масло и молоко комнатной температуры перемешайте до однородности в емкости для миксера.
<br>
<strong>Шаг 9.</strong> К жидкой смеси добавьте сухие ингредиенты. Замешивайте тесто 10 минут, начиная с низкой скорости и переходя к средней.
<br>
<strong>Шаг 10.</strong> К готовому шоколадному тесту добавьте изюм. Перемешивайте в течение 2—3 минут. Готовое тесто должно быть чуть плотнее белого, но таким же маслянистым.
<br>
Шоколадное тесто переложите в чистую миску, накройте пищевой пленкой.
<br>
<strong>Шаг 11.</strong> Готовое белое и шоколадное тесто отправьте в теплое место для расстойки на час. Если у вашей духовки есть функция «расстойка», уберите обе миски туда.
<br>
Готовое шоколадное тесто хорошо отходит от рук
<br>
После расстойки тесто должно подняться в два раза
<br>
<strong>Шаг 12.</strong> Бумагу для выпечки нарежьте на два равных квадрата. Смажьте листы растительным маслом. Возьмите половину шоколадного теста и выложите на бумаге квадратную лепешку.
<br>
То же самое сделайте с белым тестом. Форма и размер обоих квадратов должны совпадать.
<br>
<strong>Шаг 13.</strong> Одно тесто переложите на другое, снимите бумагу для выпечки сверху и скатайте рулет.
<br>
<strong>Шаг 14.</strong> Нож смажьте растительным маслом и разрежьте тесто вдоль на две равные части. Немного закрутите половинки, чтобы появился узор. Соберите каждую половинку в бублик и выложите в бумажную форму для выпечки. Тесто должно заполнять форму на треть.
<br>
<strong>Шаг 15.</strong> Формы с тестом уберите в теплое место или в духовку с функцией «расстойка» на 45 минут.
<br>
<strong>Шаг 16.</strong> Ближе к концу расстойки начните разогревать духовку до 160 °C.
<br>
<strong>Шаг 17.</strong> Выпекайте куличи 40 минут при 160 °C. Присматривайте за ними: если спустя 20 минут появилась золотистая корочка, накройте верхушки фольгой и выпекайте еще 20 минут. Готовность проверьте деревянной шпажкой: если на ней не осталось теста, можно вынимать формы из духовки.
<br>
Готовые куличи оставьте на час до полного остывания.
<br>
Готовый мраморный кулич
<br>
<strong>Шаг 18.</strong> Сделайте глазурь. Шоколад растопите на водяной бане или поставьте в микроволновку на 30—60 секунд. Когда шоколад растопится, добавьте в него растительное масло. Перемешайте до однородности.
<br>
<strong>Шаг 19.</strong> Покройте куличи шоколадной глазурью. Цедру апельсина натрите на терке, добавьте на верхушки куличей. По желанию можно украсить кондитерской посыпкой.
<br>
Кулич внутри получается с мраморным узором
<br>
4 средних мраморных кулича обойдутся в 533 ₽.
<br></p>
<br><h2>Шоколадный кулич</h2>
<p><br>
Классный вариант для тех, кто любит шоколадную выпечку. Тесто для кулича будем делать с какао и шоколадом, а в качестве цукатов возьмем вяленую вишню.
<br>
Для украшения отлично подойдут лепестки миндаля, тертые орехи, кондитерские шоколадные шарики.
<br>
<a href="https://dvemorkovki.ru/catalog/ingredients/chocolate/shokolad_sicao/4366/">Шоколад для глазури</a> я взяла в каплях — его проще плавить. Но подойдет и обычный в плитке.
<br>
Все ингредиенты нужно заранее достать из холодильника — они должны быть комнатной температуры.
<br>
Замесить тесто можно планетарным миксером или руками. Чтобы измельчить орехи, пригодится блендер, но подойдет и обычный нож.
<br>
<strong>Сложность:</strong> легко 👌<br />
<strong>Время приготовления:</strong> 2 часа 30 минут, из них активной работы — 40 минут
<br>
<strong>Шаг 1.</strong> Сахар и яйца перемешайте венчиком до однородности.
<br>
<strong>Шаг 2.</strong> Сливочное масло растопите в микроволновке или на водяной бане, остудите.
<br>
<strong>Шаг 3.</strong> Молоко подогрейте в микроволновке или на плите примерно до 40 °C. Если нет кулинарного термометра, потрогайте молоко пальцем — оно должно быть теплым, но не обжигающим.
<br>
<strong>Шаг 4.</strong> В яично-сахарную смесь добавьте теплое молоко, дрожжи, соль, остывшее сливочное масло и растительное масло. Перемешайте до однородности.
<br>
<strong>Шаг 5.</strong> Какао просейте, чтобы избавиться от комочков. Муку и просеянное какао смешайте в отдельной миске.
<br>
<strong>Шаг 6.</strong> Сухие ингредиенты всыпьте к жидким. Замесите тесто в планетарном миксере сначала на низкой скорости, а затем постепенно увеличьте скорость до третьей. Замешивайте тесто 10—15 минут миксером или руками.
<br>
<strong>Шаг 7.</strong> Темный шоколад измельчите блендером или ножом. Добавьте в тесто, перемешайте. Из готовой массы сформуйте шар, накройте миску полотенцем и оставьте тесто на час-полтора.
<br>
Готовое тесто плотное и не прилипает к рукам
<br>
Тесто увеличилось примерно в три раза
<br>
<strong>Шаг 8.</strong> Начните разогревать духовку до 170 °C.
<br>
<strong>Шаг 9.</strong> Смажьте руки растительным маслом, достаньте тесто из миски. Обомните его, поделите на три части весом 350—370 г.
<br>
<strong>Шаг 10.</strong> Тесто подкатайте в шарики и разложите в бумажные формы высотой 11 см. Будущий кулич должен занимать половину формы.
<br>
<strong>Шаг 11.</strong> Формы накройте пакетом и полотенцем, оставьте на 20 минут, чтобы куличи поднялись.
<br>
Куличи еще подросли
<br>
<strong>Шаг 12.</strong> Выпекайте куличи 25—30 минут при 170 °C. Готовность проверяйте зубочисткой: она должна выходить из теста сухой.
<br>
Готовым куличам дайте полностью остыть.
<br>
<strong>Шаг 13.</strong> Для глазури разогрейте сливки в микроволновке на максимальной мощности 30—40 секунд.
<br>
<strong>Шаг 14.</strong> Темный шоколад залейте сливками. Перемешайте до однородности.
<br>
<strong>Шаг 15.</strong> Верх кулича обмакните в глазурь, сверху украсьте кондитерскими шоколадными шариками и сушеными лепестками розы.
<br></p>
<br><h4>Сколько стоят ингредиенты для шоколадного кулича</h4>
<p><br>
3 средних шоколадных кулича обойдутся в 847 ₽.
<br></p>
<br><h2>Классический кулич</h2>
<p><br>
Этот вариант кулича готовят на опаре — забродившем кислом тесте. Использовать нужно обязательно прессованные дрожжи — они продаются в виде брикетов. Такие дрожжи активнее сухих, и тесто получится пышнее и ароматнее.
<br>
Сливочное масло и молоко достаньте из холодильника — они должны быть комнатной температуры.
<br>
Для замешивания обязательно нужен планетарный миксер с насадкой-крюком. Ручной миксер не подойдет: тесто не замесится должным образом и может потом не взойти. Если умеете, попробуйте замесить тесто руками.
<br>
Также может пригодиться блендер, чтобы измельчить миндаль. Но его можно и просто порезать ножом. Еще будет нужна пищевая пленка.
<br>
<strong>Сложность:</strong> средне 🤌<br />
<strong>Время приготовления:</strong> 3 часа 30 минут, из них активной работы — 1 час 30 минут
<br></p>
<br><h4>Ингредиенты для классического кулича — на 1 большой и 3 маленьких</h4>
<p><br>
Понадобятся творог жирностью 9% в пачке и прессованные дрожжи
<br>
<strong>Шаг 1.</strong> Приготовьте опару — это перебродившее тесто, основа для классического кулича. Смешайте 70 мл молока и 25 г дрожжей, добавьте 1 ч. л. сахара и 2 ст. л. муки. Закройте пищевой пленкой и дайте опаре подойти 20—30 минут. Она должна подняться и покрыться пузырьками.
<br>
Если этого не произошло, дрожжи не активировались — куличи из такой опары не получатся. Повторите шаг 1.
<br>
<strong>Шаг 2.</strong> Параллельно с опарой подготовьте изюм: замочите в холодной воде на 20—30 минут. Затем обсушите бумажными полотенцами.
<br>
За 30 минут опара заметно поднимется
<br>
<strong>Шаг 3.</strong> Начните разогревать духовку до 170 °C.
<br>
<strong>Шаг 4.</strong> В глубокой миске взбейте миксером мягкое сливочное масло с сахаром. Продолжая взбивать, добавьте по одному яйцу. Взбивайте до состояния пышной белой массы.
<br>
<strong>Шаг 5.</strong> Добавьте в смесь творог, ванильный сахар и половину чайной ложки соли. Взбейте все вместе до однородности.
<br>
<strong>Шаг 6.</strong> Миндаль измельчите с помощью ножа или блендера.
<br>
<strong>Шаг 7.</strong> Замешайте тесто руками или планетарным миксером с насадкой-крюком. Тесто будет липнуть — это нормально.
<br>
<strong>Шаг 8.</strong> В творожную смесь добавьте опару и муку. Вымешивайте тесто на средней скорости 10 минут. Добавьте изюм и измельченный миндаль. Вымешивайте еще пару минут.
<br>
<strong>Шаг 9.</strong> Разложите тесто в формы. Заполняйте формы чуть меньше, чем наполовину, — кулич увеличится в высоту в полтора раза.
<br>
Накройте заготовки пищевой пленкой и дайте тесту подойти 40—60 минут. Когда тесто поднимется, можно выпекать.
<br>
<strong>Шаг 10.</strong> Выпекайте куличи час при 170 °С в средней секции духовки. Когда верхушка станет золотистого цвета, можно проверить готовность зубочисткой: она должна выходить из теста сухой.
<br>
<strong>Шаг 11.</strong> Готовые куличи остудите, покройте глазурью и украсьте посыпкой.
<br>
Если кулич получился ниже формы — ничего страшного. В следующий раз можно будет положить чуть больше теста
<br>
Шапочка из домашней глазури плотная, не стекает по бокам — рецепт в конце статьи
<br>
1 большой и 3 маленьких классических кулича обойдутся в 709 ₽.
<br></p>
<br><h2>Кулич с черничной начинкой</h2>
<p><br>
Нежный кулич с начинкой из черничного крема — вместо черники можно использовать любые замороженные ягоды. Сливки для начинки берите жирностью 35% — они быстрее взбиваются и дают более плотную текстуру.
<br>
Глазурь для этого кулича я делаю <a href="https://www.ozon.ru/product/kremovyy-zefir-marshmellou-krem-volshebnaya-strana-vanilnyy-plombir-200gr-zefirnaya-pasta-dlya-659168782/">из кремового маршмеллоу со вкусом пломбира.</a> Такое украшение удобно наносить как шапочку для кулича, а еще оно быстро застывает. Вместо кондитерской посыпки я купила <a href="https://dvemorkovki.ru/catalog/ingredients/tsvety/10015/">сушеные листья василька.</a>
<br>
Белый шоколад для глазури я взяла в каплях — его проще плавить. Но подойдет и обычный в плитке.
<br>
Все ингредиенты заранее достаньте из холодильника — они должны быть комнатной температуры.
<br>
Из инвентаря понадобится пищевая пленка, ручной или планетарный миксер с насадками «венчик» и «крюк» или <a href="https://bosch-1.ru/product/640245-nasadki-spiral-dlja-zamesa-testa-k-mikseram-bosch-mfq-i-siemens-mq/">«спираль».</a>
<br>
<strong>Сложность:</strong> средне 🤌<br />
<strong>Время приготовления:</strong> 3 часа 30 минут, из них активной работы — 45 минут
<br>
<strong>Шаг 1.</strong> Сливочное масло растопите в микроволновке, дайте ему остыть.
<br>
<strong>Шаг 2.</strong> Приготовьте опару. Молоко подогрейте в микроволновке примерно до 40 °C — у меня на это уходит 30—40 секунд.
<br>
<strong>Шаг 3.</strong> Теплое молоко перелейте в миску, добавьте дрожжи, 1/2 ст. л. сахара от общего количества. Перемешайте. Затем добавьте 1,5 ст. л. муки от общего количества. Снова перемешайте.
<br>
<strong>Шаг 4.</strong> Накройте опару полотенцем и оставьте в теплом месте без сквозняков на 10—20 минут. Масса должна подняться и запузыриться.
<br>
Если этого не произошло, дрожжи не активировались — куличи из такой опары не получатся. Повторите шаг 3.
<br>
Спустя 20 минут дрожжи активировались, появились пузыри
<br>
<strong>Шаг 5.</strong> В отдельную миску добавьте яйца, всыпьте оставшийся сахар, ванилин и соль. Взбивайте миксером с насадкой-венчиком 3—4 минуты. Масса должна посветлеть.
<br>
<strong>Шаг 6.</strong> К опаре добавьте яичную смесь, растопленное сливочное масло, мед, апельсиновую цедру. Хорошо взбейте.
<br>
<strong>Шаг 7.</strong> В смесь постепенно добавляйте просеянную муку и замешивайте тесто насадкой-крюком или спиралью. Готовое тесто вязкое, но не липнет к рукам.
<br>
Готовое к расстойке тесто
<br>
<strong>Шаг 8.</strong> Тесто соберите в единую массу, наденьте на миску пищевую пленку, сверху сделайте небольшое отверстие. Накройте полотенцем и оставьте на первую расстойку на час-полтора. Тесто должно подняться в два раза.
<br>
<strong>Шаг 9.</strong> Подошедшее тесто обомните и оставьте еще на 20—40 минут. Оно должно снова подняться. Общий выход теста — около 1200 г.
<br>
<strong>Шаг 10.</strong> Готовое тесто разделите на три равные части весом примерно 300—400 г. Сформируйте шарики, переложите их в бумажные формы высотой 11 см.
<br>
<strong>Шаг 11.</strong> Накройте формы пакетом и полотенцем. Оставьте на 20 минут.
<br>
В это же время начните разогревать духовку до 170 °C.
<br>
<strong>Шаг 12.</strong> Выпекайте куличи 40 минут при 170 °C. Если спустя 20 минут появилась золотистая корочка, накройте верхушки фольгой. Готовность куличей проверяйте зубочисткой: она должна выходить сухой из теста.
<br>
Готовым куличам дайте остыть.
<br>
<strong>Шаг 13.</strong> Приготовьте начинку. Желатин смешайте с водой, оставьте на 10 минут — он должен набухнуть. Чернику разморозьте в микроволновке.
<br>
<strong>Шаг 14.</strong> Сливки налейте в две разные миски — по 150 и 170 г. Важно не забыть, в какой миске сколько граммов, поэтому можно использовать посуду разного цвета или подписать ее.
<br>
<strong>Шаг 15.</strong> Нагрейте в микроволновке в течение минуты 150 г сливок. Они должны быть горячими, но не кипящими. К сливкам влейте набухший желатин, перемешайте до растворения.
<br>
<strong>Шаг 16.</strong> К смеси добавьте белый шоколад. Перемешайте до однородности.
<br>
<strong>Шаг 17.</strong> Взбейте венчиком 170 г сливок до мягких пиков на средней скорости 1—2 минуты. Сливки должны подняться и слегка держать форму: если провести по взбитой массе венчиком, на ней должны ненадолго остаться следы от насадки.
<br>
<strong>Шаг 18.</strong> Взбитые 170 г сливок добавьте в шоколадно-желатиновую массу, перемешайте до однородности. Затем всыпьте размороженную чернику.
<br>
Накройте массу пищевой пленкой так, чтобы она касалась поверхности, и уберите в холодильник для стабилизации на 40—60 минут.
<br>
<strong>Шаг 19.</strong> У остывших куличей срежьте шапочку, сделайте круглое отверстие для начинки в середине кулича.
<br>
Середину шапочки смажьте небольшим количеством крема — так она лучше приклеится к основной массе.
<br>
Отверстие не делайте глубоким, иначе можно продырявить кулич снизу
<br>
Начинку не жалейте и утрамбовывайте крем ложкой
<br>
<strong>Шаг 20.</strong> Положите шапочку обратно на кулич, немного придавите.
<br>
Покройте кулич кремовым маршмеллоу и украсьте лепестками василька.
<br>
Готовые куличи с черничной начинкой
<br>
2 кулича с черничной начинкой обойдутся в 838 ₽.
<br></p>
<br><h2>Кулич бриошь</h2>
<p><br>
Бриошь — это сладкая булочка на дрожжевом тесте и сливочном масле. Если вы любите воздушную и мягкую выпечку, выбирайте этот рецепт кулича. Он самый нежный из нашей подборки. Но готовить его нужно два дня.
<br>
Все ингредиенты заранее достаньте из холодильника — они должны быть комнатной температуры.
<br>
Из инвентаря понадобится планетарный или ручной миксер с насадкой-крюком. Но можно замесить тесто руками, если умеете.
<br>
<strong>Сложность:</strong> хардкор 🧑‍🍳<br />
<strong>Время приготовления:</strong> 16 часов, из них активной работы — 20—30 минут
<br>
<strong>День 1. Замешиваем тесто.</strong>
<br>
<strong>Шаг 1.</strong> Изюм замочите в холодной воде на 20—30 минут. Обсушите бумажными полотенцами.
<br>
<strong>Шаг 2.</strong> В глубокую миску просейте муку, добавьте сахар, соль, сухие дрожжи. Перемешайте венчиком.
<br>
<strong>Шаг 3.</strong> В миску миксера разбейте яйца и добавьте теплое молоко. Взбейте до однородного состояния.
<br>
<strong>Шаг 4.</strong> Замешайте тесто. В жидкую смесь всыпьте немного сухой, перемешивайте насадкой-крюком. Оставшуюся муку добавьте в два-три приема, продолжая мешать тесто.
<br>
Весь процесс займет 7—10 минут. Если вы замешиваете тесто руками, может потребоваться больше времени.
<br>
<strong>Шаг 5.</strong> Нарежьте размягченное сливочное масло на кусочки. Треть добавьте в тесто, перемешайте миксером. Продолжайте добавлять масло в несколько заходов: кладите следующую порцию, когда предыдущая полностью вмешается в тесто.
<br>
<strong>Шаг 6.</strong> Накройте миску с тестом пищевой пленкой и оставьте при комнатной температуре на 2 часа.
<br>
<strong>Шаг 7.</strong> Обомните тесто руками: вытащите из миски и немного помесите его. Добавьте изюм, перемешайте и снова накройте пищевой пленкой. Уберите тесто в холодильник на 8—12 часов, удобнее всего делать это на ночь.
<br>
<strong>День 2. Выпекаем и украшаем куличи.</strong>
<br>
<strong>Шаг 1.</strong> Утром достаньте тесто из холодильника и оставьте при комнатной температуре на 1—2 часа.
<br>
За ночь тесто увеличилось в объеме
<br>
<strong>Шаг 2.</strong> Выложите тесто в формы. Накройте пищевой пленкой и дайте подойти при комнатной температуре в течение часа.
<br>
Ближе к концу часа начните разогревать духовку до 180 °C.
<br>
Когда выложите тесто в форму, разровняйте верхушку мокрыми руками
<br>
<strong>Шаг 3.</strong> Выпекайте куличи 40—50 минут на среднем уровне духовки при 180 °C. Когда верхушка станет золотистого цвета, можно проверить готовность. Проткните кулич зубочисткой. Если на зубочистке не остается теста, кулич готов.
<br>
<strong>Шаг 4.</strong> Готовые куличи вытащите из духовки и положите на решетку или полотенце на бок. Периодически переворачивайте куличи, пока они не остынут.
<br>
<strong>Шаг 5.</strong> Остывшие куличи украсьте глазурью и посыпками.
<br>
Готовая бриошь с золотистой корочкой
<br>
Кулич с белой глазурью я украсила шоколадными яйцами. А для приготовления розовой глазури добавила в смесь немного красного пищевого красителя
<br>
1 средний и 1 маленький куличи бриошь обойдутся в 264 ₽.
<br></p>
<br><h2>Классическая глазурь для куличей</h2>
<p><br>
Я расскажу, как приготовить глазурь самостоятельно. Более простой вариант — <a href="https://www.ozon.ru/product/dekor-dlya-vypechki-s-pudov-saharnaya-glazur-belaya-3-sht-po-100-g-168316674/">использовать сухую смесь для глазури.</a> Такая глазурь будет более жидкая по сравнению с домашней.
<br>
<strong>Шаг 1.</strong> Отделите белок от желтка. Ножом слегка расколите скорлупу. Возьмите яйцо обеими руками и разломите его на две части. В одной части скорлупы останется желток с небольшим количеством белка, а во второй — только белок.
<br>
Вылейте белок из второй части скорлупы. Затем, переливая желток с белком из первой части скорлупы, с помощью скорлупы отсоедините желток от белка. Вот видео, <a href="https://www.youtube.com/watch?v-sQJTwD2BvE&amp;ab_channelShowSteps">где показан процесс.</a>
<br>
<strong>Шаг 2.</strong> Белок вылейте в глубокую миску. Взбейте миксером на невысокой скорости.
<br>
<strong>Шаг 3.</strong> Постепенно добавляйте к белку сахарную пудру, продолжая взбивать. Когда сахарная пудра закончится, увеличьте скорость до максимума и добавьте лимонную кислоту на кончике ножа.
<br>
Чем дольше вы взбиваете смесь, тем плотнее будет глазурь. Если хочется, чтобы она стекала по бокам кулича, взбейте глазурь чуть-чуть. А если хочется, чтобы она стояла подобно шапочке, то доведите ее до плотной консистенции.
<br>
<strong>Шаг 4.</strong> Готовый кулич украсьте глазурью. Это можно сделать двумя способами. Первый: с помощью ложки или силиконовой лопатки равномерным слоем нанесите глазурь на кулич. Второй: возьмите кулич, переверните его верхушкой вниз и окуните в миску с глазурью. Так получится шапочка из глазури.
<br>
Если взбивать смесь 5⁠—⁠7 минут, получится плотная глазурь, которая не будет стекать
<br>
глазурь на 3—4 средних кулича обойдется в 162 ₽.</p>{% endblock %}