{% extends "Tetxts.html" %}{% block content %}
<br><h2>Прежде чем готовить</h2>
<p><br>
Для настоящей итальянской карбонары используют гуанчале — сыровяленые свиные щеки — и пекорино — твердый сыр из овечьего молока. Такие ингредиенты нужно искать в специализированных магазинах, и стоят они дорого: 300—700 ₽ за 100 г. Поэтому я буду готовить с беконом и пармезаном. Если найдете аутентичные ингредиенты, технология приготовления будет та же.
<br>
Бекон, спагетти и сыр все же стоит брать не самые дешевые: от этого зависит вкус блюда. Паста обязательно должна быть из твердых сортов пшеницы, так она не разварится.
<br>
Может показаться, что соуса получается много, и это нормально. Так паста выйдет сочной, а не сухой.
<br></p>
<br><h2>Как улучшить вкус карбонары</h2>
<p><br>
Советую приготовить для пасты бустер — заготовку из лука, чеснока, тимьяна и сливочного масла, которая придаст блюду великолепный вкус. Можно сделать его заранее и использовать в разных блюдах: заготовка хранится в холодильнике до трех недель. Но этот шаг можно пропустить.
<br>
<strong>Шаг 1.</strong> Лук и чеснок нарежьте мелким кубиком.
<br>
<strong>Шаг 2.</strong> В сотейник налейте оливковое масло, добавьте лук, чеснок и листики тимьяна — веточки не нужны.
<br>
<strong>Шаг 3.</strong> Поставьте сотейник на слабый огонь и добавьте соль. Хорошо перемешайте и оставьте нагреваться. Важно, чтобы огонь был небольшим: так лук выделит влагу, которая потом выкипит.
<br>
<strong>Шаг 4.</strong> Готовьте смесь, периодически помешивая, пока она не станет золотистой и лишняя влага не выкипит. У меня ушло примерно 15 минут.
<br>
<strong>Шаг 5.</strong> Добавьте теплое сливочное масло, перемешайте и готовьте еще 5 минут. Масса должна стать золотисто-коричневой.
<br>
<strong>Шаг 6.</strong> Готовый бустер остудите и переложите в контейнер — его можно хранить в холодильнике до трех недель.
<br></p>
<br><h2>Карбонара с беконом и сливками</h2>
<p><br>
Это не карбонара в классическом понимании, но такая разновидность популярна в России. Думаю, дело в том, что для нашей кухни более привычны сливочные и сладкие вкусы.
<br>
Для подачи будем использовать сырой желток — это вкусный, но не самый безопасный вариант. Если не уверены в качестве яиц, не добавляйте в готовое блюдо желток.
<br>
<strong>Сложность:</strong> средне 🤌<br />
<strong>Время приготовления:</strong> 25 минут
<br>
Бекона можно брать и больше — до 100 г. Регулируйте количество по вкусу. Вместо пармезана подойдет любой другой твердый сыр.
<br>
Из инвентаря понадобится мелкая терка для сыра.
<br>
<strong>Шаг 1.</strong> Поставьте кипятиться воду для пасты. Я не добавляю соль, потому что соус получится достаточно соленым благодаря бекону.
<br>
<strong>Шаг 2.</strong> Пока вода закипает, натрите пармезан на мелкой терке — он понадобится для украшения.
<br>
Я кладу в кастрюлю дуршлаг и уже в нем варю спагетти. Так получится быстро собрать пасту и смешать ее с соусом
<br>
<strong>Шаг 3.</strong> Полоски бекона нарежьте поперек на крупные кусочки длиной с мизинец.
<br>
<strong>Шаг 4.</strong> На холодную сковородку выложите бекон в один слой, чтобы кусочки не накладывались друг на друга. Это нужно, чтобы жир из бекона вышел максимально и при этом мы его не пережарили.
<br>
<strong>Шаг 5.</strong> Когда вода закипит, выложите в кастрюлю спагетти. Варить нужно до состояния альденте. Если на вашей пачке указано только время до готовности, уменьшите его на пару минут.
<br>
<strong>Шаг 6.</strong> Пока паста варится, обжарим бекон. Поставьте сковородку с разложенными кусочками на средний огонь. Как только они начнут легко отходить от поверхности, переверните бекон, поперчите и жарьте еще 30 секунд.
<br>
<strong>Шаг 7.</strong> Когда бекон будет готов, убавьте огонь до минимального. Добавьте на сковородку бустер, мускатный орех и 3 ст. л. воды от спагетти — она соберет со сковороды подгоревшую корочку, которая дает вкус. Все перемешайте.
<br>
<strong>Шаг 8.</strong> Проверьте, приготовились ли спагетти: возьмите одну макаронину и разломите ее — внутри должна быть маленькая белая точка. Это означает, что паста сварена альденте. Переложите ее на сковородку и перемешайте с остальными ингредиентами. Огонь можно выключить, паста доготовится благодаря остаточному теплу.
<br>
Если спагетти переварились, ничего страшного: просто придется съесть пасту побыстрее.
<br>
Внутри спагеттины маленькая белая точка — значит, макароны сварились идеально, нужно вытаскивать
<br>
<strong>Шаг 9.</strong> Добавьте на сковородку сливки и быстро перемешайте спагетти, чтобы соус загустел и все вкусы объединились.
<br>
<strong>Шаг 10.</strong> Выложите карбонару на тарелку, посыпьте блюдо тертым пармезаном. Добавьте в центр желток, если уверены в качестве яйца. Поперчите и украсьте веточкой тимьяна. Сразу же подавайте.
<br>
1 порция карбонары с беконом и сливками обойдется в 228 ₽.
<br></p>
<br><h2>Классическая карбонара</h2>
<p><br>
В исходном рецепте этой пасты нет сливок — только яйца, сыр и мясо. Вкус получается очень насыщенным.
<br>
Традиционные ингредиенты гуанчале и пекорино я заменю на бекон и пармезан, потому что это более доступные продукты. Если раздобудете итальянские деликатесы, алгоритм будет тот же.
<br>
<strong>Сложность:</strong> средне 🤌<br />
<strong>Время приготовления:</strong> 15 минут
<br>
Из инвентаря понадобится очень мелкая терка для сыра — микроплейн — или обычная терка со стороной «звездочки».
<br>
<strong>Шаг 1.</strong> Поставьте кипятиться воду для пасты. Я не добавляю соль, потому что соус получится достаточно соленым благодаря бекону.
<br>
<strong>Шаг 2.</strong> Пармезан натрите в пыль на очень мелкой терке — это нужно, чтобы он быстрее расплавился.
<br>
<strong>Шаг 3.</strong> В миске смешайте 3 желтка и 1 целое яйцо. Добавьте сыр и черный перец.
<br>
<strong>Шаг 4.</strong> Полоски бекона нарежьте поперек на крупные кусочки длиной с мизинец.
<br>
<strong>Шаг 5.</strong> На холодную сковородку выложите бекон в один слой, чтобы кусочки не накладывались друг на друга. Это нужно, чтобы жир из бекона вышел максимально и при этом мы его не пережарили.
<br>
<strong>Шаг 6.</strong> Поставьте сковородку с разложенными кусочками на средний огонь. Как только они начнут легко отходить от поверхности, переверните бекон, поперчите и жарьте до хрустящей корочки.
<br>
Готовый бекон переложите в миску, он понадобится позже.
<br>
<strong>Шаг 7.</strong> Проверьте готовность спагетти: разломите одну макаронину пополам — внутри должна быть маленькая белая точка. Это значит, что паста сварена альденте. Переложите ее на сковородку и смешайте с жиром, который вытопился из бекона.
<br>
<strong>Шаг 8.</strong> В яичную смесь добавьте 3 ст. л. кипятка из-под спагетти и быстро перемешайте. Соус станет более жидким, а сыр начнет плавиться.
<br>
<strong>Шаг 9.</strong> Залейте яичной смесью макароны и быстро перемешайте. Соус начнет быстро густеть.
<br>
<strong>Шаг 10.</strong> Как только соус достаточно загустел, переложите пасту на тарелку и украсьте хрустящим беконом. Подавайте сразу же.
<br>
1 порция классической карбонары обойдется в 293 ₽.</p>{% endblock %}