{% extends "Tetxts.html" %}{% block content %}
<p>Скрэмбл — это другое название болтуньи, очень нежного варианта яичницы.
<br>
Ингредиенты смешивают прямо на сковороде. В результате получается быстрый и сытный завтрак.
<br>
<strong>Сложность:</strong> легко 👌<br />
<strong>Время приготовления:</strong> 10 минут
<br></p>
<br><h2>Прежде чем готовить</h2>
<p><br>
Сливочное масло делает скрэмбл нежным. Если сильно уменьшить его количество, результат может быть другим.
<br>
Из инвентаря я использую сотейник с толстым дном — такая посуда равномерно прогревает яйца — и силиконовую лопатку, ею удобно собирать ингредиенты со дна и перемешивать их.
<br></p>
<br><h2>Пошаговый способ приготовления скрэмбла</h2>
<p><br>
<strong>Шаг 1.</strong> Сливочное масло растопите в сотейнике.
<br>
<strong>Шаг 2.</strong> К маслу добавьте яйца и специи, перемешайте силиконовой лопаткой.
<br>
<strong>Шаг 3.</strong> Продолжайте перемешивать смесь лопаткой каждые 10—15 секунд. Готовьте на огне выше среднего 3—4 минуты. Скрэмбл должен схватиться и не разваливаться на кусочки, при этом остаться нежным.
<br>
<strong>Шаг 4.</strong> Готовый скрэмбл подавайте сразу же.
<br>
2 порции скрэмбла обойдутся в 132 ₽.</p>{% endblock %}