{% extends "Tetxts.html" %}{% block content %}
<p><strong>Сложность:</strong> хардкор 🧑‍🍳<br />
<strong>Время приготовления:</strong> 2—3 дня, из них активной работы — 3 часа
<br></p>
<br><h2>Прежде чем готовить</h2>
<p><br>
В этом рецепте количество ингредиентов указано с точностью до грамма: 190 г яйца, 316 г молока, 63 г шоколада. Советую отмерять продукты на весах: так результат будет максимально предсказуемым.
<br>
<strong>Абрикосовый джем</strong> — важная составляющая торта. Можно заменить его вареньем. Джем отличается более мягкой, пюреобразной текстурой, а еще туда обычно добавляют различные сахара, лимонную кислоту и пектин — желирующее вещество. В составе варенья есть только фрукты или ягоды и много сахара.
<br>
<strong>Какао</strong> — еще один важный ингредиент торта. Оно дает насыщенный шоколадный вкус. В идеале стоит использовать алкализованное какао. Это какао-порошок насыщенного темного цвета, с выраженным вкусом шоколада, иногда с красноватым оттенком. Его продают <a href="https://chocodel.com/catalog/tovar/kakao_poroshok_100_extra_brute_cacao_barry_frantsiya_1_kg/">в специализированных кондитерских магазинах.</a>
<br>
Если вы не нашли алкализованное какао, берите обычное. Получится дешевле, но вкус будет чуть менее выраженным.
<br>
<strong>Коньяк</strong> для пропитки можно заменить другим крепким алкоголем — я взяла ром.
<br>
<strong>Кремов</strong> для торта два: классический заварной и ганаш. Ганаш — это шоколадный крем из жирных сливок и темного шоколада. Желательно взять шоколад 70% или хотя бы 60%: молочный будет слишком сладким. Приготовим два крема отдельно, дадим им стабилизироваться и соединим перед сборкой.
<br>
<strong>Из инвентаря</strong> понадобится венчик, силиконовая лопатка, форма для бисквита, погружной блендер. Ручной или планетарный миксер не обязателен, но поможет взбить яйца с сахаром. А вот без погружного блендера не получится сделать ганаш. Для выпечки коржей понадобится форма — у меня это кондитерское кольцо 16 см. Количество ингредиентов подобрано под этот размер. Если у вас кольцо другого диаметра, можно пересчитать пропорции с помощью <a href="https://paulinecakeclub.ru/pereschyot-ingredientov-dlya-torta-na-druguyu-formu/">специального калькулятора.</a>
<br>
Крем удобно наносить шпателем, а собирать торт — на поворотном столике и кондитерской подложке. Если их нет, можно сделать это на большой ровной тарелке. Украшать торт глазурью лучше с помощью одноразового кондитерского мешка или конверта из пергамента.
<br>
«Прага» — сложный торт. Если хотите подать его в воскресенье, начинать готовить желательно в пятницу вечером.
<br></p>
<br><h2>Пошаговый способ приготовления торта «Прага»</h2>
<p><br>
<strong>День первый, вечер: готовим бисквит, заварной крем и ганаш.</strong>
<br>
<strong>Шаг 1.</strong> Начнем с бисквита. Яйца с сахаром и щепоткой соли взбейте в пышную пену. На это уйдет несколько минут.
<br>
Смесь увеличится в объеме и станет глянцевой
<br>
<strong>Шаг 2.</strong> Нагрейте молоко: оно должно быть горячим. Залейте им какао, перемешайте. Добавьте растительное масло и пробейте погружным блендером до однородности. Получится гладкая, блестящая, однородная, густая масса, похожая на шоколадный крем. Отставьте.
<br>
<strong>Шаг 3.</strong> Смешайте муку и разрыхлитель. Просейте сухие ингредиенты во взбитые яйца в два приема, каждый раз перемешивая массу лопаткой до однородности.
<br>
<strong>Шаг 4.</strong> Несколько столовых ложек получившегося теста добавьте к шоколадной массе и перемешайте до однородности. Это называется «жертва»: она нужна, чтобы тяжелую шоколадно-масляную массу было проще ввести в тесто.
<br>
Соедините оставшуюся шоколадную массу с тестом и еще раз аккуратно перемешайте до однородности.
<br>
<strong>Шаг 5.</strong> Начните разогревать духовку до 175 °C на режиме «верх-низ». Подготовьте форму. Дно кондитерского кольца я обернула плотной фольгой. У меня только одно кольцо, поэтому печь коржи буду по очереди.
<br>
<strong>Шаг 6.</strong> Разделите тесто пополам — примерно по 290 г. Первую часть отправьте в форму.
<br>
Выпекайте в духовке 20—25 минут при 175° C. Готовность проверяйте тонкой деревянной шпажкой или зубочисткой: она должна выходить из коржа чистой.
<br>
<strong>Шаг 7.</strong> Готовый бисквит немного остудите в форме. Вырежьте из кольца и полностью остудите на решетке. Остывший корж оберните в пищевую пленку и уберите в холодильник на ночь: тесту необходимо остыть и отдохнуть, иначе бисквит получится сухим.
<br>
Проделайте то же самое со второй половиной теста.
<br>
<strong>Шаг 8.</strong> Приготовим <a href="https://www.youtube.com/watch?vDGrzAVsGIuA&amp;ab_channelMariaSelyanina">классический заварной крем.</a> Налейте молоко в котелок, добавьте половину сахара и ванильную пасту.
<br>
Доведите до кипения. Снимите с огня, накройте смесь пленкой или крышкой и дайте настояться 10—15 минут, чтобы молоко вобрало аромат ванили.
<br>
<strong>Шаг 9.</strong> Соедините желтки с оставшимся сахаром. Сразу тщательно перемешайте вилкой или венчиком, иначе останутся комочки, которые потом не получится разбить. Добавьте крахмал, перемешайте, не оставляя комков. Отставьте.
<br>
<strong>Шаг 10.</strong> Снова доведите смесь с молоком, сахаром и ванильной пастой до кипения. В миску с желтками и крахмалом добавьте примерно 100 мл молока, то есть треть от общего количества, перемешайте венчиком. Влейте эту смесь обратно в сотейник и нагревайте на среднем огне, непрерывно помешивая венчиком.
<br>
<strong>Шаг 11.</strong> Когда крем начнет густеть, снимите его с огня на 1 минуту, активно мешая. Это нужно, чтобы не дать крахмалу загустеть на плите и в креме не появились комки. Но начинка еще не готова: желтки в ней сырые.
<br>
<strong>Шаг 12.</strong> Верните крем на плиту и доведите до кипения, постоянно помешивая. Варите его еще 20 секунд. Желтки приготовятся, а крахмальный привкус уйдет.
<br>
<strong>Шаг 13.</strong> Крем нужно быстро охладить. Переложите его в пластиковый контейнер или другую тару с плоским дном и перемешайте силиконовой лопаткой, пока не перестанет идти пар.
<br>
<strong>Шаг 14.</strong> Когда увидите, что пар больше не идет, накройте контейнер пленкой так, чтобы она касалась крема. Сразу уберите в холодильник.
<br>
<strong>Шаг 15.</strong> Приготовим ганаш. Доведите сливки до кипения и залейте ими шоколад. Дождитесь, пока он начнет плавиться. Пробейте массу погружным блендером до гладкости.
<br>
Накройте пленкой в контакт и тоже уберите в холодильник на ночь.
<br>
Но после ночи в холодильнике заметно густеет. Останется только его взбить
<br>
<strong>День второй, утро: готовим пропитку, обмазку и глазурь, собираем торт.</strong>
<br>
<strong>Шаг 1.</strong> За ночь бисквиты отдохнули. Срежьте верхушки: они нам еще пригодятся. Должны получиться коржи высотой 3 см. Каждый разрежьте в горизонтальной плоскости еще на два. В итоге получится четыре коржа высотой 1,5 см каждый.
<br>
Отдохнувшие коржи меньше крошатся
<br>
<strong>Шаг 2.</strong> Обрезки измельчите в крошку руками: это будущий декор.
<br>
<strong>Шаг 3.</strong> Подготовьте крем. Взбейте отдельно ганаш и заварной крем на низких оборотах. Будьте внимательны с ганашем: его легко перевзбить. Тогда он расслоится на жир и воду и пойдет комками. Восстановить его будет невозможно.
<br>
Соедините обе смеси лопаткой. Готовый крем хоть и получается нежным, но хорошо держит форму. Переложите его в кондитерский мешок.
<br>
Чтобы заварной крем и ганаш было легко соединить, их нужно немного взбить
<br>
<strong>Шаг 4.</strong> Приготовим пропитку: молоко и коньяк соедините и перемешайте до однородности.
<br>
<strong>Шаг 5.</strong> Пора собирать торт. Для устойчивости первого коржа смажьте подложку каплей крема.
<br>
Выложите первый корж. Пропитайте его, добавив примерно 40 мл пропитки. Выложите крем, разровняйте его кондитерским шпателем или лопаткой.
<br>
Повторяйте операцию до тех пор, пока не закончатся все коржи. Последний бисквит выложите донышком вверх, чтобы получить максимально ровную поверхность. Остатками крема залатайте дыры между коржами.
<br>
<strong>Шаг 6.</strong> Уберите торт в холодильник на 6—8 часов. Он стабилизируется и пропитается.
<br>
<strong>Шаг 7.</strong> Вечером приступаем к декорированию. Покройте торт джемом со всех сторон. Снова уберите в холодильник.
<br>
Если в вашем джеме или варенье есть кусочки фруктов, можно пробить массу блендером — так с ней будет удобнее работать.
<br>
<strong>Шаг 8.</strong> Пока торт охлаждается, приготовим глазурь. Доведите сливки до кипения и залейте ими шоколад. Когда он растает, размешайте до однородности.
<br>
Покройте холодный торт теплой глазурью: из-за контраста температур она схватится быстрее. Остатки глазури сохраните, она понадобится для декора. А торт снова уберите в холодильник.
<br>
<strong>Шаг 9.</strong> Из оставшейся глазури сделайте узор на глазури — у меня это простая сеточка. Припудрите бока торта подготовленной крошкой.
<br>
До подачи держите торт в холодильнике. Важный момент: заварной крем — продукт с небольшим сроком годности, поэтому торт лучше съесть максимум за два дня.
<br>
Готовый торт «Прага». Потраченные силы и время стоят того
<br>
торт «Прага» весом около 1,1 кг диаметром 16 см обойдется в 585 ₽.</p>{% endblock %}