{% extends "Tetxts.html" %}{% block content %}
<p>Наггетсы — это кусочки куриного филе в панировке, обжаренные в растительном масле.
<br>
Их можно есть как закуску или как основное блюдо — нужно лишь добавить гарнир, например пюре или овощной салат. Я люблю немного замариновать куриное филе и добавляю в панировку специи или травы. Так, на мой взгляд, наггетсы получаются вкуснее.
<br>
<strong>Сложность:</strong> легко 👌<br />
<strong>Время приготовления:</strong> 1 час, из них активной работы — 30 минут
<br></p>
<br><h2>Прежде чем готовить</h2>
<p><br>
Куриное филе без кости подойдет как грудки, так и бедра. Если хотите более диетический вариант, берите грудку. Из бедра наггетсы получатся жирнее и сочнее. Курицу можно заменить индейкой.
<br>
Я люблю мариновать курицу в соевом соусе: в нем наггетсы получаются солоноватыми. Вместо соевого соуса курицу можно замариновать в щедрой щепотке соли и специй.
<br>
От панировочных сухарей зависит вкус наггетсов и насколько они будут хрустящими. Я использовала панировку двух видов: <a href="https://www.ozon.ru/product/sen-soy-tempura-hlopya-panirovochnye-yaponskie-100g-787500990/">японские панировочные хлопья</a> и <a href="https://www.ozon.ru/product/suhari-panirovochnye-mageta-150-g-x-3-sht-248801872/">обычные.</a> Они различаются по структуре, но наггетсы с обеими панировками по отдельности получаются хрустящими. Просто в этот раз захотелось разнообразия.
<br>
Совет: покупайте несколько пачек панировочных сухарей. Они имеют свойство заканчиваться в самый неподходящий момент.
<br>
Муки, панировочных сухарей и яиц может понадобиться разное количество в зависимости от размера ваших наггетсов. Если ингредиенты для панировки закончатся в процессе, добавьте еще немного и продолжайте готовить.
<br>
Из инвентаря понадобится пищевая пленка, глубокая сковорода или сотейник.
<br></p>
<br><h2>Пошаговый способ приготовления наггетсов</h2>
<p><br>
<strong>Шаг 1.</strong> Куриное филе помойте и обсушите бумажными полотенцами . Нарежьте на тонкие кусочки длиной 5 см.
<br>
<strong>Шаг 2.</strong> Курицу положите в миску, залейте соевым соусом, добавьте сушеный чеснок и паприку, поперчите. Накройте пищевой пленкой и уберите в холодильник на 30 минут.
<br>
<strong>Шаг 3.</strong> Приготовьте две плоские тарелки и миску. В первую плоскую насыпьте муку, во вторую — панировочные сухари и травы. В миску разбейте яйца и перемешайте их до однородности.
<br>
<strong>Шаг 4.</strong> Когда курица замаринуется, каждый кусочек сначала обмакните в яичную смесь, затем обваляйте в муке, потом снова окуните в яйцо и обваляйте в панировочных сухарях.
<br>
<strong>Шаг 5.</strong> Хорошо разогрейте сотейник или глубокую сковороду. Влейте масло, чтобы оно почти полностью покрывало наггетсы. Обжаривайте курицу на среднем огне до золотистой корочки.
<br>
Готовые наггетсы положите на бумажные полотенца: они впитают излишки масла. Подавайте с любимым соусом.
<br>
Масло не покрывало кусочки полностью, поэтому я переворачивала наггетсы, когда одна сторона была готова
<br>
Готовые наггетсы нужно съедать сразу: горячими они вкусные и хрустящие
<br>
5 наггетсов обойдутся в 445 ₽.</p>{% endblock %}