{% extends "Tetxts.html" %}{% block content %}
<p>Бифштекс — это рубленная вручную котлета из говядины с солью и перцем.
<br>
Я люблю это блюдо за то, что оно позволяет ярко прочувствовать вкус говядины.
<br>
Рецепт простой: не нужно почти ничего, кроме мяса. Расскажу, как правильно порубить и обжарить фарш и какие нюансы стоит учесть.
<br>
<strong>Сложность:</strong> легко 👌<br />
<strong>Время приготовления:</strong> 1 час
<br></p>
<br><h2>Прежде чем готовить</h2>
<p><br>
Идеальное мясо для бифштекса — вырезка из центральной, спинной или головной части: это самая нежная часть говядины. Можно использовать и другие отрубы, например мякоть бедра — она немного жестче. Главное, чтобы в мясе было поменьше жира и жил, иначе бифштекс будет трудно жевать.
<br>
Фарш для бифштекса традиционно рубят ножом. Мясорубка не подойдет: она выдает однородную массу, из которой лучше готовить котлеты. Не стоит брать для блюда и готовый фарш. В таком продукте больше жира, хрящей и воды, и бифштекс из него не получится.
<br>
В качестве приправ я использую только соль и перец, чтобы ничего не отвлекало от вкуса говядины. И добавляю пару капель вустерского соуса
<br>
Из инвентаря понадобится пара ножей или <a href="https://www.ozon.ru/category/kuhonnye-toporiki-dlya-myasa/">топориков</a>: чтобы ускорить приготовление, мясо удобно рубить двумя руками одновременно.
<br></p>
<br><h2>Пошаговый способ приготовления рубленого бифштекса</h2>
<p><br>
<strong>Шаг 1.</strong> Говядину нарежьте тонкими полосками. Если попадутся жилы, удалите их: так у чистого фарша будет более однородная текстура, и бифштекс получится нежным.
<br>
<strong>Шаг 2.</strong> Полоски нарежьте мелкими кубиками со стороной 1 см.
<br>
<strong>Шаг 3.</strong> Мясо разделите на порции размером с кулак. Каждую порцию порубите ножами или топориками — удобнее делать это сразу обеими руками. Периодически перемешивайте мясо и меняйте направление рубки, чтобы нарезка была равномерной.
<br>
Рубите до тех пор, пока мясо не станет похожим на фарш. Затем переходите к следующей порции. У меня ушло примерно 20 минут на то, чтобы измельчить всю говядину.
<br>
<strong>Шаг 4.</strong> Фарш смешайте с солью, перцем и вустерским соусом. Сформируйте две большие котлеты толщиной около 3 см.
<br>
<strong>Шаг 5.</strong> Растительное масло разогрейте в сковороде. Обжарьте бифштексы с обеих сторон.
<br>
Время приготовления зависит от того, какую прожарку мяса вы предпочитаете. Я люблю rare, или мясо с кровью, поэтому жарил на сильном огне по 2 минуты с каждой стороны. Для прожарки medium, или средней, нужно держать мясо на сильном огне по 2 минуты с каждой стороны, а потом еще по 2 минуты на среднем. Если хотите well done — полностью прожаренный бифштекс, ориентируйтесь на 6 минут с каждой стороны.
<br>
<strong>Шаг 6.</strong> Мясо снимите с огня, накройте тарелкой и дайте ему отдохнуть 5—6 минут: так соки равномерно распределятся внутри бифштекса.
<br>
<strong>Шаг 7.</strong> Готовый бифштекс можно подавать с гарниром или без. У меня вариант с яйцом пашот — получилось сытно и красиво.
<br>
2 бифштекса обойдутся в 422 ₽.</p>{% endblock %}