{% extends "Tetxts.html" %}{% block content %}
<p><strong>Сложность:</strong> легко 👌<br />
<strong>Время приготовления:</strong> 1 час, из него активной работы — 15 минут
<br></p>
<br><h2>Прежде чем готовить</h2>
<p><br>
Творог или творожную массу можно взять любые, просто результат будет немного различаться. Если готовить с обезжиренным продуктом, начинка будет рассыпчатой. Более жирный творог плотнее, и с ним начинка лучше держит форму. Если берете творожную массу, добавьте вполовину меньше сахара, потому что масса и так сладкая.
<br>
Соду гасить не надо, солить тоже не будем.
<br>
Сливочное масло нужно заранее достать из холодильника, чтобы оно стало мягким. Обычно хватает 20—30 минут.
<br>
Из инвентаря понадобятся кухонные весы, пекарская бумага и форма с высокими бортами — размер подойдет любой, у меня посуда диаметром 25 см.
<br>
С весами проще ровно отмерить ингредиенты, но можно воспользоваться мерным стаканом
<br></p>
<br><h2>Пошаговый способ приготовления королевской ватрушки с творогом</h2>
<p><br>
<strong>Шаг 1.</strong> Начните разогревать духовку до 180 °С.
<br>
<strong>Шаг 2.</strong> Застелите форму пекарской бумагой и смажьте все маслом — сливочным или растительным.
<br>
<strong>Шаг 3.</strong> Смешайте муку, сливочное масло, соду и сахар — получится мелкая крошка. Я смешиваю вручную в одноразовых перчатках. Тесто будет готово, когда в нем не останется крупных кусочков.
<br>
Чтобы быстро застелить форму, раскройте ее, положите бумагу на круг, закройте форму и отрежьте лишнее
<br>
Перетирайте масло и муку в ладонях — тесто не должно смешаться в один комок, нужна именно крошка
<br>
<strong>Шаг 4.</strong> Теперь займемся начинкой: смешайте творог, яйца, сахар и ванильный сахар. Я делаю это блендером, но можно мешать руками или ложкой.
<br>
<strong>Шаг 5.</strong> Собираем ватрушку. Выложите в форму чуть больше половины теста-крошки, прижмите лопаткой. По краям сделайте небольшой бортик, чтобы творожная начинка не вытекала и не горела.
<br>
Затем выложите всю начинку, разровняйте и засыпьте оставшейся крошкой.
<br>
<strong>Шаг 6.</strong> Запекайте ватрушку 40—45 минут на 180 °С. Готовность проверьте шпажкой: воткните ее в пирог, и если она выйдет сухой — ватрушка готова.
<br>
Готовой ватрушке дайте остыть минут 15—20, после этого она легко отойдет от формы.
<br>
королевская ватрушка диаметром 25 см обойдется в 569 ₽.</p>{% endblock %}