{% extends "Tetxts.html" %}{% block content %}
<p>Сначала нужно сделать шоколадную смесь — ее можно подготовить заранее и хранить в морозилке. Сам напиток легко сварить за несколько минут.
<br>
Шоколад подойдет темный или более сладкий молочный. Я люблю добавлять в напиток специи, но и без них получится вкусно.
<br>
⏳ 50 минут плюс 6—8 часов на заморозку шоколада<br />
🍽️ 7 порций<br />
🍳 блендер с чашей, сотейник, силиконовая лопатка, мелкая терка                                            <br />
<br></p>
<br><h2>Пошаговый способ приготовления горячего шоколада</h2>
<p><br>
<strong>Шаг 1.</strong> Плитку шоколада нарежьте кусочками размером 1—1,5 см. Уберите в морозилку. Я делаю это либо с вечера, чтобы приготовить напиток на следующий день, либо утром — тогда можно будет пить горячий шоколад вечером.
<br>
<strong>Шаг 2.</strong> Сахар, крахмал и соль смешайте с остальными специями. Если используете боб тонка, натрите его на мелкой терке и добавьте к сухим ингредиентам. Пробейте в блендере.
<br>
<strong>Шаг 3.</strong> Замороженный шоколад порционно добавьте в чашу и пробейте. Должна получиться очень мелкая крошка. Если масса начнет плавиться и комковаться, остановите блендер и оставьте смесь как есть. Напиток это не испортит.
<br>
Основа для горячего шоколада готова, ее хватит на 7 порций. Храните ее в закрытом контейнере в морозилке до 3 месяцев.
<br>
<strong>Шаг 4.</strong> Для одной порции напитка в сотейнике смешайте 50 г смеси и 150 г молока. Поставьте на слабый огонь и доведите до кипения, постоянно помешивая. Прокипятите массу 4—5 секунд и снимите с огня.
<br>
<strong>Шаг 5.</strong> Готовый горячий шоколад перелейте в чашку, украсьте какао или взбитыми сливками. Подавайте со стаканом воды, чтобы запивать ею шоколад.</p>{% endblock %}