{% extends "Tetxts.html" %}{% block content %}
<p>На самом деле приготовить вкусную однородную кашу несложно. Главный секрет — постоянно помешивать ее в процессе.
<br>
<strong>Сложность:</strong> легко 👌<br />
<strong>Время приготовления:</strong> 10 минут
<br></p>
<br><h2>Прежде чем готовить</h2>
<p><br>
Если хотите наваристую кашу, готовьте только на молоке. Я люблю менее насыщенный вкус, поэтому разбавляю молоко водой.
<br>
Пропорции для каши я использую такие: 1 ст. л. крупы на 150 мл жидкости. Отталкивайтесь от них, если захотите приготовить больше порций.
<br>
Перед варкой я ополаскиваю дно и стенки кастрюли холодной водой и не вытираю. Мелкие капли воды, которые остаются на стенках посуды, позволяют молоку не пригорать к поверхностям.
<br>
Из инвентаря понадобится только венчик.
<br></p>
<br><h2>Пошаговый способ приготовления манной каши</h2>
<p><br>
<strong>Шаг 1.</strong> Воду и молоко налейте в кастрюлю, добавьте крупу, сахар и соль. Перемешайте венчиком.
<br>
<strong>Шаг 2.</strong> Кастрюлю поставьте на плиту и варите смесь на среднем огне, пока она не закипит, постоянно помешивая венчиком.
<br>
<strong>Шаг 3.</strong> Когда смесь закипит, огонь уменьшите до слабого и варите 3—5 минут до загустения каши. Не переставайте мешать.
<br>
Готовую кашу разлейте в тарелки и подавайте с кусочком сливочного масла, вареньем или орехами.
<br>
1 порция манной каши обойдется в 24 ₽.</p>{% endblock %}