{% extends "Tetxts.html" %}{% block content %}
<p><strong>Сложность:</strong> средне 🤌<br />
<strong>Время приготовления:</strong> 1 час 30 минут, из них активной работы — 30 минут
<br></p>
<br><h2>Прежде чем готовить</h2>
<p><br>
Яблоки для этого рецепта лучше выбирать кисло-сладких сортов. Подойдут «антоновка», «богатырь», симиренко или «гренни смит».
<br>
Муку можно полностью взять высшего сорта, тогда текстура теста будет более гладкой. Сок лайма можно заменить на лимонный, в этом случае достаточно двух столовых ложек.
<br>
Из инвентаря понадобится форма для выпечки диаметром 30 см и скалка.</p>
<br><h2>Пошаговый способ приготовления яблочного пирога</h2>
<p><br>
<strong>Шаг 1.</strong> Растопите сливочное масло. Для этого я ставлю сотейник с маслом на самый медленный огонь.
<br>
<strong>Шаг 2.</strong> В миске смешайте два вида муки, разрыхлитель, 2 ст. л. сахара и соль.
<br>
<strong>Шаг 3.</strong> Добавьте к мучной смеси растопленное сливочное масло и 80 г сметаны.
<br>
<strong>Шаг 4.</strong> Замесите тесто, накройте миску крышкой и дайте тесту отдохнуть при комнатной температуре 15—20 минут. Если в помещении жарко, можно убрать тесто в холодильник.
<br>
<strong>Шаг 5.</strong> Пока тесто отдыхает, подготовьте яблоки. Очистите их от кожуры, разрежьте на четыре части, удалите сердцевину с косточками. Затем каждую четвертинку разрежьте на 4 дольки.
<br>
Толщина долек — 0,5—1 см
<br>
<strong>Шаг 6.</strong> Начните разогревать духовку до 190 °C.
<br>
<strong>Шаг 7.</strong> Для крема выдавите из лайма сок — нужно 3 ст. л. Добавьте 200 г сметаны и 60 г сахара, перемешайте.
<br>
<strong>Шаг 8.</strong> Раскатайте тесто в пласт толщиной около 5 мм. Переложите в форму и равномерно распределите. Форму можно не смазывать: в тесте достаточно масла.
<br>
Крем для пирога. Если у вас совсем кислые яблоки, например антоновка, можно добавить чуть больше сахара — 80 или даже 100 г
<br>
<strong>Шаг 9.</strong> Выложите яблоки на тесто по кругу.
<br>
<strong>Шаг 10.</strong> Залейте яблоки кремом и равномерно его распределите — для удобства можно использовать кулинарную кисть.
<br>
Процесс довольно медитативный — лучше устроиться поудобнее и не спешить
<br>
<strong>Шаг 11.</strong> Выпекайте пирог при температуре 190 °C около 50 минут. Блюдо готово, когда дольки яблок станут мягкими.
<br>
<strong>Шаг 12.</strong> Перед подачей пирог желательно остудить, так он становится ароматнее и лучше держит форму. Я люблю оставлять его в холодильнике на ночь и есть на следующий день.
<br>
яблочный пирог со сметанным кремом обойдется в 317 ₽.</p>{% endblock %}