{% extends "Tetxts.html" %}{% block content %}
<p><strong>Сложность:</strong> легко 👌<br />
<strong>Время приготовления:</strong> 2 часа, из них активной работы — 25 минут
<br></p>
<br><h2>Прежде чем готовить</h2>
<p><br>
Для рецепта понадобится почти целая бутылка сухого белого вина. Брать дорогое не нужно: нюансы его вкуса в готовом блюде вы вряд ли почувствуете. Но и самое дешевое тоже не стоит: оно может оказаться слишком кислым или вообще безвкусным. Можно ориентироваться на 500—600 ₽ за бутылку.
<br>
Для ароматизации использую тимьян, но можно заменить его розмарином — вкус будет чуть другим. Я люблю жарить на топленом масле, но можно использовать любое с нейтральным вкусом.
<br>
Из инвентаря понадобится только форма для запекания с глубокими бортами. У меня керамическая, но подойдет и из других материалов.
<br></p>
<br><h2>Пошаговый способ приготовления запеченной курицы с луком и чесноком</h2>
<p><br>
<strong>Шаг 1.</strong> Курицу натрите солью и перцем и оставьте на час.
<br>
<strong>Шаг 2.</strong> Начните разогревать духовку до 200 °С.
<br>
<strong>Шаг 3.</strong> Лук почистите и нарежьте перьями или полукольцами. Чеснок почистите и придавите тыльной стороной ножа.
<br>
<strong>Шаг 4.</strong> Поставьте сковороду на средний огонь. Добавьте топленое масло. Курицу выложите кожей вниз и обжаривайте 8 минут до золотистого цвета. Затем переверните и готовьте еще 6—7 минут.
<br>
Переложите курицу в форму для запекания. Масло и сок от мяса оставьте в сковороде.
<br>
<strong>Шаг 5.</strong> Лук, чеснок и веточки тимьяна выложите в сковороду. Обжаривайте около 10 минут на медленном огне, постоянно помешивая.
<br>
Обжарка курицы перед запеканием даст ей золотистую корочку
<br>
Лук впитает все соки, которые остались на сковороде после жарки курицы
<br>
<strong>Шаг 6.</strong> В форму для запекания к курице добавьте карамелизированный лук с чесноком и тимьяном, влейте вино. Поставьте в духовку и выпекайте 30—35 минут при 200 °С.
<br>
Готовую курицу подавайте как самостоятельное блюдо или с гарниром.
<br>
Лук в готовом блюде получается сладким и мягким
<br>
3 порции запеченной курицы с луком и чесноком обойдутся в 909 ₽.</p>{% endblock %}