{% extends "Tetxts.html" %}{% block content %}
<p>Этот рецепт идеально подойдет тем, кто не любит творог в холодном виде.
 <br>
А еще он выручает, когда нет сил готовить, а вкусно поесть хочется. Расскажу, как сделать классические ленивые вареники.
 <br>
<strong>Сложность:</strong> легко 👌<br />
<strong>Время приготовления:</strong> 10 минут
 <br></p>
<br><h2>Прежде чем готовить</h2>
<p><br>
Творог для рецепта лучше брать пожирнее — 9—18%. По моим ощущениям, с нежирным творогом вкус получается не таким богатым, а текстура — суховатой.
 <br>
Вареники можно сделать несладкими. Например, я иногда не добавляю сахар и подаю блюдо с песто и пармезаном. Сладкий вариант хорошо дополнит цедра лимона.
 <br></p>
<br><h2>Пошаговый способ приготовления ленивых вареников</h2>
<p><br>
<strong>Шаг 1.</strong> В глубокой миске смешайте творог, яйцо, соль, сахар и ванилин.
 <br>
<strong>Шаг 2.</strong> Начните добавлять муку небольшими порциями. В зависимости от размера яйца и влажности творога ее может понадобиться чуть больше или меньше, чем в рецепте.
 <br>
После добавления каждой порции смотрите, держит ли тесто форму. Если да, больше муку можно не добавлять. Тесто должно легко собираться в комок, но не быть слишком плотным.
 <br>
<strong>Шаг 3.</strong> Готовое тесто разделите на 5—6 частей. Разделочную доску присыпьте мукой и раскатайте каждую часть в колбаску толщиной 1,5—2 см.
 <br>
Затем нарежьте каждую колбаску на ромбы-вареники.
 <br>
<strong>Шаг 4.</strong> В кастрюле доведите воду до кипения. Слегка посолите и добавьте пару капель растительного масла, чтобы вареники не слипались.
 <br>
Выложите в кастрюлю вареники и аккуратно приподнимите со дна шумовкой, чтобы они не прилипли. Дождитесь, пока вареники всплывут, и варите еще минуту.
 <br>
<strong>Шаг 5.</strong> Готовые вареники шумовкой выложите на тарелку. Подавайте со сметаной, сливочным маслом или ягодами — или всем сразу.
 <br>
Кастрюлю лучше выбирать широкую. Если посуда небольшая, лучше варить партиями, чтобы вареники не слиплись.
 <br>
порция ленивых вареников обойдется в 123 ₽.</p>{% endblock %}