{% extends "Tetxts.html" %}{% block content %}
<p>Ее можно приготовить всего из трех ингредиентов: риса, воды и молока.
<br>
Блюдо получается несладким: можно экспериментировать с разными добавками. Например, подать с тыквой и корицей или добавить ягоды, орехи и мед — будет более десертный вариант.
<br>
<strong>Сложность:</strong> легко 👌<br />
<strong>Время приготовления:</strong> 30 минут
<br></p>
<br><h2>Прежде чем готовить</h2>
<p><br>
Рис я использую круглозерный. Его следует замочить заранее — минимум на 4 часа, лучше на ночь. Так рисовые зерна быстрее развариваются и из них уходит лишний крахмал. Каша получается менее клейкой.
<br>
Я советую сперва варить крупу на воде, а затем, когда рис почти готов, добавить молоко. Иначе каша может подгореть, а рис — недовариться.
<br>
Молоко можно использовать коровье или растительное, <a href="https://www.ozon.ru/product/napitok-risovyy-nemoloko-klassicheskiy-layt-obogashchennyy-vitaminami-i-mineralnymi-1615959952">например рисовое</a>, <a href="https://www.perekrestok.ru/cat/215/p/napitok-soevyj-planto-so-vkusom-vanilnogo-plombira-ultrapasterizovannyj-0-7-1l-4312741">соевое</a> или <a href="https://www.ozon.ru/product/rastitelnyy-napitok-kokosovyy-aroy-d-70-1-l-151002032">кокосовое.</a> Часто варю на последнем: оно жирное и каша получается более шелковистой.
<br>
Я готовлю это блюдо без сахара. Иногда добавляю ваниль — <a href="https://www.ozon.ru/product/vanil-struchki-18-22sm-burbon-1-shtuka-1191766196">семена</a> или <a href="https://www.ozon.ru/category/vanilnyy-ekstrakt/">пару капель экстракта.</a> Чтобы сделать кашу слаще, можно замешать в нее пюре из спелого банана за 5—10 минут до конца готовки.
<br></p>
<br><h2>Пошаговый способ приготовления рисовой каши на молоке</h2>
<p><br>
<strong>Шаг 1.</strong> Замоченный рис тщательно промойте проточной водой несколько раз — вода должна стать прозрачной. Это значит, что в крупе не осталось лишнего крахмала.
<br>
<strong>Шаг 2.</strong> Кастрюлю с рисом и водой поставьте на огонь и доведите до кипения, посолите. Огонь убавьте до слабого и варите кашу под крышкой 10 минут, постоянно помешивая. Значительная часть воды должна впитаться в крупу.
<br>
<strong>Шаг 3.</strong> Молоко влейте в кастрюлю, сахар добавьте по желанию. Снова доведите кашу до кипения и варите на слабом огне под крышкой, пока масса не начнет густеть. У меня ушло 12 минут. Рис должен развариться и стать мягким.
<br>
Огонь выключите, добавьте сливочное масло по вкусу и накройте крышкой. Дайте каше настояться 5—10 минут — и можно подавать.
<br>
2 порции рисовой каши на молоке обойдутся в 51 ₽.</p>{% endblock %}