{% extends "Tetxts.html" %}{% block content %}
<p><strong>Сложность:</strong> средне 🤌<br />
<strong>Время приготовления:</strong> 5 часов 30 минут, из них активной работы — 30 минут
<br></p>
<br><h2>Прежде чем готовить</h2>
<p><br>
В этом рецепте количество яиц указано с точностью до грамма. Советую отмерять продукты на весах: так результат будет максимально предсказуемым.
<br>
Дрожжи я использую свежие, но подойдут и сухие — берите их втрое меньше.
<br>
Орехи для начинки годятся любые. У меня — грецкие, но вы можете брать фундук, миндаль, фисташки. Вкус будет богаче, но изделие выйдет дороже.
<br>
Жемчужный сахар — термостабильный сахар, который не желтеет и не плавится в духовке, поэтому кондитеры используют его для декора.
<br>
Сливочное масло для теста обязательно должно быть холодным. Держите его в холодильнике до момента использования.
<br>
<strong>Из инвентаря</strong> понадобится скалка. С замесом теста поможет планетарный миксер, но можно справиться и без него. Чтобы венок получился аккуратным, я использую кондитерское кольцо диаметром 12 см — ставлю его в середину будущего венка до расстойки. Если хотите еще более опрятный результат, можно взять кольцо и для внешнего диаметра: в нашем случае не меньше 20 см. Это не обязательно.
<br></p>
<br><h2>Пошаговый способ приготовления пасхального венка</h2>
<p><br>
<strong>Шаг 1.</strong> Сливочное масло нарежьте небольшими кубиками — со стороной примерно 1,5 см. Уберите в холодильник.
<br>
<strong>Шаг 2.</strong> Приготовим тесто. Смешайте молоко, дрожжи, яйцо и муку до однородности и вымешивайте тесто около 10 минут. Если используете миксер — берите насадку «крюк» и мешайте на второй скорости. Должно получиться плотное комковатое тесто.
<br>
<strong>Шаг 3.</strong> Добавьте в тесто сахар и соль и замешивайте еще 10 минут. Если используете миксер — повысьте скорость до третьей. Тесто плотное, возможно, машине придется помогать: счищать тесто со стенок чаши лопаткой.
<br>
<strong>Шаг 4.</strong> Поэтапно введите в тесто холодное сливочное масло, нарезанное кубиками. Кладите следующий кусочек масла только после того, как вмешался предыдущий. Общее время замеса вместе с этим шагом — около 25 минут.
<br>
<strong>Шаг 5.</strong> Тесто подкатайте в шар, накройте пищевой пленкой и оставьте при комнатной температуре на 30 минут.
<br>
Тесто после получасового отдыха станет более однородным
<br>
<strong>Шаг 6.</strong> Отдохнувшее тесто уберите в холодильник минимум на час.
<br>
<strong>Шаг 7.</strong> Займемся начинкой. Порубите орехи — я делаю это широким ножом. Не стоит мельчить: кусочки орехов придают изделию приятную текстуру. Но и оставлять большие куски тоже не нужно: они порвут тесто.
<br>
<strong>Шаг 8.</strong> Растопите сливочное масло в микроволновке или в сотейнике на медленном огне. Смешайте с орехами, сахаром и корицей. Отставьте.
<br>
<strong>Шаг 9.</strong> Приступаем к формовке венка. Тесто достаньте из холодильника и раскатайте в прямоугольник длиной 35 см и шириной 30 см. Нанесите ореховую начинку и сверните тесто в рулет. Защепите края, чтобы начинка не высыпалась.
<br>
Раскатайте рулет в равномерную по толщине колбасу длиной около 60 см. Следите, чтобы в тесте не было дыр. Если они все же появились — просто защепите их.
<br>
Разрежьте рулет вдоль на две одинаковые части, переплетите их в косу. Сверните ее бубликом, аккуратно соедините края. Во время этого процесса из теста может высыпаться часть орехов — это нормально: просто верните их в тесто.
<br>
Кондитерское кольцо смажьте растительным маслом и поставьте внутрь венка: так тесто при расстойке и выпечке к нему не прилипнет.
<br>
Отдохнувшее тесто после холодильника
<br>
<strong>Шаг 10.</strong> Накройте тестозаготовку пленкой и оставьте при комнатной температуре на 2 часа — она должна увеличиться вдвое.
<br>
Можно убрать венок в холодильник на ночь, так тесто получится ароматнее. В таком случае достаньте его за час до выпекания, чтобы довести до комнатной температуры.
<br>
За два часа расстойки тесто подросло
<br>
<strong>Шаг 11.</strong> Начните разогревать духовку до 180 °С в режиме «верх-низ» или «конвекция». Взбейте яйцо.
<br>
<strong>Шаг 12.</strong> Заготовку смажьте взбитым яйцом, посыпьте жемчужным сахаром и выпекайте в разогретой духовке при 180 °С в течение 30 минут.
<br>
<strong>Шаг 13.</strong> Дайте готовому венку остыть и подавайте.
<br>
пасхальный венок диаметром около 25 см обойдется в 257 ₽.</p>{% endblock %}