{% extends "Tetxts.html" %}{% block content %}
<p>Для этого пирога яблоки режут маленькими кубиками, а в тесто добавляют творог и мак.
<br>
Благодаря особому творожному тесту корж получается плотным и немного влажным, а мак приятно похрустывает, делая текстуру выпечки более интересной.
<br>
<strong>Сложность:</strong> средне 🤌<br />
<strong>Время приготовления:</strong> 1 час 20 минут, из них активной работы — 20 минут
<br></p>
<br><h2>Прежде чем готовить</h2>
<p><br>
Яблоки беру кисло-сладких сортов: <a href="https://vkusvill.ru/goods/yabloko-antonovka-21124.html">«антоновка»</a>, <a href="https://www.auchan.ru/product/yabloki_bogatyr_ves/">«богатырь»</a>, <a href="https://www.perekrestok.ru/cat/153/p/abloki-simirenko-3171926">«симиренко»</a>, <a href="https://lenta.com/product/yabloki-grenni-smit-novyjj-urozhajj-ves-1kg-111129/">«гренни смит».</a> Они хорошо держат форму и делают вкус выпечки сбалансированнее, добавляя приятную фруктовую кислинку.
<br>
Творог лучше выбирать пластичный, не сухой — иначе тесто может получиться тугим и с ним будет сложнее работать. Сметана подойдет средней жирности, 15—25%.
<br>
Часть сахара я иногда заменяю изюмом. Добавляю 50 г сахара и 80 г сухофруктов — текстура пирога становится интереснее, а во вкусе появляется дополнительная сладость.
<br>
Сахар можно использовать любой. В этом рецепте был выбран <a href="https://www.ozon.ru/category/trostnikovyy-sahar-demerara/">трастниковый</a> за его карамельный вкус.
<br>
Сливочное масло стоит достать за 10 минут до готовки: оно должно быть холодным, но не замороженным. Чтобы его было удобнее перетирать в крошку, можно нарезать брикет на небольшие кубики или тонкие пластины.
<br>
Из инвентаря понадобится форма диаметром 24 см. При желании можно использовать бумагу для выпечки и блендер.
<br></p>
<br><h2>Пошаговый способ приготовления пирога с яблоками и маком</h2>
<p><br>
<strong>Шаг 1.</strong> Начните разогревать духовку до 200 °С.
<br>
<strong>Шаг 2.</strong> Муку смешайте с солью, сахаром, маком, корицей и ванильным сахаром.
<br>
<strong>Шаг 3.</strong> Сливочное масло добавьте к сухим ингредиентам и перетрите смесь в крошку. Это удобно сделать вручную или в чаше блендера.
<br>
<strong>Шаг 4.</strong> Творог, яйца и сметану смешайте до однородности в отдельной емкости. Если хотите более кремовой консистенции, дополнительно пробейте массу погружным блендером.
<br>
<strong>Шаг 5.</strong> Творожную смесь смешайте с крошкой из сливочного масла и сухих ингредиентов.
<br>
<strong>Шаг 6.</strong> Яблоки очистите от кожуры и семечек. Нарежьте фрукты маленькими кубиками со стороной 1 см. Смешайте их с тестом.
<br>
<strong>Шаг 7.</strong> Форму для пирога смажьте сливочным маслом и слегка присыпьте мукой. Мучные излишки уберите.
<br>
Такой способ подготовки формы называют французской рубашкой. При желании форму можно застелить бумагой для выпечки и не использовать муку и масло
<br>
<strong>Шаг 8.</strong> Тесто выложите в подготовленную форму, разровняйте его <a href="https://www.ozon.ru/category/kuhonnye-instrumenty-19009/?category_was_predictedtrue&amp;deny_category_predictiontrue&amp;from_globaltrue&amp;text%D1%81%D0%B8%D0%BB%D0%B8%D0%BA%D0%BE%D0%BD%D0%BE%D0%B2%D0%B0%D1%8F+%D0%BB%D0%BE%D0%BF%D0%B0%D1%82%D0%BA%D0%B0">силиконовой лопаткой</a> или ложкой и присыпьте тонким слоем сахара — так на выпечке образуется приятная карамельная корочка. Выпекайте пирог 50—60 минут, пока тесто не станет золотистым. Проверить готовность коржа удобно деревянной шпажкой: она должна выходить из теста сухой.
<br>
Готовый пирог можно подавать горячим с шариком сливочного мороженого или дождаться, когда выпечка остынет, и полить медом.
<br>
пирог с яблоками и маком диаметром 24 см обойдется в 493 ₽.</p>{% endblock %}