{% extends "Tetxts.html" %}{% block content %}
<p>Если хочется сладкого, а под рукой ничего нет, выручают быстрые рецепты десертов.
<br>
<strong>Сложность:</strong> легко 👌<br />
<strong>Время приготовления:</strong> 5—7 минут
<br></p>
<br><h2>Прежде чем готовить</h2>
<p><br>
Ванильный экстракт можно заменить щепоткой ванилина.
<br>
Все сухие ингредиенты отмеряйте столовой ложкой без горки.
<br>
Из инвентаря понадобится кружка для кекса объемом 300—350 мл, которую можно нагревать в микроволновке, например керамическая или из толстого стекла. Но она должна быть без сколов, иначе есть риск, что при нагреве посуда лопнет. Также на кружке не должно быть металлической каймы.
<br></p>
<br><h2>Пошаговый способ приготовления кекса в кружке в микроволновке</h2>
<p><br>
<strong>Шаг 1.</strong> Муку, соль, сахар и какао смешайте в кружке. Если используете ванилин вместо ванильного экстракта, добавьте его на этом этапе. Перемешайте до однородности.
<br>
<strong>Шаг 2.</strong> В кружку добавьте молоко, растительное масло и ванильный экстракт, если используете его. Перемешайте до однородности.
<br>
Тесто должно получиться жидким, по консистенции похожим на сметану. Если тесто густое, добавьте немного молока.
<br>
<strong>Шаг 3.</strong> В смесь добавьте шоколадные капли или кусочки обычного шоколада. Перемешайте. Сверху положите еще немного шоколада.
<br>
Остатки смеси на стенках кружки протрите салфеткой, иначе они пригорят
<br>
<strong>Шаг 4.</strong> Готовьте кекс в микроволновке на высокой мощности 1 минуту — он должен немного увеличиться и запечься.
<br>
Если тесто выглядит сырым, доготовьте его 10-секундными интервалами и проверьте зубочисткой — она должна выходить из кекса сухой.
<br>
Готовый кекс можно украсить сахарной пудрой, мороженым, орешками
<br>
кекс в кружке в микроволновке обойдется в 175 ₽.</p>{% endblock %}