{% extends "Tetxts.html" %}{% block content %}
<p><strong>Сложность:</strong> легко 👌<br />
<strong>Время приготовления:</strong> 30 минут, из них активной работы — 15 минут
<br></p>
<br><h2>Прежде чем готовить</h2>
<p><br>
В классическом варианте блюдо готовят с длинными трубчатыми макаронами — с дырочкой в центре: в СССР их называли просто макаронами. Современный вариант этого изделия — <a href="https://www.auchan.ru/product/makarony-barilla-bucatini-n-9-spagetti-400-g/">букатини.</a> Вместо них <a href="https://www.auchan.ru/product/perysh_shebekinskie_450g223/">можно взять перья.</a>
<br>
Чтобы готовка занимала меньше времени, я покупаю резаные томаты в собственном соку. Вместо них можно взять свежие помидоры и нарезать их кубиками. Сыр — любой полутвердый: российский, маасдам, тильзитер.
<br>
Зелень для украшения подойдет любая: зеленый лук, кинза, укроп. Я взяла петрушку.
<br>
Из инвентаря понадобится терка. Фарш удобно жарить в глубокой сковороде.
<br></p>
<br><h2>Пошаговый способ приготовления макарон по-флотски</h2>
<p><br>
<strong>Шаг 1.</strong> Макароны отварите по инструкции на упаковке.
<br>
<strong>Шаг 2.</strong> Лук и маринованные огурцы мелко нарежьте, морковь натрите на терке.
<br>
<strong>Шаг 3.</strong> Разогрейте сковороду на среднем огне, влейте растительное масло. Обжаривайте морковь 2—3 минуты, затем добавьте лук и обжаривайте еще столько же.
<br>
<strong>Шаг 4.</strong> Фарш добавьте к овощам. Обжаривайте его, постоянно помешивая лопаткой, 5—7 минут.
<br>
Старайтесь разделить фарш на максимальное количество маленьких кусочков
<br>
<strong>Шаг 5.</strong> Томаты и маринованные огурцы добавьте в сковороду, перемешайте. Готовьте смесь на среднем огне, пока томаты не закипят.
<br>
<strong>Шаг 6.</strong> Посолите и поперчите смесь, добавьте хмели-сунели. Накройте крышкой и тушите на среднем огне 5—10 минут.
<br>
<strong>Шаг 7.</strong> Добавьте в сковороду отваренные макароны, перемешайте.
<br>
<strong>Шаг 8.</strong> Нарежьте зелень, натрите сыр на терке. Украсьте макароны по-флотски сыром и зеленью и подавайте.
<br>
4 порции макарон по-флотски обойдутся в 726 ₽.</p>{% endblock %}