{% extends "Tetxts.html" %}{% block content %}
<p><strong>Сложность:</strong> средне 🤌<br />
<strong>Время приготовления:</strong> 1 час 20 минут, из них активной работы — 30 минут
<br></p>
<br><h2>Прежде чем готовить</h2>
<p><br>
Если любите пироги послаще, добавьте к сухим ингредиентам немного ванильного сахара. В заливке тоже можно использовать побольше сахара.
<br>
Вместо муки в крем можно добавить 2 небольших яйца. Тогда сметаны нужно взять 200 г.
<br>
Специального инвентаря не понадобится, только скалка и форма для выпечки. Мне ингредиентов хватило на две формы 15 × 21 см.</p>
<br><h2>Пошаговый способ приготовления пирога с клубникой</h2>
<p><br>
<strong>Шаг 1.</strong> Растопите сливочное масло.
<br>
<strong>Шаг 2.</strong> Муку, разрыхлитель, сахар и соль смешайте в отдельной миске. Добавьте к сухим ингредиентам растопленное масло и сметану.
<br>
Замесите тесто, накройте миску крышкой и дайте тесту отдохнуть 15—20 минут при комнатной температуре. Если на вашей кухне жарко — больше +26 °C, — лучше убрать заготовку в холодильник. В жару масло быстро растает, и с тестом будет неудобно работать.
<br>
Тесто получается рыхлое
<br>
<strong>Шаг 3.</strong> Раскатайте тесто на разделочной доске или бумаге для выпечки — так будет удобнее переложить его в форму.
<br>
Пласт теста должен получиться чуть больше, чем дно вашей формы, — с запасом на бортики.
<br>
<strong>Шаг 4.</strong> Переверните тесто на форму. Уберите доску или лист бумаги и распределите тесто по форме.
<br>
Для прямоугольной формы раскатывайте тесто в прямоугольник, для круглой — в круг
<br>
Можно раскатать и на столе, но тогда обильно присыпайте тесто мукой, чтобы оно не прилипло к поверхности
<br>
<strong>Шаг 5.</strong> Начните разогревать духовку до 190 °С.
<br>
<strong>Шаг 6.</strong> Клубнику нарежьте крупными пластинами или половинками. Распределите ягоды по дну формы.
<br>
<strong>Шаг 7.</strong> Сметану, муку и сахар смешайте до однородности. Распределите крем по поверхности ягод.
<br>
Такой же пирог можно приготовить с малиной
<br>
Крема должно быть примерно вровень с бортиками пирога
<br>
<strong>Шаг 8.</strong> Выпекайте пирог 35—45 минут при 190 °С. У готового пирога тесто должно подрумяниться.
<br>
<strong>Шаг 9.</strong> Готовый пирог остудите и уберите в холодильник на пару часов. Подавайте, когда застынет крем.
<br>
два пирога с клубникой обойдутся в 382 ₽.</p>{% endblock %}