{% extends "Tetxts.html" %}{% block content %}
<p><strong>Сложность:</strong> хардкор 🧑‍🍳<br />
<strong>Время приготовления:</strong> 3 дня, из них активной работы — 2 часа 30 минут
<br></p>
<br><h2>Прежде чем готовить</h2>
<p><br>
<strong>Мед</strong> — главный ингредиент в десерте. Поэтому берите самый ароматный. Хорошо подойдут гречишный, липовый <a href="https://www.wildberries.ru/catalog/13118298/detail.aspx">и лавандовый.</a> Помните, сделать настоящий медовик без меда, заменив его сахаром или еще чем-то, не получится. В нашем случае мед пойдет и в тесто, и в пропитку. Так медовик станет еще более медовым.
<br>
В рецепте есть не только мед, но и сахар. Это не ошибка, а технологическая необходимость. Мед дает аромат и сладость, а также позволяет выпеченным коржам дольше оставаться влажными и свежими. А сахар скрепляет и подслащивает изделие.
<br>
<strong>Лимонный сок</strong> можно заменить лимонной кислотой — возьмите ее на кончике ножа и разведите в чайной ложке воды. Сок лимона понадобится, чтобы погасить соду. Но так делать не обязательно, это больше дань традиции.
<br>
<strong>Для крема</strong> нужна жирная сметана — 15, а лучше 20%. Она плотнее, и крем из нее будет лучше держать форму. Ароматизировать крем можно апельсиновой цедрой, но иногда я добавляю к ней и лимонную: так получается интереснее. Тогда понадобится половина каждого цитрусового. Сахарную пудру можно не покупать, а смолоть из обычного сахара в кофемолке.
<br>
<strong>Из инвентаря</strong> пригодится сотейник — варить основу для теста и пропитку. Дальше я замешиваю тесто в планетарном миксере, но можно сделать это и вручную — с помощью деревянной лопатки. Для раскатки теста нужна скалка, бумага или коврик для выпечки, чтобы коржи не прилипали к поверхности.
<br>
Обычно медовик делают в виде круглого торта. Но я решила поэкспериментировать и сделать из торта прямоугольные порционные пирожные: так их будет удобно есть. Для этого нужна разъемная металлическая рамка: из нее можно сделать как прямоугольник, так и квадрат.
<br>
Если у вас нет такой, берите ту, что есть. Оригинальный рецепт]рассчитан на круглую форму диаметром 22 см. Из теста по рецепту у шефа получается шесть коржей, у меня — семь. Помните: чем меньше диаметр вашей формы, тем больше должно быть коржей. Так торт будет выглядеть менее плоским и более объемным.
<br>
Для сборки медовика в круглой форме пригодится <a href="https://www.wildberries.ru/catalog/60147030/detail.aspx">ацетатная пленка</a> из плотного пластика. Ею оборачивают инвентарь изнутри, чтобы было проще достать готовый торт из формы. Для металлической рамки, как в моем случае, пленка не нужна: форма разъемная и легко снимется.
<br>
Пропитывать коржи удобно с помощью кулинарной кисти. А молоть крошку из обрезков коржей — в блендере. Чтобы крошка была меньше, подключите еще и сито.
<br></p>
<br><h2>Пошаговый способ приготовления медовика</h2>
<p><br>
<strong>День первый, вечер.</strong>
<br>
<strong>Шаг 1.</strong> Сначала приготовим тесто. В сотейнике растопите масло с медом и сахаром на небольшом огне, постоянно помешивая.
<br></p>
<br><h3>Можно ли нагревать мед</h3>
<p><br>
Есть мнение, что мед нельзя нагревать, даже класть в горячий чай. Якобы от этого он становится канцерогенным. Причиной называют повышение уровня гидрооксиметилфурфураля (ГМФ), который в России обычно называют 5-гидроксиметилфурфуролом или оксиметилфурфуролом.
<br>
В качестве доказательства часто приводят <a href="https://pubmed.ncbi.nlm.nih.gov/20725154/">исследование на крысах</a>, в котором большие дозы ГМФ вызывали рак у некоторых животных. Но стоит учитывать, что в этом же исследовании у других двух групп крыс риск развития рака не повысился. Доказательств, что ГМФ повышает риск развития рака у человека, <a href="https://pubmed.ncbi.nlm.nih.gov/21462333/">тоже нет.</a>
<br>
Также стоит помнить, что ГМФ образуется в любых продуктах, где сахар нагревается в кислой среде: <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7221839/#B59-molecules-25-01941">вещество присутствует</a> в любой выпечке, соках, кофе, сушеных фруктах. Сушеные сливы могут содержать <a href="https://onlinelibrary.wiley.com/doi/10.1002/mnfr.200500262">до 2200 мг ГФМ на килограмм</a>, в то время как мед, нагретый до 140 °C, содержит <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3215355/">около 74 мг ГМФ на килограмм.</a> По содержанию ГМФ медовик не опаснее, чем компот из сухофруктов.
<br>
<strong>Шаг 2.</strong> Как только все ингредиенты растворились, добавьте соду. Тщательно перемешайте. Постоянно помешивая, варите смесь до янтарного оттенка. Как только получите яркий песочный цвет, выключите плиту. На моей это заняло 5—7 минут.
<br>
<strong>Шаг 3.</strong> Всю муку всыпьте в смесь, тщательно перемешайте. Тесто будет плотное — лучше использовать деревянную лопатку. Вымесите массу до однородности и переложите в миксер с насадкой-лопаткой.
<br>
Как только вы добавите соду, произойдет химическая реакция: масса вспенится и увеличится в объеме. Так щелочь реагирует на кислоту в меде и лимоне, нейтрализуя ее
<br>
<strong>Шаг 4.</strong> Яйца предварительно разбейте в отдельную емкость и перемешайте. Добавьте смесь в тесто. Делайте это постепенно, перемешивая на небольшой скорости миксера, у меня это вторая из семи. Каждую новую порцию добавляйте, когда предыдущая вмешалась. Получится жидкое тесто. Главное — ни в коем случае не добавляйте муки сверх рецепта, иначе вы забьете тесто и коржи выйдут слишком плотными.
<br>
<strong>Шаг 5.</strong> Готовое тесто заверните в пищевую пленку или вылейте в полиэтиленовый пакет. Уберите в холодильник до полного охлаждения на весь день или на ночь. Тесто станет плотнее, и с ним можно будет работать.
<br>
В итоге получается довольно жидкое тесто, которое стекает с венчика
<br>
<strong>День второй, утро или день.</strong>
<br>
<strong>Шаг 1.</strong> Тесто немного разомните в руках и слегка припудрите мукой.
<br>
<strong>Шаг 2.</strong> Разделите тесто на части — будущие коржи, слегка припылите мукой. На торт диаметром 22 см нужно шесть коржей весом 80 г. Остальное идет на посыпку. Я пеку семь коржей по 81 г. Коржи буду вырезать раздвижной формой размером 22 × 15 см.
<br>
<strong>Шаг 3.</strong> Начните разогревать духовку до 160 °С на режиме «конвекция». Если такого режима нет, включите обычный.
<br>
<strong>Шаг 4.</strong> Перед раскаткой каждый корж вымесите так, чтобы он не прилипал к рукам.
<br>
Раскатайте коржи между двумя листами бумаги для выпечки или на коврике. Периодически снимайте листы, добавляя немного муки. Важно раскатать тесто очень тонко: в духовке оно поднимется.
<br>
Удивительная особенность медовика: чем тоньше раскатать тесто, тем выше поднимутся коржи
<br>
<strong>Шаг 5.</strong> Медовые коржи выпекайте в духовке 5 минут при 160 °С. Они должны немного вздуться и зарумяниться.
<br>
<strong>Шаг 6.</strong> Формой отрежьте лишнее по краям коржей, остудите до комнатной температуры. Обрезки сохраните.
<br>
<strong>Шаг 7.</strong> Пока коржи остывают, приготовьте крем. Смешайте сметану и просеянную сахарную пудру. Взбейте в миксере на средне-высокой скорости или используйте венчик. Добавьте цедру цитрусовых и уберите в холодильник.
<br>
Коржи вышли тонкими и нежными — то, что нужно
<br>
Крем получается очень нежный
<br>
<strong>Шаг 8.</strong> Приготовьте пропитку для коржей.
<br>
Воду с медом доведите до кипения и уберите с плиты, но не остужайте. Пропитывать холодные коржи нужно именно горячим сиропом. Так аромат пропитки раскроется сильнее, а коржи будут мягче.
<br>
<strong>Шаг 9.</strong> Соберите торт. Если используете круглую форму, выложите ее изнутри ацетатной пленкой. Мне она не понадобится: я ставлю коржи сразу в рамку.
<br>
Положите на дно формы корж пористой поверхностью вверх — той, что была на бумаге или коврике. Это важно, потому что так корж вберет больше пропитки. Щедро пропитайте.
<br>
<strong>Шаг 10.</strong> Охлажденный крем разделите на восемь частей по 65 г. Шесть частей крема пойдут на прослойку коржей, остальное — на обмазку верхушки торта и его боков. Выложите крем на корж. Повторите операцию с остальными коржами.
<br>
<strong>Шаг 11.</strong> Торт отправьте в холодильник минимум на 8 часов. Иногда я убираю его на сутки. Нам нужно, чтобы коржи пропитались кремом и стали мягкими.
<br>
<strong>День третий, утро.</strong>
<br>
<strong>Шаг 1.</strong> На следующее утро нужно закончить сборку. Если вы собирали торт в кольце, снимите его, а следом пленку.
<br>
<strong>Шаг 2.</strong> Оставшиеся обрезки коржей измельчите в крошку в блендере — она пойдет на посыпку.
<br>
<strong>Шаг 3.</strong> Посыпьте торт сверху и по бокам крошкой. Чтобы фракция была меньше, а готовое изделие выглядело аккуратнее, сделайте это через сито.
<br>
<strong>Шаг 4.</strong> Нарежьте торт на порционные кусочки. В итоге получается 12 пирожных размером 3,5 × 14 см. Либо один большой торт весом около 1 кг.
<br>
12 порций медовика обойдутся в 441 ₽.</p>{% endblock %}