{% extends "Tetxts.html" %}{% block content %}
<p>Классический сметанник бывает разных видов, например в виде чизкейка или многослойный с пропиткой из крема, — поделюсь рецептом последнего.
<br>
<strong>Сложность:</strong> средне 🤌<br />
<strong>Время приготовления:</strong> 6 часов, из них активной работы — 1 час 30 минут
<br></p>
<br><h2>Прежде чем готовить</h2>
<p><br>
Сметану для торта я беру жирностью не ниже 20%. Тогда крем будет скреплять коржи и не вытечет из торта, но при этом останется нежным.
<br>
Сахарную пудру можно заменить обычным сахаром, но тогда придется дольше взбивать крем, чтобы все кристаллы растворились.
<br>
Все ингредиенты заранее достаньте из холодильника: они должны быть комнатной температуры.
<br>
Из инвентаря понадобится пищевая пленка, бумага для выпечки или силиконовый коврик, блендер и <a href="https://www.ozon.ru/product/kulinarnoe-koltso-dlya-vypechki-20-6-sm-forma-dlya-torta-bez-dna-konditerskoe-koltso-forma-409583931/">кулинарное кольцо диаметром 20 см.</a> Но можно обойтись и без него — просто вырезать коржи тарелкой.
<br></p>
<br><h2>Пошаговый способ приготовления классического сметанника</h2>
<p><br>
<strong>Шаг 1.</strong> Начните разогревать духовку до 180 °С.
<br>
<strong>Шаг 2.</strong> Сначала приготовьте тесто. Сливочное масло с сахаром смешайте в блендере до посветления масла. Сахар должен полностью раствориться.
<br>
<strong>Шаг 3.</strong> К масляно-сахарной массе добавьте сметану, муку, соль и разрыхлитель. Вымесите однородное тесто. Оно не должно липнуть к рукам.
<br>
Нужна однородная консистенция
<br>
Тесто получается нежным, на грани с липким, но к рукам не пристает
<br>
<strong>Шаг 4.</strong> Тесто разделите примерно на 10 кусков. Каждый кусок раскатайте в пласты толщиной около 2 мм на бумаге для выпечки или силиконовом коврике.
<br>
<strong>Шаг 5.</strong> Кондитерским кольцом вырежьте коржи.
<br>
<strong>Шаг 6.</strong> Выпекайте коржи 7 минут при 180 °С. Я рекомендую печь сразу по 3—4 штуки, иначе будет долго. У готового коржа золотистое дно.
<br>
<strong>Шаг 7.</strong> Приготовьте крем. Сметану, творожный сыр, сахарную пудру и ванильный сахар взбейте до однородности.
<br>
<strong>Шаг 8.</strong> Оставьте 3 коржа и 100 г крема для украшения торта.
<br>
<strong>Шаг 9.</strong> Соберите торт. Корж промажьте 2 ст. л. с горкой крема, положите сверху следующий корж и снова промажьте. Повторите со всеми слоями.
<br>
<strong>Шаг 10.</strong> Торт накройте пищевой пленкой в контакт и уберите в холодильник минимум на 4 часа для пропитки.
<br>
<strong>Шаг 11.</strong> Оставшиеся 3 коржа для украшения измельчите блендером в крошку.
<br>
<strong>Шаг 12.</strong> Бока торта обмажьте отложенным кремом, сверху обсыпьте крошкой из коржей.
<br>
Готовый сметанник я украсила абрикосами, но вы можете взять другие ягоды, фрукты или кондитерские посыпки.
<br>
6 порций сметанника обойдутся в 484 ₽.</p>{% endblock %}