{% extends "Tetxts.html" %}{% block content %}
<p>Шарлотку очень легко готовить. Единственная сложность — сделать тесто пышным.
<br>
В этом рецепте я расскажу все нюансы приготовления пирога. Шарлотка получится воздушной и с хрустящей корочкой.
<br>
<strong>Сложность:</strong> легко 👌<br />
<strong>Время приготовления:</strong> 1 час, из них активной работы — 20 минут
<br></p>
<br><h2>Прежде чем готовить</h2>
<p><br>
<strong>Яблоки</strong> для шарлотки стоит брать кислых или кисло-сладких сортов. Это «антоновка», «гренни смит», «симиренко», «слава победителям», «джонаголд», «хани крисп», «пинк леди», «гала».
<br>
Фрукты должны быть крепкими и хрустящими, красного или зеленого цвета. Желтые рыхлые яблоки не подойдут, они превратятся в кашу.
<br>
<strong>Яйца</strong> нужно заранее достать из холодильника — они должны быть комнатной температуры. Так их будет проще взбить в пену.
<br>
<strong>Из инвентаря</strong> понадобится ручной или планетарный миксер с насадкой-венчиком, сито для муки, форма для запекания и бумага для выпечки. Бумагу можно не использовать, если смазать форму сливочным маслом.
<br>
Я использую металлическую форму диаметром 23 см. Подойдут и другие: силиконовая, керамическая или одноразовая из фольги. Но в этом случае время приготовления может меняться — лучше проверять готовность пирога зубочисткой.
<br></p>
<br><h2>Пошаговый способ приготовления шарлотки</h2>
<p><br>
<strong>Шаг 1.</strong> Начните разогревать духовку до 180 °С.
<br>
<strong>Шаг 2.</strong> Яйца разбейте в глубокую миску. Взбейте на средней скорости миксера до однородного состояния.
<br>
<strong>Шаг 3.</strong> Смешайте ванильный сахар с обычным. Продолжая взбивать яйца на средней скорости, добавьте к ним сахар в 4—5 заходов. Добавляйте новую порцию, когда предыдущая полностью вмешается.
<br>
<strong>Шаг 4.</strong> Когда добавите весь сахар, увеличьте скорость миксера до максимума. Взбивайте массу 10—15 минут, пока она не станет пышной, светлой и плотной.
<br>
Яично⁠-⁠сахарная смесь после 15 минут в миксере. Масса увеличилась примерно вдвое и побелела
<br>
<strong>Шаг 5.</strong> Смешайте муку и разрыхлитель, просейте в яичную смесь. На низкой скорости миксера перемешайте ингредиенты до однородного состояния — это займет примерно минуту.
<br>
<strong>Шаг 6.</strong> Яблоки разрежьте, удалите сердцевину и нарежьте на небольшие кусочки толщиной примерно 0,5 см.
<br>
Можно предварительно снять с яблок кожуру, но это не обязательно.
<br>
<strong>Шаг 7.</strong> Форму для запекания застелите пергаментом, переложите в нее яблоки. Сверху вылейте 1/4 теста и перемешайте с яблоками. Затем сверху вылейте оставшееся тесто. Так бисквит и яблоки пропекутся изнутри, а сверху будет хрустящая корочка.
<br>
Размер яблочной пластинки — примерно 2⁠—⁠3 см, толщина — 0,5 см
<br>
<strong>Шаг 8.</strong> Запекайте шарлотку 40—45 минут при 180 °С. Тесто должно подняться и покрыться золотистой корочкой. Готовность проверяйте зубочисткой: она должна выходить из теста сухой.
<br>
<strong>Шаг 9.</strong> Готовую шарлотку остудите и присыпьте сахарной пудрой.
<br>
шарлотка диаметром 23 см обойдется в 127 ₽.</p>{% endblock %}