{% extends "Tetxts.html" %}{% block content %}
<p><strong>Сложность:</strong> легко 👌<br />
<strong>Время приготовления:</strong> 20 минут
<br></p>
<br><h2>Прежде чем готовить</h2>
<p><br>
В этом рецепте я использовала спагетти, но, если этого вида пасты нет под рукой, берите любую другую форму.
<br>
Я приготовила пасту на оливковом масле, но можно использовать подсолнечное или топленое сливочное.
<br>
Специального инвентаря для рецепта не понадобится.
<br></p>
<br><h2>Пошаговый способ приготовления пасты с шампиньонами и черри</h2>
<p><br>
<strong>Шаг 1.</strong> Поставьте на огонь кастрюлю с водой, доведите до кипения, добавьте соль — около 10 г на литр воды. Отварите пасту в соответствии с рекомендациями на упаковке.
<br>
<strong>Шаг 2.</strong> Шампиньоны промойте и обсушите. Если грибы большие, нарежьте их на четвертинки.
<br>
<strong>Шаг 3.</strong> Поставьте сковороду разогреваться на средний огонь, влейте оливковое масло. Обжаривайте грибы, помешивая, около 4 минут до румяного цвета.
<br>
<strong>Шаг 4.</strong> Чеснок очистите и раздавите зубчики плоской стороной ножа. Черри разрежьте на половинки.
<br>
<strong>Шаг 5.</strong> Чеснок добавьте в сковороду, влейте соевый соус. Потушите грибы еще 2—3 минуты, затем добавьте черри. Тушите овощи еще 2—3 минуты — помидоры должны стать мягкими, но держать форму.
<br>
Если соевый соус пригорел, можно добавить немного воды и размешать ингредиенты: так соус соединится с овощами
<br>
<strong>Шаг 6.</strong> Петрушку мелко порубите.
<br>
<strong>Шаг 7.</strong> Готовую пасту смешайте с обжаренными черри и шампиньонами, поперчите. Подавайте, украсив петрушкой и сбрызнув оливковым маслом.
<br>
Готовое блюдо можно по вкусу украсить тертым твердым сыром, например пармезаном или пекорино
<br>
1 порция пасты с шампиньонами и помидорами черри обойдется в 234 ₽.</p>{% endblock %}