{% extends "Tetxts.html" %}{% block content %}
<p><strong>Сложность:</strong> легко 👌<br />
<strong>Время приготовления:</strong> 25 минут, из них активной работы — 15 минут
<br></p>
<br><h2>Прежде чем готовить</h2>
<p><br>
<a href="https://vkusvill.ru/goods/makaronnye-izdeliya-maltalyati-038-rozhki-450-g-61615.html">Макароны я взяла рожки</a> — такие используют в классическом варианте. Но сгодится и другая маленькая паста, например <a href="https://www.ozon.ru/product/makarony-grand-di-pasta-babochki-farfalle-400-g-140800346/">«бабочки» фарфалле</a> или <a href="https://www.ozon.ru/product/makarony-federici-fusilli-spirali-42-iz-tverdyh-sortov-pshenitsy-500-g-135507650/">«спиральки» фузилли.</a>
<br>
От сыра, который вы будете использовать, напрямую зависит вкус готового блюда. Поэтому берите тот, что вам нравится сам по себе. Я люблю добавлять чеддер и моцареллу для пиццы, потому что они отлично плавятся. Подойдет и сыр с более богатым вкусом, например грюйер.
<br>
Мак-энд-чиз иногда запекают в духовке — получается блюдо с хрустящей корочкой. Для этого нужно выложить готовые макароны с сырным соусом в жаропрочную форму, посыпать панировочными сухарями и сыром и отправить в духовку на 10 минут при 180 °С <a href="https://journal.tinkoff.ru/short/oven-modes/">в режиме «верх-низ».</a>
<br>
Молоко и масло должны быть комнатной температуры, поэтому достаньте их из холодильника за 30—40 минут до готовки.
<br>
Из инвентаря понадобится крупная терка и венчик.</p>
<br><h2>Пошаговый способ приготовления мак-энд-чиз</h2>
<p><br>
<strong>Шаг 1.</strong> Макароны отварите по инструкции на упаковке. Если не указано время приготовления до состояния альденте, варите на минуту меньше, чем рекомендует производитель.
<br>
<strong>Шаг 2.</strong> Сыр натрите на крупной терке.
<br>
<strong>Шаг 3.</strong> Сливочное масло растопите в глубокой сковороде или кастрюле. Добавьте муку и готовьте 1—2 минуты на слабом огне, помешивая венчиком.
<br>
Смесь муки и масла станет чуть золотистой и загустеет до консистенции плотного крема
<br>
<strong>Шаг 4.</strong> Влейте молоко, не переставая мешать соус.
<br>
<strong>Шаг 5.</strong> Сыр добавьте в кастрюлю. Продолжайте нагревать и помешивать смесь до однородности около 5 минут.
<br>
Если хотите более жидкий соус, долейте еще немного молока
<br>
<strong>Шаг 6.</strong> Готовые макароны всыпьте в кастрюлю, тщательно перемешайте.
<br>
Подавайте мак-энд-чиз горячим: остывший соус загустеет и не будет тянуться.
<br>
Если вам кажется, что в блюде недостаточно сыра, добавьте еще немного перед подачей
<br>
4 порции мак-энд-чиз обойдутся в 520 ₽.</p>{% endblock %}