{% extends "Tetxts.html" %}{% block content %}
<p>Для многих пышный омлет — это воспоминание из детского сада.
<br>
Обычно его готовят в духовке в больших объемах, но мы повторим блюдо на сковороде — порционно.
<br>
<strong>Сложность:</strong> легко 👌<br />
<strong>Время приготовления:</strong> 15 минут
<br></p>
<br><h2>Прежде чем готовить</h2>
<p><br>
Чтобы омлет получился пышным, готовить его нужно на среднем огне под крышкой.
<br>
Яйца должны быть комнатной температуры. Достаньте их из холодильника за 20—30 минут до приготовления омлета. Холодные яйца будет труднее перемешать до однородности, а омлет не так хорошо поднимется.
<br>
Я люблю готовить омлет на сливочном масле: оно придаст сливочный вкус. Но можно и на растительном.
<br>
Добавки к омлету выбирайте на свой вкус. Это могут быть специи: паприка, карри или смесь сушеных трав, например орегано, петрушки, базилика и розмарина. Омлет хорошо дополняют ветчина, сыр, помидоры. Добавлять их можно прямо на сковородку — перед тем как влить яйца.
<br></p>
<br><h2>Пошаговый способ приготовления пышного омлета</h2>
<p><br>
<strong>Шаг 1.</strong> Яйца разбейте в миску, добавьте к ним молоко и смешайте вилкой. Взбивать не нужно, только хорошо перемешать. Сделать это можно повторяющимися движениями от себя и к себе.
<br>
В смеси не должны образоваться пузырьки, иначе готовый омлет может опасть. Но если они все-таки появились — не страшно, просто дайте смеси отдохнуть 10—15 минут.
<br>
Если после замешивания яиц с молоком ваш будущий омлет выглядит так, надо дать ему отдохнуть
<br>
<strong>Шаг 2.</strong> Посолите яично-молочную смесь, добавьте специи. Перемешайте.
<br>
<strong>Шаг 3.</strong> Растопите сливочное масло на сковороде. Влейте яично-молочную смесь.
<br>
<strong>Шаг 4.</strong> Накройте сковороду крышкой и готовьте омлет 3—5 минут. Омлет поднимется, его низ покроется золотистой корочкой. Подавайте сразу же.
<br>
Готовый омлет можно подавать сложенным пополам или конвертиком
<br>
1 порция омлета обойдется в 75 ₽.</p>{% endblock %}