{% extends "Tetxts.html" %}{% block content %}
<p><strong>Сложность:</strong> легко 👌<br />
<strong>Время приготовления:</strong> 40 минут, из них активной работы — 25 минут
<br>         </p>
<br><h2>Прежде чем готовить</h2>
<p><br>
Фарш для фрикаделек я беру говяжий — мне он нравится больше всего. Можно использовать любой другой на ваш вкус, например куриный, свиной или смесь свиного с говяжьим. Еще я люблю замешивать в фарш пармезан: в сочетании с орегано и базиликом он придает блюду узнаваемый вкус итальянской кухни. Натрите сыр на мелкой терке или купите уже натертый — я так и сделал.
<br>
Томатный сок нужен для подстраховки: добавьте его к фрикаделькам, если соус выпарится слишком сильно. У меня ушел весь стакан, но может понадобиться и меньше. Вместо сока можно долить в соус немного воды.
<br>
Базилик я предпочитаю свежий — он ароматнее. Сушеный тоже подойдет, его хватит по одной чайной ложке в фарш и в соус.
<br>
Из инвентаря понадобится глубокая сковорода, или широкая кастрюля, или сотейник объемом хотя бы 2 л.
<br>
Ингредиенты для фрикаделек в томатном соусе. Из этого огромного пучка зелени понадобилось 3—4 веточки
<br></p>
<br><h2>Пошаговый способ приготовления фрикаделек в томатном соусе</h2>
<p><br>
<strong>Шаг 1.</strong> Лук и чеснок мелко порежьте, половину чеснока отложите. Листья базилика отделите от стеблей. Примерно половину листочков порежьте как можно мельче — они пойдут в фарш.
<br>
Вторую половину базилика отложите. Для соуса понадобятся и листочки, и стебли.
<br>
Половину листочков нужно мелко порубить — примерно как чеснок
<br>
<strong>Шаг 2.</strong> Сотейник или кастрюлю разогрейте на среднем огне. Добавьте растительное масло и обжаривайте лук 4—5 минут до золотистости.
<br>
<strong>Шаг 3.</strong> Протертые помидоры, соль, перец, орегано и стебли базилика добавьте к луку. Доведите соус до кипения и убавьте огонь до минимального. Варите около 15 минут без крышки.
<br>
<strong>Шаг 4.</strong> Фарш выложите в миску. Добавьте к нему мелко нарезанные листья базилика, половину нарезанного чеснока, тертый сыр, соль и перец. Хорошо перемешайте.
<br>
<strong>Шаг 5.</strong> Скатайте шарики диаметром 2,5—3 см. Чтобы фарш не прилипал к рукам, немного намочите их водой.
<br>
Чем однороднее смесь, тем вкуснее фрикадельки: все ингредиенты попадут в каждый комочек
<br>
У меня получилось 38 фрикаделек. Этого хватит на два-три ужина для четырех человек
<br>
<strong>Шаг 6.</strong> Стебли базилика выловите из соуса. Выложите в томатную смесь фрикадельки. Они должны быть полностью покрыты жидкостью, иначе мясо может приготовиться неравномерно. Если соуса недостаточно, долейте томатный сок и перемешайте. Доведите до кипения и оставьте тушиться без крышки на слабом огне 15 минут.
<br>
<strong>Шаг 7.</strong> За пару минут до готовности добавьте в соус оставшиеся листья базилика и чеснок. Подавайте с пастой или другим гарниром.
<br>
40 фрикаделек в томатном соусе обойдутся в 767 ₽.</p>{% endblock %}