{% extends "Tetxts.html" %}{% block content %}
<br><h4>Какие тарталетки будем готовить</h4>
<p><br>
1. С кабачком, помидором, луком и сыром
2. С черри, огурцом и фетой
3. С хумусом, вялеными томатами и тофу
4. С болгарским перцем, помидорами и песто
5. С ветчиной, помидорами и сыром
6. С курицей и морковью по-корейски
7. С беконом и зеленым яблоком
8. С тунцом, яйцом и огурцом
9. С авокадо, творожным сыром и крабовыми палочками]
10. С лимонным курдом
<br></p>
<br><h2>Что нужно знать о тарталетках</h2>
<p><br>
Тарталетки — корзинки из песочного теста диаметром до 10 см. Их можно испечь самостоятельно или купить готовые в супермаркете. Обычно я покупаю уже готовые.
<br>
Тарталетки бывают <a href="https://www.perekrestok.ru/cat/246/p/tartaletki-kit-dla-ikry-30st-2160788">песочные</a> и <a href="https://www.ozon.ru/product/vafelnye-tartaletki-dlya-ikry-salata-morozhenogo-192-sht-kolibri-tartaletki-vafelnye-821791428/?asbce%252BWtMjXo6T99sJUCx9XRxr61dsdLtsxAc%252BccgUr5PY%253D&amp;asb2SfH1tYKqfQXidFl1Cp7VDNTsmejgf-IC1Po9T7YjzWWalb4KZd_nNwR0hUgbB2Xr&amp;avtc1&amp;avte2&amp;avts1700924150&amp;keywords%D1%82%D0%B0%D1%80%D1%82%D0%B0%D0%BB%D0%B5%D1%82%D0%BA%D0%B0&amp;tabreviews">вафельные.</a> Я беру первые: вторые размокают от начинки примерно через 40 минут, поэтому есть их нужно быстро.
<br>
Корзинки можно найти разных размеров: <a href="https://www.ozon.ru/product/tartaletki-18-sht-110-gr-407156990/?asbJP7PsyaGCi6yDgMmLlyERNj%252Btqa0WjB1opuESoO%252FI1Md8dnuVAeR%252BBqUfbQYdqKZ&amp;asb2KIVQLwc_BmuPkAiB6JZwQOCpJqOMMXV0ccpLIAkhT3HGilnF2OrTpbs42Q2RaabCgNCEEaR8fSvXeWPPI0XcDsCqahXLrRUAkuJOu7QmeIQv4rQVvFyr93a_G7U7EhtHjK2YdFxmxLV6GEql6Xgurc4pHUMIqTHv7s50Ik-Adp4&amp;avtc1&amp;avte2&amp;avts1700924150&amp;keywords%D1%82%D0%B0%D1%80%D1%82%D0%B0%D0%BB%D0%B5%D1%82%D0%BA%D0%B0">на один укус</a> или <a href="https://www.ozon.ru/product/tartaletka-salatnaya-18-sht-779667492/?asbq3kAnII8XRfUNAZXo3GO6mIUmOOK5C%252FGEGYcKDV9v6k%253D&amp;asb27dLcyavoAog7EaOruGO8mBl-95_gaYP-Iaa5OTULAq0mxjeLt9MAH6CN-1_tNidu&amp;avtc1&amp;avte2&amp;avts1700924086&amp;keywords%D1%82%D0%B0%D1%80%D1%82%D0%B0%D0%BB%D0%B5%D1%82%D0%BA%D0%B0">на две столовые ложки салатной начинки.</a> Я предпочитаю брать на один укус: так начинка не вывалится.
<br></p>
<br><h2>Тарталетки с кабачком, помидором, луком и сыром</h2>
<p><br>
Очень сочная овощная тарталетка. Рекомендую подавать в теплом виде, но и холодная корзинка тоже будет вкусной.
<br>
<strong>Сложность:</strong> легко 👌<br />
<strong>Время приготовления:</strong> 30 минут
<br>
Сыр подойдет любой, который хорошо плавится, — например, гауда, чеддер или «Российский». Приправы берите свои любимые, у меня — <a href="https://lenta.com/product/ref-smesi-i-universalnye-pripravy-prochie-tovary-rossiya82-624551/">«Томаты и оливки».</a>
<br>
Из инвентаря пригодятся терка, противень и бумага для выпечки.
<br>
<strong>Шаг 1.</strong> Начните разогревать духовку до 200 °С.
<br>
<strong>Шаг 2.</strong> Кабачок и перец нарежьте кубиками, лук мелко порубите.
<br>
<strong>Шаг 3.</strong> Сливочное масло растопите в сковороде и тушите овощи до мягкости 5—10 минут.
<br>
<strong>Шаг 4.</strong> Яйцо, соль, перец и приправы добавьте в отдельную миску. Перемешайте вилкой.
<br>
<strong>Шаг 5.</strong> Сыр натрите на терке, черри мелко нарежьте.
<br>
<strong>Шаг 6.</strong> В тарталетки положите тушеные овощи, добавьте черри, яичную смесь и сыр.
<br>
<strong>Шаг 7.</strong> Противень застелите бумагой для выпечки, выложите на него тарталетки и выпекайте в духовке 15—20 минут при 200 °С до золотистой корочки.
<br>
<img alt="Готовая тарталетка с кабачком, помидором, луком и сыром" src="https://opis-cdn.tinkoffjournal.ru/mercury/10-tartaletok-02.atlwlgkbtk02..jpg" />
<br>
Готовая тарталетка с кабачком, помидором, луком и сыром
<br>
8 тарталеток с кабачком, помидором, луком и сыром обойдутся в 271 ₽.
<br></p>
<br><h2>Тарталетки с черри, огурцом и фетой</h2>
<p><br>
Вариант тарталеток для тех, кто любит солененькое: фета довольно соленая. Если хотите более нейтральный вкус, замените ее творожным сыром.
<br>
<strong>Сложность:</strong> легко 👌<br />
<strong>Время приготовления:</strong> 15 минут
<br>
<strong>Шаг 1.</strong> Укроп мелко нарежьте, добавьте к фете. Разомните вилкой.
<br>
<strong>Шаг 2.</strong> Чеснок мелко нарежьте ножом или с помощью чеснокодавки. Добавьте в миску с фетой.
<br>
<strong>Шаг 3.</strong> Черри разрежьте на четыре части. Огурец нарежьте полукружочками.
<br>
<strong>Шаг 4.</strong> В тарталетки выложите фету с укропом, черри и огурцы. Украсьте каждую тарталетку листиком петрушки.
<br>
В тарталетку можно положить больше овощей или добавить рыбу
<br>
8 тарталеток с черри, огурцом и фетой обойдутся в 195 ₽.
<br></p>
<br><h2>Тарталетки с хумусом, вялеными томатами и тофу</h2>
<p><br>
Эта необычная начинка для тарталеток подойдет тем, кто не ест мясо и рыбу. Тофу богат белком, поэтому хорошо насыщает.
<br>
<strong>Сложность:</strong> легко 👌<br />
<strong>Время приготовления:</strong> 15 минут
<br>
Тофу сам по себе безвкусный и приобретает вкус того продукта, с которым его готовят. Мне нравится брать <a href="https://ashaindia.ru/tofu-italjanskij-300-g/">готовый тофу со специями:</a> так его не нужно дополнительно мариновать.
<br>
Хумус — это закуска из турецкого гороха нута с добавлением кунжутной пасты тахини. Можно купить <a href="https://lenta.com/catalog/bakaleya/zapravki-sousy/humus-urbech/?utm_referrerhttps%3A%2F%2Fwww.google.com%2F">в супермаркете</a> или заказать <a href="https://www.ozon.ru/category/produkty-pitaniya-humus/">на маркетплейсе.</a>
<br>
Сушеные травы берите любые, какие нравятся, у меня — базилик.
<br>
<strong>Шаг 1.</strong> Тофу и вяленые томаты нарежьте мелкими кубиками. Чеснок мелко порубите.
<br>
<strong>Шаг 2.</strong> Тофу, вяленые томаты и чеснок смешайте. Добавьте специи, посолите, поперчите по вкусу.
<br>
<strong>Шаг 3.</strong> В каждую тарталетку положите 1 ст. л. хумуса, сверху выложите начинку.
<br>
8 тарталеток с хумусом, вялеными томатами и тофу обойдутся в 266 ₽.
<br></p>
<br><h2>Тарталетки с болгарским перцем, помидорами и песто</h2>
<p><br>
Эти тарталетки получаются насыщенными по вкусу из-за песто в составе. Рекомендую готовить и подавать на стол поэтапно: соус может размочить песочную тарталетку.
<br>
<strong>Сложность:</strong> легко 👌<br />
<strong>Время приготовления:</strong> 15 минут
<br>
<strong>Шаг 1.</strong> Болгарский перец нарежьте квадратиками, черри порежьте на четыре части.
<br>
<strong>Шаг 2.</strong> В тарталетку добавьте 1 ст. л. песто, сверху положите черри и болгарский перец.
<br>
<strong>Шаг 3.</strong> Посолите, поперчите, добавьте специи по вкусу.
<br>
8 тарталеток с болгарским перцем, помидорами и песто обойдутся в 222 ₽.
<br></p>
<br><h2>Тарталетки с ветчиной, помидорами и сыром</h2>
<p><br>
Классический вариант тарталетки. Получается как мини-пицца, только в песочном тесте. Подавать лучше горячей.
<br>
<strong>Сложность:</strong> легко 👌<br />
<strong>Время приготовления:</strong> 30 минут
<br>
<strong>Шаг 1.</strong> Начните разогревать духовку до 180 °С.
<br>
<strong>Шаг 2.</strong> Сыр натрите на терке, ветчину мелко нарежьте кубиками, черри разрежьте на четвертинки.
<br>
<strong>Шаг 3.</strong> Яйцо разбейте в отдельную тарелку, взбейте его вилкой, добавьте майонез или сметану, специи. Перемешайте.
<br>
<strong>Шаг 4.</strong> Яичную смесь смешайте с сыром, ветчиной и черри.
<br>
<strong>Шаг 5.</strong> Разложите начинку в тарталетки.
<br>
<strong>Шаг 6.</strong> Противень застелите бумагой для выпечки, выложите на него тарталетки и выпекайте в духовке 15—20 минут при 200 °С до золотистой корочки.
<br>
8 тарталеток с ветчиной, помидорами и сыром обойдутся в 270 ₽.
<br></p>
<br><h2>Тарталетки с курицей и морковью по-корейски</h2>
<p><br>
Сочная и пикантная корзинка. Если любите поострее, берите острую морковь по-корейски.
<br>
<strong>Сложность:</strong> легко 👌<br />
<strong>Время приготовления:</strong> 15 минут
<br>
<strong>Шаг 1.</strong> Готовое филе грудки нарежьте мелкими кусочками. Сыр натрите на терке.
<br>
<strong>Шаг 2.</strong> Курицу, сыр, морковь и сметану или греческий йогурт смешайте в отдельной тарелке. Посолите и поперчите по вкусу.
<br>
<strong>Шаг 3.</strong> Начинку выложите в тарталетку.
<br>
8 тарталеток с курицей и морковью по-корейски обойдутся в 467 ₽.
<br></p>
<br><h2>Тарталетки с беконом и зеленым яблоком</h2>
<p><br>
Необычная тарталетка, которая удивит гостей сочетанием соленого бекона и кислого яблока.
<br>
<strong>Сложность:</strong> легко 👌<br />
<strong>Время приготовления:</strong> 20 минут
<br>
<strong>Шаг 1.</strong> Половину яблока очистите от кожуры, удалите сердцевину. Нарежьте фрукт на восемь долек.
<br>
<strong>Шаг 2.</strong> Полоски бекона разрежьте пополам. Каждую дольку яблока оберните в половинку полоски.
<br>
<strong>Шаг 3.</strong> Разогрейте сковороду, выложите яблоко в беконе. Обжаривайте до золотистой корочки.
<br>
<strong>Шаг 4.</strong> Яблоки в беконе выложите на бумажные полотенца, чтобы убрать лишний жир.
<br>
<strong>Шаг 5.</strong> Сметану смешайте со сливочным хреном.
<br>
<strong>Шаг 6.</strong> В тарталетку положите сметанный соус — примерно 1/2—1 ч. л., чтобы корзинка была заполнена чуть больше чем наполовину.
<br>
<strong>Шаг 7.</strong> Дольки яблока разрежьте пополам и выложите поверх тарталеток.
<br>
8 тарталеток с беконом и зеленым яблоком обойдутся в 246 ₽.
<br></p>
<br><h2>Тарталетки с тунцом, яйцом и огурцом</h2>
<p><br>
Классическая рыбная тарталетка для праздничного стола. Тунца лучше взять <a href="https://vkusvill.ru/goods/tunets-zheltoperyy-file-kusochki-naturalnyy-140-g-19652.html">в кусочках</a>, а не мелко рубленного. Можно заменить крабовыми палочками или другой консервированной рыбой.
<br>
<strong>Сложность:</strong> легко 👌<br />
<strong>Время приготовления:</strong> 15 минут
<br>
<strong>Шаг 1.</strong> Яйца сварите вкрутую — на это уйдет 10 минут. Остудите.
<br>
<strong>Шаг 2.</strong> Отваренные яйца мелко нарежьте. Тунца и огурец нарежьте кубиками.
<br>
<strong>Шаг 3.</strong> Огурец, яйца и тунца смешайте в отдельной тарелке. Добавьте греческий йогурт. Посолите и поперчите по вкусу, перемешайте.
<br>
<strong>Шаг 4.</strong> Тарталетки наполните начинкой.
<br>
8 тарталеток с тунцом, яйцом и огурцом обойдутся в 234 ₽.
<br></p>
<br><h2>Тарталетки с авокадо, творожным сыром и крабовыми палочками</h2>
<p><br>
Очень нежная и сбалансированная тарталетка, если не хочется делать рыбную корзинку.
<br>
<strong>Сложность:</strong> легко 👌<br />
<strong>Время приготовления:</strong> 15 минут
<br>
<strong>Шаг 1.</strong> Авокадо разрежьте пополам, удалите косточку. Ложкой снимите мякоть с кожуры.
<br>
<strong>Шаг 2.</strong> Мякоть авокадо, соль, перец и лимонный сок смешайте в тарелке. Вилкой размягчите в пюре.
<br>
<strong>Шаг 3.</strong> Огурец и крабовые палочки нарежьте мелким кубиком.
<br>
<strong>Шаг 4.</strong> Пюре из авокадо, творожный сыр, крабовые палочки и огурец смешайте.
<br>
<strong>Шаг 5.</strong> Тарталетки наполните начинкой.
<br>
8 тарталеток с авокадо, творожным сыром и крабовыми палочками обойдутся в 521 ₽.
<br></p>
<br><h2>Тарталетки с лимонным курдом</h2>
<p><br>
Кислая тарталетка с лимонным курдом идеально подойдет для завершения праздника. Для красивой подачи можно украсить меренгой — взбитыми запеченными белками.
<br>
<strong>Сложность:</strong> легко 👌<br />
<strong>Время приготовления:</strong> 20 минут
<br>
<strong>Шаг 1.</strong> Белки отделите от желтков. Поместите желтки в небольшую кастрюлю.
<br>
<strong>Шаг 2.</strong> К желткам добавьте сахар и лимонный сок. Тщательно перемешайте венчиком до однородности.
<br>
<strong>Шаг 3.</strong> Варите смесь на слабом огне 3—5 минут до загустения, постоянно помешивая.
<br>
<strong>Шаг 4.</strong> Сливочное масло нарежьте небольшими кубиками и частями введите в курд, хорошо перемешивая.
<br>
<strong>Шаг 5.</strong> Курд разлейте по тарталеткам, уберите их в холодильник на 1—2 часа, чтобы начинка затвердела.
<br>
Готовая тарталетка с лимонным курдом после ночи в холодильнике. У меня были оранжевые желтки, поэтому начинка получилась темной
<br>
6 тарталеток с лимонным курдом обойдутся в 281 ₽.</p>{% endblock %}