{% extends "Tetxts.html" %}{% block content %}
<p>Сегодня для многих россиян вопрос улучшения жилищных условий является актуальным. Для тех<strong>,</strong> кто особенно остро нуждается в помощи, государство предусмотрело субсидию на приобретение жилья.
<br>
Рассказываем, кто может претендовать на господдержку и как ее получить.
<br></p>
<br><h2>Что такое жилищная субсидия</h2>
<p><br>
Жилищная субсидия представляет собой финансовую поддержку из бюджета федерального или местного уровня определенным группам населения на покупку квартиры. Помимо приобретения жилья, есть еще несколько видов субсидий: на оплату коммунальных платежей, безналичная и безвозмездная.
<br>
Жилищная субсидия представляет собой сертификат с определенным номиналом без права обналичивания, который имеет целевое назначение и ограниченный срок для ее использования. Сертификат по своей стоимости перекрывает только метры площади из расчета по нормативам, свыше этого гражданин оплачивает самостоятельно.
<br></p>
<br><h2>На что направить средства</h2>
<p><br>
Есть несколько вариантов использования жилищного сертификата:
<br>
- как первый взнос за квартиру или дом при ипотечном кредитовании;
- для погашения действующей ипотеки;
- для паевого участия при строительстве нового жилья и вступления в ЖСК;
- для расширения имеющегося жилья, которое по своей площади меньше социальных нормативов.
<br>
Финансовая поддержка государства на покупку или строительство жилья в виде субсидии может быть использована один раз в жизни. Те, кто воспользовались полученным на эти цели сертификатом, не могут повторно претендовать на такого рода помощь.
<br></p>
<br><h2>Кому положена</h2>
<p><br>
Ряд категорий, имеющих право на субсидирование покупки жилья, определены федеральными законодательными актами. К группам граждан, которые вправе подать документы на получение государственной субсидии, относятся:
<br>
- многодетные семьи с детьми до 18-летнего возраста (при условии обучения по очной форме в вузе или нахождения по призыву на воинской службе возрастная планка устанавливается в 23 года);
- молодые семьи до 30 лет;
- малоимущие, нуждающиеся в получении жилья;
- военнослужащие, в том числе уволенные в запас;
- работники на государственной службе и бюджетники;
- специалисты, получившие соответствующее образование и переехавшие в сельскую местность для работы на сельхозпредприятиях;
- участники и инвалиды ВОВ, а также их семьи;
- дети, оставшиеся без попечения родителей или сиротами.
<br>
Все эти граждане могут обратиться за получением государственной помощи в форме жилищной субсидии, если на дату оформления заявления и предоставления документов они являются нуждающимися в улучшении жилищных условий.
<br></p>
<br><h2>Условия для получения</h2>
<p><br>
Нормы, устанавливающие порядок выдачи субсидий на жилье, перечислены в региональных и федеральных нормативных документах. Согласно им, сертификат на приобретение квартиры могут получить те граждане, чья жилплощадь является меньшей по метражу из расчета норматива жилой площади на семью и не отвечает установленным требованиям. Также за помощью можно обратиться, если жилье является помещением в общежитии или коммунальной квартире и в ней проживают несколько семей в родственных отношениях.
<br>
Кроме того, претендентам на субсидию до момента получения сертификата нужно располагать собственным жильем, чтобы к моменту приобретения нового с добавлением государственных средств его продать. Не лишним будет иметь финансовые средства, которые потребуется добавить к сертификату, чтобы выплатить полную стоимость новой жилплощади. До момента получения жилищной субсидии лучше позаботиться о поиске подходящего жилья. Оно должно быть чистым с юридической стороны: не находиться в обременении, под залогом или арестом.
<br>
Фото: Zelenskaya/shutterstock
<br></p>
<br><h2>Как оформить</h2>
<p><br>
Претендентам на жилищную субсидию необходимо обратиться с заявлением и полным пакетом документов в специализированный центр, где работает комиссия по вопросу предоставления жилищной субсидии. Для получения субсидии нужно предоставить оригиналы и копии:
<br>
- паспорт заявителя и документы личного характера всех членов семьи — паспорта или свидетельства о рождении;
- свидетельство о браке, если супруги официально зарегистрированы;
- справку из жилищной компании о составе семьи;
- документ о принадлежности к льготной категории для получения помощи на покупку жилья;
- правоустанавливающие документы или договор соцнайма на имеющуюся жилплощадь;
- при наличии представляются документы о праве на дополнительные квадратные метры площади;
- копию лицевого счета.
<br>
Как правило, комиссии работают при местных администрациях, а срок рассмотрения документов составляет примерно месяц. Если заявление одобряется, то семья становится в очередь на получение жилищной субсидии]. В случае отказа документы возвращаются заявителю с указанием причины. После выдачи сертификата семье дается полгода на использование суммы, указанной в нем. Она перечисляется на банковский счет получателя субсидии, а затем переводится продавцу.</p>{% endblock %}